[2019-05-21 12:39] raveesh-me opened #3 "[Docs] Use pubspec's ref attribute maybe?"
Hi!
In the user's guide,

[code]

This is the format given to import the package to the flutter project. However, this ends up in error message:
[code]

On MacOS, with everything else to latest.

Please consider using ref: attribute as mentioned in the official pub docs.
`https://dart.dev/tools/pub/dependencies#git-packages`

Also, this works fine:

[code]

[2019-05-21 13:59] raveesh-me opened #4 "[API Design][No Orders API] Review from a first test"
Hi! I reviewed the plugin live, as I was trying to implement a client project,
Here are my key findings:

1. Current API surface does not have any way to deal with the orders API
-> PaymentSuccessResponse has only payment_id, not the best way to deal with this
2. Callbacks are good, but we could have designed the API in a little better way(promises / async / await)

I have archived the video, but

[2019-05-21 14:05] raveesh-me commented on #4
Also using callbacks does not allow you to enforce function signatures either.

[2019-05-22 05:35] #3 closed

[2019-05-22 05:35] umanghome commented on #3
Thanks for reporting!

[2019-05-22 17:28] ChintanAcharya commented on #4
@raveesh-me We'll be adding support for Orders API soon.

[2019-05-24 02:02] SlickSlime commented on #3
The current method mentioned in the User Guide is also resulting in error!

[code]

Error
[code]

[2019-05-24 09:31] umanghome commented on #3
@SlickSlime It seems to work for us.

We've updated the documentation to mention the tag instead of the commit hash, and it works for both (tag and commit hash) for us.

What version of git are you using? Can you try cloning this repository and then running `git rev-list --max-count=1 v1.0.0-alpha` in the cloned directory?

[2019-05-28 11:31] vivekkujur opened #10 "Unable to find explicit activity class com.razorpay.CheckoutActivity}; have you declared this activity in your AndroidManifest.xml?"
hi ,
iam using flutter
 getting  error  when   _razorpay.open(options);

 void openCheckout() async {

    var options = {
      'key': 'rzp_test_1DP5mmOlF5G5ag',
      'amount': 2000,
      'name': 'Acme Corp.',
      'description': 'Fine T-Shirt',
      'prefill': {
        'contact': '8888888888',
        'email': 'test@razorpay.com'
      },
      'external': {
        'wallets': ['paytm']

[2019-05-30 09:14] ChintanAcharya commented on #10
@vivekkujur Can you help us with the following details:

- Android Studio and SDK version
- Android OS version of the device

While we try to reproduce the issue, can you check if the `add-manifest` branch of the plugin fixes it? ( Change `ref: "v1.0.0-alpha"` to `ref: "add-manifest"` in `pubspec.yml`, and run `flutter packages get` )

[2019-06-06 08:34] raveesh-me commented on #4
Thank you, will check out in the next project.

[2019-06-06 08:35] #4 closed

[2019-06-12 13:12] ChintanAcharya commented on #4
@raveesh-me Did you get a chance to try it out?

[2019-06-28 17:36] adarshahd opened #21 "RazorPay Screen hangs"
Dear Team,

Congratulations and thank you very much for the much needed library for flutter. We are currently integrating this library with our application, which we are soon planning to take it to production.

However we are facing an issue where the RazorPay activity hangs (screenshot attached) with below workflow.

Tested on Emulator (Google Pixel 3, API 28)

1. Open RazoryPay payment screen
2.

[2019-06-28 17:40] adarshahd commented on #21
![RazorPay_hang](https://user-images.githubusercontent.com/722143/60360664-d9b5fd80-99f9-11e9-9c47-ea901a45c992.png)

[2019-07-06 18:41] ChintanAcharya commented on #21
Thanks for reporting! We are looking into the issue and will get back to you as soon as we have an update.

[2019-07-10 09:52] 160905 opened #22 "error"
![企业微信20190710055141](https://user-images.githubusercontent.com/22002759/60959829-7736f880-a33b-11e9-9ddb-90cfaf33717d.png)

I had these problems

[2019-07-18 13:59] ChintanAcharya commented on #22
@160905 We export a class `Razorpay` from `package:razorpay_flutter/razorpay_flutter.dart`. Are you redeclaring the `Razorpay` class in your code?

[2019-07-18 18:32] anoop-b opened #23 "iOS build fails"
`flutter run` works fine on android build, but on iOS it gives the following error:
[code]
Here's my `flutter doctor`:
[code]

[2019-07-18 19:18] anoop-b commented on #23
Apparently using this in the pod file fixes the issue.
[code]

 Include it in your docs maybe?

[2019-07-23 04:57] 160905 commented on #22
I solved this problem, thank you

[2019-07-23 04:57] #22 closed

[2019-07-23 04:59] 160905 commented on #23
I also encountered an increase in the problem, plus use_frameworks does not work.

[2019-07-23 07:20] umanghome commented on #22
@160905 How did you solve this?

[2019-07-23 15:53] ChintanAcharya commented on #23
@160905 Can you try adding `use_frameworks!` outside of `target 'Runner' do` and see if it works? Also, can you please share the build error message here?

@anoop-b We've added this to our docs in #24

[2019-07-24 04:57] anoop-b commented on #23
@ChintanAcharya can confirm, its working now.

[2019-07-29 08:34] vivekkujur commented on #10
Android Studio 3.4 and Android SDK 28
crash catch on android os : 5.1 , 6.1 , 7.0

[2019-07-30 12:57] #10 closed

[2019-07-30 13:11] vivekkujur opened #25 "Undefined symbols for architecture armv7: / arm64 : In IOS"
hi,
I am  using flutter v1.5.4-hotfix.2, and   razorpay_flutter: ^1.1.1
getting error when create ios release build. its working fine on ios simulator on debug mode. In Android its working fine .

Error is produce after add razorpay_flutter: ^1.1.1 plugin .

Error:-

**ld: warning: Could not find auto-linked framework 'Flutter'
Undefined symbols for architecture armv7:
  "_FlutterMethodNotImplemen

[2019-07-31 05:21] 160905 commented on #23
This is the warehouse address of the demo. [https://gitee.com/zhuzhennan/flutter-app](url)。It works fine on the emulator, but the build fails on your own ipone phone. If you have time, can you help me with this problem?I used some plugins in this demo.[https://flutter-debugger.blankapp.org/guide/](url)。These plugins are very convenient, I don't know if there is any conflict.

[2019-08-01 05:47] bhanuc commented on #25
Facing same problem. Changing ios deployement target to 11 didn't work. Cleaning also didn't work.

[2019-08-01 07:19] 160905 commented on #23
I tried to debug on my own Iphone with your example, or I can't install it successfully.Here are some errors：
[code]

[2019-08-01 07:20] 160905 commented on #23
[code]

[2019-08-03 09:47] vivekkujur opened #26 "Problem to get callback after successfully payment."
hi,

some time not getting callback after payment success.

 _razorpay = Razorpay();
    _razorpay.on(Razorpay.EVENT_PAYMENT_SUCCESS, _handlePaymentSuccess);
    _razorpay.on(Razorpay.EVENT_PAYMENT_ERROR, _handlePaymentError);
    _razorpay.on(Razorpay.EVENT_EXTERNAL_WALLET, _handleExternalWallet);

void _handlePaymentSuccess(PaymentSuccessResponse response) {

  Fluttertoast.showToast(
      msg:

[2019-08-04 12:10] JayakumarB commented on #25
Facing same issue, any fix would be helpful

[2019-08-04 12:11] JayakumarB commented on #23
I'm also facing same issue any solution please ?

[2019-08-07 14:42] JayakumarB commented on #25
Fixed it!!

In my case, earlier I was using XCode 10 and SWIFT 4.0.
But Razorpay Flutter plugin supports SWIFT 5.0 so i updated Xcode and Swift.

Actually my project was under TFS Source control so **ios** folder in flutter project and Runner Project and Workspace settings were referring to old version of SWIFT and XCode. Even though we update XCode and Swift, some reference was there.

**Solution

[2019-08-12 08:04] ChintanAcharya commented on #26
@vivekkujur Is there any exception being logged when this happens?

[2019-08-12 10:20] umanghome commented on #23
@160905 Does this solution for work you? https://github.com/razorpay/razorpay-flutter/issues/25#issuecomment-519128331

[2019-08-12 10:21] umanghome commented on #25
@vivekkujur @bhanuc - Does @JayakumarB's solution work for you?

[2019-08-23 11:20] Pradeep7352 commented on #26
some time not getting callback after payment success.

_razorpay = Razorpay();
_razorpay.on(Razorpay.EVENT_PAYMENT_SUCCESS, _handlePaymentSuccess);
_razorpay.on(Razorpay.EVENT_PAYMENT_ERROR, _handlePaymentError);
_razorpay.on(Razorpay.EVENT_EXTERNAL_WALLET, _handleExternalWallet);

void _handlePaymentSuccess(PaymentSuccessResponse response) {

   print("response   $response");

 }

I am getting re

[2019-08-27 15:54] rdcoder33 opened #27 "Payment Page gets Crashed as soon as it opens!"
RazorPay Payment page gets crashed without displaying anything on the screen. The Debug Console reports:

Error in Emulator:

[code]

Error in Real Device:
[code]

My Code:

[code]

Also, In debug Console it Prints: "Payment Failed". Meaning `_handlePaymentError()` gets called tho nothing no payment option or error is displayed on the screen. Just a RazorPay Loading logo and page gets crashed.

[2019-08-28 08:07] ChintanAcharya commented on #27
@rdcoder33 Can you please check the `code` and `message` in the response?

[2019-09-02 13:13] rdcoder33 commented on #27
I didn't get any code and message in the response.

[2019-09-05 03:17] ChintanAcharya commented on #27
@rdcoder33 The minimum value of amount supported is 100 (i.e. Rs. 1). Can you change `amount` in your options to `100` and see if it works?

[2019-09-21 21:38] pobyt opened #28 "Module compiled with Swift 5.0 cannot be imported by the Swift 5.1 compiler"
iOS build is failing with below exception with new XCODE release Version 11.0.
Please update your iOS SDK to 5.1 in Flutter Project.
Module compiled with Swift 5.0 cannot be imported by the Swift 5.1 compiler: /ios/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/x86_64.swiftmodule

[2019-09-24 02:10] amitkhairnar44 opened #29 "Pure Dart implementation using Restful APIs"
Hello,
You guys can write a pure dart implementation using the Restful API. It would be great and easy to debug.

[2019-09-24 07:03] umanghome commented on #29
The Checkout Flutter SDK needs more than just a REST API (UI and stuff). This is perhaps more suited for a Dart SDK just like our [Node SDK](https://github.com/razorpay/razorpay-node).

[2019-09-24 09:40] amitkhairnar44 commented on #29
A Dart SDK would be a great alternative to this plugin

[2019-09-26 00:15] muthufmass commented on #28
any update on this, We are also blocked on the same error. Needs a rebuild and new version with latest xcode compiler on mac.

[2019-09-26 14:42] nihalreddy33 commented on #28
@ChintanAcharya any update/ETA on this issue?

[2019-09-27 06:36] abhikumar08 commented on #28
facing the same issue, did anyone find a way around to get this work?

[2019-09-29 04:36] prasanna-narayanan24 commented on #28
https://razorpay.com/docs/payment-gateway/ios-integration/standard/

A temporary fix is, Download the latest 5.1 razorpay-sdk (Razorpay.framework). Replace this downloaded one in ios/Pods/razorpay-pod/Pod/Razorpay.framework.

[2019-09-29 16:13] nihalreddy33 commented on #28
@prasanna-narayanan24 if we do that we are getting below exception when we run.
/flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.1.1/ios/Classes/RazorpayDelegate.swift:17:17: Method 'onExternalWalletSelected(_:WithPaymentData:)' has different argument labels from those required by protocol 'ExternalWalletSelectionProtocol' ('onExternalWalletSelected(_:withPaymentData:)')

[2019-09-29 19:14] amankataria opened #30 "Add Kotlin support"
With Flutter 1.9 released, flutter has **kotlin** support instead of **java** by **default**. I just noticed that **razorpay_flutter package doesn't work with kotlin**.

It's necessary to add support for it asap, since everyone will use kotlin instead of java in flutter now.

[2019-09-29 19:33] #30 closed

[2019-09-29 22:21] amankataria commented on #30
useless issue, never mind.

[2019-09-30 03:36] prasanna-narayanan24 commented on #28
can you delete the Podfile.lock file and try doing the same steps as mentioned above?

[2019-09-30 03:47] nihalreddy33 commented on #28
@prasanna-narayanan24 even after deleting the podfile.lock, I am getting the same exception with the new 5.1 SDK.

[2019-09-30 04:05] prasanna-narayanan24 commented on #28
the error says that withPaymentData is replaced with WithPaymentData, so i guess changing the variable name should fix.

[2019-09-30 06:22] prasanna-narayanan24 commented on #28
[code]

Also fixes

[2019-09-30 09:55] ChintanAcharya commented on #28
We are working on a Swift 5.1 compatible release. ETA is by the end of this week.

[2019-09-30 22:46] nihalreddy33 commented on #28
Thank you @ChintanAcharya  for the update.

[2019-10-01 19:52] KevinPatel04 opened #31 "Error while running the example"
I am getting a toast regarding Your onPaymentError method is throwing an error. Wrap the entire code of the method in try and catch while running this example mentioned here.

I have already set the minSdkVersion to 20.

[2019-10-03 10:42] ChintanAcharya commented on #31
@KevinPatel04 Can you please share logcat logs?

[2019-10-04 12:14] ChintanAcharya commented on #28
v1.1.2 is out, which should fix this issue.

[2019-10-14 21:54] akasantony opened #33 "App crashes with Segmentation fault on iOS devices. Works fine on Android."
App crashes on launch with the following error.
`com.apple.CoreSimulator.SimDevice.00824A43-86CE-47F2-BE72-E409EF4D1018[46735] (UIKitApplication:in.wup.ios[0xde7b][46756][80689]): Service exited due to Segmentation fault: 11`

If I remove user_frameworks! I get the following error.

` error: module map file '/Users/akasantony/Library/Developer/Xcode/DerivedData/Runner-fkvindakxlzttigznzvgapmpievl/

[2019-10-15 08:34] SandyAra opened #34 "App Terminated when Open Payment Gateway on release mode. Work Perfect on debug mode"

[2019-10-15 09:56] LOG-TAG opened #35 "please add release notes for each version"
really helpful if you add release notes!

there are tons of issue with swift version etc, please add release notes with compatible Swift version!

[2019-10-15 10:25] LOG-TAG opened #36 "autocapture enabled by default ? where to add orderid ?"
Web code:
[code]

what is the similar code for flutter please update in docs or auto-capture in flutter is automated?(https://razorpay.com/docs/payment-gateway/orders/)
 what is the solution for flutter ? like belove we should pass capture API order_id?

[code]
any other solution available?

[2019-10-15 11:50] LOG-TAG commented on #36
solved by adding this **'order_id': 'order_DUK12346hdh',**

**PLEASE UPDATE IN DOCS **

[2019-10-15 11:51] #36 closed

[2019-10-16 03:48] raghav39 opened #37 "SDK on iOS is not able to download pod files on v1.1.2"
I am getting the following error on pod install
[code]

[2019-10-16 03:57] raghav39 opened #38 "Module compiled with Swift 5.0 cannot be imported by the Swift 5.1 compiler. SDK v1.1.2"
Getting the following error In RazorpayDeligate.swift on the line:2
`Module compiled with Swift 5.0 cannot be imported by the Swift 5.1 compiler`

Already changed the podfile to include:
[code]

[2019-10-16 11:51] JayM96 opened #39 "Payment Gateway response successfull even when i cancelled the payment ?"
Hello,

#Issue - 1

I have implemented the code described on official plugin package. but, when i test with my testkey and when i click on pay button and try to pay with googlepay. after then click on pay button.

Then if i do not complete the payment and click on back button it says payment successful. 
Even it is showing on the razorpay dashboard.

Can you please help me to resolve the issue?

#

[2019-10-16 13:46] ChintanAcharya commented on #37
@raghav39 Try running `pod update` in the ios directory and let us know if it works.

[2019-10-17 11:40] meera13raveendran commented on #28
hi..just updating the pod file and updating razorpay pod will work..or is there anything else I should do?

[2019-10-20 07:03] LOG-TAG commented on #38
what is the solution?

[2019-10-20 07:22] LOG-TAG commented on #28
what is the version of pod that is compatible on xcode 10.1 ?
<img width="565" alt="Screen Shot 2019-10-20 at 12 50 13 PM" src="https://user-images.githubusercontent.com/1190344/67156148-7b11e800-f338-11e9-8403-191311e91469.png">

[2019-10-20 12:13] LOG-TAG commented on #28
@prasanna-narayanan24 any workaround possible for xcode 10.1  ? alfa version of pub will work?

[2019-10-22 08:19] meera13raveendran commented on #28
Hi
Thanks for the reply.. I did update the razorpay pod but xcode didn't
reflect the change.. But next day when xcode launched error was gone.. .
Issue fixed hence..

Once again  thanks for the reply..

On Sun, 20 Oct 2019, 5:44 pm Subrahmanya S M, <notifications@github.com>
wrote:

[2019-10-24 21:05] haneensaadeh1994 opened #40 "currency is not supported"
currency is not supported

`  var options = {
      'key': 'my_key',
      'amount': 399 * 100,
      'name': 'kastana',
      'description': 'test payment',
      'currency': 'USD',
      'prefill': {'contact': '', 'email': ''},
      'external': {
        'wallets': ['']
      }
    };
`

[2019-10-25 10:58] haneensaadeh1994 commented on #40
![WhatsApp Image 2019-10-25 at 12 53 06 PM-3](https://user-images.githubusercontent.com/41123514/67565827-9e68d880-f726-11e9-8a35-5ed44df44cf5.jpeg)
![WhatsApp Image 2019-10-25 at 12 53 06 PM-2](https://user-images.githubusercontent.com/41123514/67565831-a0cb3280-f726-11e9-94de-c123815bd4d8.jpeg)
![WhatsApp Image 2019-10-25 at 12 53 06 PM](https://user-images.githubusercontent.com/41123514/6756583

[2019-10-29 09:02] ChintanAcharya commented on #40
@haneensaadeh1994 This happens when you are not activated for international payments. Could you head over to https://razorpay.com/support/#request and file a support request for the same?

[2019-10-30 04:19] LOG-TAG opened #41 "Webview error The operation couldn't be completed."
ERROR: 0 Webview error The operation couldn't be completed.
(NSURLErrorDomain error -999.)

ON ios latest version of razerpay any idea why this happened?

![WhatsApp Image 2019-10-29 at 7 33 42 PM](https://user-images.githubusercontent.com/1190344/67828711-6b459100-fafa-11e9-842f-d978d6ece62e.jpeg)

[2019-10-30 15:37] LOG-TAG commented on #34
https://github.com/razorpay/razorpay-android-sample-app/issues/84

[2019-10-31 07:30] MustansirZia commented on #38
Duplicate of #28.
As mentioned in #28, the issue can be fixed by updating the pub package to `1.1.2`. It was fixed in our case.

[2019-10-31 07:30] MustansirZia commented on #28
Updating to v1.1.2 fixed this issue for us. Thanks!

[2019-10-31 07:45] meera13raveendran commented on #28
Yes I did update the pod and working fine now.. Thanks for the reply
1. Edit the podfile
'pod razorpay-pod in podfile '
2. And in terminal run the command pod install /
Pod update razorpay-pod
worked for me

[2019-10-31 07:46] meera13raveendran commented on #28
Yes I did update the pod and working fine now.. Thanks for the reply
1. Edit the podfile
'pod razorpay-pod in podfile '
2. And in terminal run the command pod install /
Pod update razorpay-pod
worked for me

[2019-11-01 03:21] ChintanAcharya commented on #34
@SandyAra Can you share more details, like the platform (iOS/Android) and log output?

[2019-11-04 19:18] yashdabi opened #42 "App crashes instead of open razorpay payment page in flutter"
`flutter run` is working fine in the emulator and real device.
but after `flutter build apk`, the app **Crashed** on ` _razorpay.open(options);`
and the plugin is not showing a crash report or any error in the visual studio code terminal.

[code]
in the visual studio code terminal

[code]
In the Andoid studio logcat
**java.lang.ClassNotFoundException: Didn't find class "com.razorpay.d__1_"**
[code

[2019-11-05 17:35] idkashutosh commented on #42
Same issue with my implementation

[2019-11-05 17:40] sharad-paghadal commented on #42
@idkashutosh  try this - https://pub.dev/packages/razorpay_plugin

[2019-11-05 17:42] sharad-paghadal commented on #38
try this - https://pub.dev/packages/razorpay_plugin

[2019-11-06 05:37] idkashutosh commented on #42
Fixed it by adding the proguard rules in android

[2019-11-06 05:40] idkashutosh commented on #42
@yashdabi Try adding proguard rules as shown in razorpay [docs.](https://razorpay.com/docs/payment-gateway/android-integration/standard/) Also if you are doing release build, do sign the apk by following the flutter release build guide [.](https://flutter.dev/docs/deployment/android)

[2019-11-06 06:13] yashdabi commented on #42
@idkashutosh thanks, it's working
I just following below steps for this solution.

**1 step**
make a file name of **proguard-rules.pro** inside  android>app
that should be : **android/app/proguard-rules.pro**
then paste below code inside proguard-rules.pro file

[code]

**2 step**
go to android>app>build.gradle and find **buildTypes**
inside buildTypes>release add some lines

[code]
now Razorpay i

[2019-11-13 11:31] singhbhavneet commented on #39
Yeah these are some major issues. In my case I used their captured api to verify payment is made by user

[2019-11-19 02:55] VrajGohil opened #43 "Flutter web support."
Is there any possibility to make this available for flutter web?

[2019-11-19 05:47] umanghome commented on #43
Have you tried using the regular web integration? https://razorpay.com/docs/payment-gateway/web-integration/

If there are issues with this^, we can look into solving and documenting them.

[2019-11-19 06:33] VrajGohil commented on #43
Haven't tried with web integrations, but i think it would be difficult to manage code for web as well as flutter. I'll try and post here if it's possible.

[2019-11-21 12:32] kingglov opened #44 "Module compiled with Swift 5.0 cannot be imported by the Swift 5.1.2 compiler: /Users/sailaja/Desktop/Eemos/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/arm64.swiftmodule"
error while importing

Module compiled with Swift 5.0 cannot be imported by the Swift 5.1.2 compiler: /Users/sailaja/Desktop/Eemos/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/arm64.swiftmodule

[2019-11-21 12:41] sharad-paghadal commented on #44
try this - https://pub.dev/packages/razorpay_plugin

[2019-11-21 12:49] kingglov commented on #44
thanks for reply . But i am facing issue with xcode. is there any solution for that please let me know bro. thanks in advance

[2019-11-25 12:22] Mallika-Tung opened #45 "razorpay_flutter issue"
I have implemented razorpay_flutter.It is working fine in android .But in ios ,when i making bitcode enable then other libraries are effecting.How to fix these one?

[2019-11-30 12:49] rahuldange09 opened #46 "ios build fail"
Build failed on ios but works perfectly on android.
Please help needed to integrate in ios as soon as possible.

flutter doctor

[2019-12-02 08:28] joshln87 commented on #39
Hi is there any update on this issue? Seems like the payment is still 'Captured' even when it's cancelled? Any workarounds?

[2019-12-02 08:47] singhbhavneet commented on #39
@joshln87 Have you tested same with live keys . I was having same issue but when I switched to live keys issue was solved itself

[2019-12-06 08:26] fdharamshi commented on #46
I am getting a similar issue. Issue is solved if i remove razorpay plugin.
Did you find the solution @rahuldange09

[2019-12-07 21:35] rahuldange09 commented on #46
Same here if i remove i dont get error. No not resolved yet just workaround i found for ios to run ios debugging using terminal and disabling bitcode for other pods.

[2019-12-12 04:15] LOG-TAG commented on #45
got any solution ?

[2019-12-20 18:56] ChandraPrakashJangid opened #47 "App crashes on device only"
I am trying to run release build on Android device and it is crashing as soon as I click on payment. I am unable to get any log for this as it is happening only on release.
If I connect device with system and run directly from IntelliJ it never crashes.

`razorpay_flutter: ^1.1.2`

[2019-12-21 04:26] ChandraPrakashJangid commented on #47
I solved this issue by following this:
[Solution](https://github.com/razorpay/razorpay-flutter/issues/42#issuecomment-550161626)

[2020-01-07 19:06] max201920 commented on #43
How to integrate .js file provided by razorpay into flutter web project?

[2020-01-24 05:47] nimi0112 commented on #44
@kingglov  Did you resolved this issue ?

[2020-02-02 09:24] sharath12345678 opened #48 "App crashes in release but works fine in debug mode."
This problem  with solution is mentioned already in issue https://github.com/razorpay/razorpay-flutter/issues/42

However the solution didn't work for me.

App works fine (even without proguard rules) with `flutter run --release` but once we build apk & run the app, it didn't work

here is build gradle

[code]

Here is the Proguard rules
[code]
I even tried by removing proguard rules, read & tried

[2020-02-03 07:47] #47 closed

[2020-02-03 07:51] shashikantshaale opened #50 "[BUG] contact and email fields are cached"
Razorpay caches contact and email fields, calling Razorpay.open with different contact or email  in options does not reflect in the checkout screen. It shows the one called in previous request.

I've been passing like below:
[code]

[2020-02-03 07:57] Nautiyalsachin commented on #46
@rahuldange09 : This issue is related to cocoa pods, please try to re-install and try to replicate it again. Closing this issue now, you can always open it in future if it still persists.

[2020-02-03 08:07] Nautiyalsachin commented on #45
@Mallika-Tung , @LOG-TAG : We are only supporting bitcode enabled projects now. You can ask other merchants to make it in enabled bitcode format. As it is highly recommended by Apple for iOS apps. for more info - https://help.apple.com/xcode/mac/current/#/devbbdc5ce4f.

[2020-02-03 09:20] Nautiyalsachin commented on #44
@kingglov, @nimi0112: Can you guys try to reinstall the Razorpay package.

[2020-02-03 09:20] #44 closed

[2020-02-03 09:21] Nautiyalsachin commented on #40
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a new ticket if you have any additional issues.

[2020-02-03 09:21] #40 closed

[2020-02-03 09:22] Nautiyalsachin commented on #23
Closing this issue due to inactivity. Please feel free to either re-open the issue or create a new ticket if you have any additional issues.

[2020-02-03 09:22] #23 closed

[2020-02-03 09:23] Nautiyalsachin commented on #28
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a new ticket if you have any additional issues.

[2020-02-03 09:23] #28 closed

[2020-02-03 09:25] Nautiyalsachin commented on #25
Closing this issue due to the inactivity. Please feel free to either re-open the issue or create a new ticket if you have any additional issues.

[2020-02-03 09:25] #25 closed

[2020-02-03 09:27] Nautiyalsachin commented on #27
Closing this issue due to the inactivity. Please feel free to either re-open the issue or create a new ticket if you have any additional issues.

[2020-02-03 09:27] #27 closed

[2020-02-03 09:52] Nautiyalsachin commented on #37
Closing this issue due to the inactivity. Please feel free to either re-open the issue or create a new ticket if you have any additional issues.

[2020-02-03 09:52] #37 closed

[2020-02-04 06:57] shashikantshaale commented on #48
I'm facing same issue

[2020-02-04 07:30] shashikantshaale commented on #48
I followed #42 , it worked.

Thank you @sharath12345678

[2020-02-04 14:41] rahuldange09 commented on #46
Well i tried removing and installing pod again and again it fails but on ios
sometimes it runs after pod install only once but.
Can you cross check with latest flutter release?
Im having this issue because of this I'm not able to use it on iphone

[2020-02-05 13:35] shikharvaish28 commented on #31
@KevinPatel04  Can you please share how did you fix the issue?

[2020-02-05 13:51] KevinPatel04 commented on #31
@shikharvaish28 you can refer [Payment Module](https://github.com/KevinPatel04/FarFromHome/blob/master/lib/ui/page_payment.dart)

Please verify you are entering your api-key in the "key"  LINE NUMBER 335

I think this would help...

[2020-02-12 15:17] Nautiyalsachin commented on #46
Hi @rahuldange09 : Can you tell me all the steps you followed for installation from the beginning as I am trying to replicate this issue here, also I am not able to link above issue with Razorpay, can you try to create a sample app without your other packages. Re-opening this issue.

[2020-02-13 13:32] rahuldange09 commented on #46
It's normal process just use latest flutter
Create project and add this plugin and debug by vs code.
First I thought its issue with my project may be  so then I created another fresh one and added. Still I got issues for ios then i opened issue here.
Please have a look at it

[2020-02-19 08:23] Nautiyalsachin commented on #46
@rahuldange09: have you tried using example code as its working fine in that. Also, try to update your XCode from 11.2.1 to 11.3.1 as there can be an issue with the Swift version.

[2020-02-21 09:03] rahuldange09 commented on #46
Hello,
I'm already using latest xcode 11.3.1 but issue still persist.
I tried example also It works perfectly.
Yes there is issue something related to swift mostly.
If I run "flutter run --debug" in terminal it runs on ios perfectly. But if i run from vs code debug or Android Studio it fails. I can't find reason why it's failing.
The example project is made with older version of flutter and swift,

[2020-02-21 15:21] Lokeswara-betha opened #51 "App crashes in release but works fine in debug mode"
App works fine (even without proguard rules) with flutter run --release but once we build apk & run the app, it didn't work

here is build gradle

`buildTypes {
        release {
            signingConfig signingConfigs.release
            //shrinkResources true
            //minifyEnabled true
            useProguard true
            proguardFiles getDefaultProguardFile('proguard-android.txt'),

[2020-02-22 06:18] Lokeswara-betha commented on #51
Issue got resolved . I just followed steps specified in # issue #42

[2020-02-22 06:18] #51 closed

[2020-02-24 11:03] Nautiyalsachin commented on #46
@rahuldange09: If the example code is working then I'll suggest you remove the plugin and try to add it again.

[2020-02-24 11:39] debasiskoley commented on #46
---------------------------
[code]
    ArgumentError - invalid byte sequence in US-ASCII
    /Library/Ruby/Gems/2.6.0/gems/cocoapods-core-1.8.4/lib/cocoapods-core/cdn_source.rb:283:in `split'
    /Library/Ruby/Gems/2.6.0/gems/cocoapods-core-1.8.4/lib/cocoapods-core/cdn_source.rb:283:in `block in ensure_versions_file_loaded'
    /Library/Ruby/Gems/2.6.0/gems/cocoapods-core-1.8.4/lib/cocoapods-core/

[2020-02-25 06:55] Nautiyalsachin commented on #46
Please follow up with this issue https://github.com/CocoaPods/CocoaPods/issues/6333. As I have mentioned earlier this issue is because of Cocoapods.

[2020-03-01 12:26] bhavyalatha26 opened #52 "How to customize the open button ?"

[2020-03-01 12:31] #52 closed

[2020-03-01 20:06] rahuldange09 commented on #46
Great,
Its fixed, I added export utf 8 in .zshrc also that fixed it.
I already added i profile and bash profile after reading some issue but that never fixed issue.
But @Nautiyalsachin I also follwed your link and there some guy mentioned to add in .zshrc. Which in terns fixed my problem.
So thank you so much for help.
I was aware of that its not related to razorpay but because you guys are first

[2020-03-01 20:06] #46 closed

[2020-03-10 11:53] VickySalunkhe opened #53 "Currency not supported error"
When I switched the option for **currency** to **USD**
and when I proceed to pay.
**payment fails** and then **error pops up** as **`currency not supported`**

refer the image
![image](https://user-images.githubusercontent.com/37410248/76309570-0cd3bf00-62f3-11ea-866a-606f16b60b9c.png)

I am using **test version** of razor pay
My options looks like shown below
[code]

I have used all test cards nu

[2020-03-16 08:33] #45 closed

[2020-03-16 08:34] Nautiyalsachin commented on #45
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries

[2020-03-16 08:35] Nautiyalsachin commented on #48
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-03-16 08:35] #48 closed

[2020-03-17 05:41] kpss01 opened #54 "PlatformException after implementing firebase messaging in app"
StandardMethodCodec.decodeEnvelope (package:flutter/src/services/message_codecs.dart:569:7)
E/flutter ( 6264): #1      MethodChannel.invokeMethod (package:flutter/src/services/platform_channel.dart:321:33)
E/flutter ( 6264): <asynchronous suspension>
E/flutter ( 6264): #2      Razorpay.open (package:nemar_app/RazorPay.dart:48:35)
E/flutter ( 6264): #3      _CheckRazorState.payData (package:nemar_a

[2020-03-18 14:21] Rameshv commented on #26
I am having the same issue now.  Both payment success and failure callbacks are not called. It used to be fine. Now I am facing this issue

Heres the log

[code]

 We are stuck with this for over a day, Any help is much appreciated.  🙏

[2020-03-19 08:45] PoojaB26 opened #55 "Loader does not show before opening razorpay checkout"
Currently it is stuck on a complete blank screen before opening the razorpay checkout page and there is no loader. User might think the screen is frozen.

Any way to implement the loader?

[2020-03-20 17:45] shaikhriyaz434 commented on #39
i am facing same issues on test mode. Any update?

[2020-03-20 18:58] HardikkMadaan opened #56 "Paytm Wallet Integration"
How do i make the app open Paytm to complete the Payment and come back to RazorPay after Successful Payment. In Nutshell, how do i integrate Paytm Wallet ?
Thank You

[2020-03-23 18:15] arshadm25 commented on #48
I am facing the same issue event the propguard rules added

[2020-03-24 03:37] sharath12345678 commented on #48
@arshadm25
Try this,
`minifyEnabled false`

it worked for me.

[2020-03-24 08:18] arshadm25 commented on #48
thanks for your reply i will check that once and let you know

On Tue, 24 Mar 2020 at 09:07, sharath12345678 <notifications@github.com>
wrote:

--
*Muhammed Arshad M*

9544933392 | muhammedarshadm@gmail.com

Skype: arshadm25 <#SignatureSanitizer_SafeHtmlFilter_>
Muthangayil House, Mulliyakurssi,Pattikkad P.O,Malappuram,Kerala - 679325
<http://www.facebook.com/muhdarshadm>
<http://www.linkedin.com/

[2020-03-27 19:33] superhumang opened #57 "IOS Flutter, build failing"
** BUILD FAILED **
Xcode's output:
↳
    ~/flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.1.2/ios/Classes/RazorpayDelegate.swift:4:42: error: use of undeclared type 'RazorpayPaymentCompletionProtocolwithData'
    public class RazorpayDelegate: NSObject, RazorpayPaymentCompletionProtocolwithData, ExternalWalletSelectionProtocol {
                                             ^~~~~~~~~

[2020-03-28 02:17] superhumang commented on #57
This happed after updating xcode to the latest current version. It was working fine before

[2020-03-28 03:17] essuraj commented on #57
yes it was working before and suddenly its not, not sure what the issue. (i probably cleaned the build)

[2020-03-28 03:18] essuraj commented on #57
[code]

[2020-03-28 04:08] superhumang commented on #57
Have mailed Razorpay Team regarding the same, let's see what went wrong! ive been trying my luck since yesterday to not avail, let me know if you happen to figure out a solution.

PS:- even Razorpay example app has the same error now!

[2020-03-29 18:14] arshadm25 commented on #48
thanks bro it worked for me
but i had to set
`shrinkResources false`
also

[2020-03-30 04:53] minhcasi commented on #57
same issue with latest XCode update 😅

[2020-03-30 05:12] sharad-paghadal commented on #57
https://flutter.dev/docs/development/ios-project-migration

[2020-03-30 13:29] superhumang commented on #57
Have already done that but to no avail, however build successfully without razorpay plugin

[2020-03-31 07:28] Anmol92verma commented on #57
Same issues here, any solution ?

[2020-04-01 03:22] superhumang commented on #57
RazorPay replied "We are checking the issue with our concerned team.
​
Please do give us some time to get back to you with a resolution of the issue.

Here to help :)
Tota Das" ..

In the meantime, i'm looking into integrating Paytm securely through platform channel or web!

[2020-04-02 02:27] superhumang commented on #57
Reply from RazorPay:-
We have not released our Flutter Plugin for Xcode11.4 still now. The integration kit is compatible with the Xcode11.3 version.
​Request you to use the Xcode version 11.3 for integration purposes. Sorry for the inconvenience caused.
​
Do let us know if you still have any issues regarding this integration, we will get back to you as soon as possible.

[2020-04-03 07:14] akashjacob opened #58 "react native flipperkitnetwork plugin not found for architecture arm7"
I am working on 0.62 version. Not able to archive. It gives the Flipper error.

![Screenshot 2020-04-03 at 12 42 48 PM](https://user-images.githubusercontent.com/20949239/78334086-bf243c80-75a8-11ea-8029-9d8642a1f33a.png)

[2020-04-03 12:55] nihalreddy33 commented on #57
@superhumang did they update you anything regarding when they are planning to release the update for flutter plugin.

[2020-04-03 12:59] superhumang commented on #57
Reply from RazorPay:-
As of now, there is no ETA of Flutter Plugin with Xcode 11.4 release.
Please use the 11.3 version, which is compatible with Razorpay Plugin.

[2020-04-03 13:02] nihalreddy33 commented on #57
Thank you @superhumang for the update.

[2020-04-04 06:17] deeppanchal commented on #28
Which Xcode Version you are using?

[2020-04-06 13:15] carotkut94 opened #59 "Module 'Razorpay' has no member named 'initWithKey'"
while running app on ios simulator or even on running on real device getting this issue
on xcode 11.0 with latest release of razorpay_flutter 1.1.2

razorpay_flutter-1.1.2/ios/Classes/RazorpayDelegate.swift:57:24: error: module 'Razorpay' has no member named
    'initWithKey'
            let razorpay = Razorpay.initWithKey(key ?? "", andDelegateWithData: self)

[2020-04-06 14:57] ajsatam opened #60 "Plugin Upgrade for breaking changes in Latest stable SDK 1.12"
If I integrate this plugin with other plugins created with SDK 1.12 it gives the below error as there are breaking changes introduced in the latest Flutter SDK release.

Please find below the Flutter links specifying this.
https://flutter.dev/docs/development/packages-and-plugins/plugin-api-migration
https://flutter.dev/docs/development/packages-and-plugins/developing-packages

The error I'm getti

[2020-04-07 18:37] shashikantshaale commented on #59
I'm facing the same issue

[2020-04-08 04:40] shashikantshaale commented on #59
Duplicate of #57

[2020-04-08 10:11] Nautiyalsachin commented on #57
Hi everyone, we have published the new release v1.1.3 with the fix of this issue, please feel free to update your plugin and let us know how it's working for you. Thanks!

[2020-04-08 10:11] #57 closed

[2020-04-08 10:13] Nautiyalsachin commented on #59
Hi @carotkut94 @shashikantshaale , we have published the new release v1.1.3 with the fix of this issue, please feel free to update your plugin and let us know how it's working for you.

Closing this issue now, feel free to reopen it.
Thanks!

[2020-04-08 10:13] #59 closed

[2020-04-08 10:16] Nautiyalsachin commented on #58
Hi @akashjacob, you have raised this issue in wrong repository, closing this issue for now.

Feel free to connect with us on support@razorpay.com.

Thanks!

[2020-04-08 10:16] #58 closed

[2020-04-08 10:21] Nautiyalsachin commented on #55
Hi @PoojaB26, please update to the latest version of Razorpay flutter plugin v1.1.3. We have resolved this error in the latest release. Closing this issue for now, feel free to reopen it. Thanks!

[2020-04-08 10:21] #55 closed

[2020-04-08 11:28] ananthpranav commented on #57
[!] Unable to determine Swift version for the following pods:

    - `razorpay_flutter` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod.

What do I do now?

[2020-04-08 11:56] superhumang commented on #57
** BUILD FAILED **

Xcode's output:
↳
    Command CompileSwift failed with a nonzero exit code
    /Users/Developer/flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.1.3/ios/Classes/RazorpayDelegate.swift:4:42: error:
    'RazorpayPaymentCompletionProtocolWithData' is unavailable: cannot find Swift declaration for this protocol
    public class RazorpayDelegate: NSObject, RazorpayPayme

[2020-04-08 11:59] nihalreddy33 commented on #57
@superhumang did you update the Xcode to 11.4?

[2020-04-08 13:44] PoojaB26 commented on #55
@Nautiyalsachin Do we need to add something to make this work? Still can't see the loader, only a blank screen before checkout page opens.

[2020-04-08 14:41] superhumang commented on #57
Yes. The whole issue started after the update!

PS: Have securely incorporated paytm though! but still if i find a workable solution then will revert back to razorpay

[2020-04-08 20:06] shashikantdurge commented on #57
Downgrading xcode to 11.3 fixed the problem for me.

Does the new update fix issue with xcode 11.4 ?

[2020-04-09 02:22] superhumang commented on #57
No, it does not, it is failing with the above mentioned output

[2020-04-09 02:23] superhumang opened #62 "RazorPay 1.1.3 - Build Failing Yet Again on Xcode 11.4"
** BUILD FAILED **
Xcode's output:
↳
Command CompileSwift failed with a nonzero exit code
/Users/Developer/flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.1.3/ios/Classes/RazorpayDelegate.swift:4:42: error:
'RazorpayPaymentCompletionProtocolWithData' is unavailable: cannot find Swift declaration for this protocol
public class RazorpayDelegate: NSObject, RazorpayPaymentCompletionProto

[2020-04-13 11:05] Nautiyalsachin commented on #62
Hi @superhumang, can you tell me the razorpay-pod version from podfile.lock? If that is **1.1.4** then please run a `pod update` from your **ios** folder. It should be **1.1.5**.

[2020-04-13 11:08] Nautiyalsachin commented on #56
Hi @HardikkMadaan, I would suggest you to refer [this Documentation](https://razorpay.com/docs/payment-methods/wallets/external-wallets/), also for more details please send a mail to support@razorpay.com for more details.

[2020-04-13 11:08] #56 closed

[2020-04-13 12:48] Nautiyalsachin commented on #57
@superhumang , @shashikantdurge, @nihalreddy33: Update your pod inside your ios folder, it should be 1.1.5, you can check it inside podfile.lock. If it doesn't match with it, please update it by running `pod update`. Also the package now should be v1.1.3.

Let me know if it still not working. Thanks!

[2020-04-13 13:35] superhumang commented on #62
Successfully able to build now, thanks

[2020-04-13 13:35] #62 closed

[2020-04-14 02:59] superhumang commented on #57
Working, thanks

[2020-04-14 05:13] sumedht commented on #60
@ajsatam We are on fixing this issue and updating SDK with latest platform version. Will let you know once it is done.

[2020-04-14 06:43] ajsatam commented on #60
Thank you so much. Can you possibly tell me the ETA so we'll accordingly plan other activities.

[2020-04-14 12:43] sumedht opened #63 "test"
test issue

[2020-04-14 12:43] #63 closed

[2020-04-17 03:48] sandippilake opened #64 "_razorpay.open(options); gives an error"
I am getting following error @ _razorpay.open(options);

Exception has occurred.
PlatformException (PlatformException(error, Attempt to invoke virtual method 'java.lang.String android.content.Context.getPackageName()' on a null object reference, null))

I tried few other tutorials of razorpay plugin and I am facing the same issue everywhere
Can someone please help?

[2020-04-17 12:07] dhimant1990 commented on #43
Is this plugin support for **flutter web**? because I had added in my flutter web project, but it's not working for web, but it's running fine in Android. So let me **how to integrate Razorpay for my fluter web project**.

[2020-04-18 11:16] ravipiplani opened #65 "Support for Razorpay Subscriptions"
I am not able to find any support for Razorpay subscriptions in this plugin. Is is planned for any future update or is there any workaround available for the same in the current plugin which I might have missed. Please guide. Thanks

[2020-04-18 14:02] hprateek43 commented on #57
Facing the same issue. Should we downgrade to 1.1.3 in podfile ?

[2020-04-19 13:08] sumedht commented on #64
@sandippilake working on fixing this issue. Will update u once we fixed this issue.

[2020-04-20 06:23] sandippilake commented on #64
Thanks a lot

[2020-04-23 10:33] githubaamod opened #66 "iOS App not building - module 'Razorpay' has no member named 'initWithKey'"
Hello All,

Yesterday i run pod update in my flutter project , after which it has started giving me this below error, if i remove razor-pay plugin then App is building properly for iOS.
I am using  razorpay_flutter: 1.1.2
Thankfully my app was submitted to App Store before updating. App was building successfully till i run pod update.

Please help.

Developer/flutter/.pub-cache/hosted/pub.dartlang

[2020-04-23 10:55] Nautiyalsachin commented on #66
@githubaamod, I can see you are using `razorpay_flutter: 1.1.2`, we have updated our flutter package version to `razorpay_flutter: 1.1.3` as it's mentioned on Readme.

Also, can you point me from where you have picked it 1.1.2? As I will be updating it there too.

[2020-04-23 12:24] githubaamod commented on #66
Hello ,

Thanks for reply. If i update version in yaml file to 1.1.3 then my build is stopping at pod install.
below is the error.

  - Running pre install hooks
    [!] Unable to determine Swift version for the following pods:

    - `razorpay_flutter` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute
    set. Please contact the

[2020-04-23 12:37] githubaamod commented on #66
hello ,

Android working fine. Issue was solved by adding proguard-rules.pro file.
Now only iOS issue pending.

Thanks

[2020-04-23 14:41] githubaamod commented on #66
Hello ,

My issue is solved by doing below step.
https://github.com/kiwi-bop/flutter_crashlytics/issues/22#issuecomment-508930744

i added ENV['SWIFT_VERSION'] = '5' at the start of my podfile. After this i did pod update and the my iOS code is building successfully.

Thank you
Closing this issue now.

[2020-04-23 14:41] #66 closed

[2020-04-25 14:15] LOG-TAG commented on #57
the latest version should work on xcode 11.3.1??

[2020-04-25 15:43] AkshayNG opened #67 "Module 'razorpay_flutter' not found"
I've just added RazorPay to my flutter module (add-to-app) in pubspec.yaml file:

When I run the iOS app from Xcode, I'm getting `Module 'razorpay_flutter' not found` in GeneratedPluginRegistrant.h file. I'm not sure whats going wrong,  guess there is an issue when we add flutter as module to the existing native app.

 ![Screenshot 2020-04-25 at 9 04 14 PM](https://user-images.githubusercontent.co

[2020-04-27 05:10] spiderwebsatara commented on #64
Any update ?

[2020-04-29 12:41] Nautiyalsachin commented on #67
Can you share your XCode version here, also please share the steps you followed, so that I can re-create the same issue here.

[2020-04-30 10:08] achinverma opened #68 "Error while adding in ios"
HI,
I am getting the below error while compiling the code for ios. Please, anyone, guide me on how to fix this.
![Screenshot 2020-04-27 at 12 49 00 PM](https://user-images.githubusercontent.com/2811593/80698752-88363d80-8af8-11ea-8044-cecf24463fd8.png)

[2020-04-30 12:04] Nautiyalsachin commented on #68
Can you tell me the supported version mentioned in your podfile?

[2020-04-30 13:58] achinverma commented on #68
i am using razorpay_flutter: ^1.1.3.

[2020-05-01 11:55] prashantspandey commented on #64
Hi any updates on this? Please fix it quickly.

[2020-05-01 12:51] achinverma commented on #68
@Nautiyalsachin , @asldevi , @ace03uec , @captn3m0 , anyone knows the solutions for this issue.
on android, it is working fine.

[2020-05-01 17:39] manishvill opened #69 "Please update your documentation to add "timeout" key in options"
Please update this, because it is not available in any razorpay flutter SDK API Documentation

    var options = {
      'key': '<YOUR_KEY_HERE>',
      'amount': 100,
      'name': 'Acme Corp.',
      'description': 'Fine T-Shirt',
      'timeout': 60 //in seconds
      'prefill': {
         'contact': '8888888888',
         'email': 'test@razorpay.com'
       }
    };

[2020-05-01 18:20] manishvill opened #70 "_handlePaymentError not called after setting timeout in options"
After setting timeout in options variable

     options = {
                "key": APIEndPoint.RAZORPAY_KEY,
                "amount": createOrderModel.amount,
                "currency": "INR",
                "name": APIEndPoint.RAZORPAY_NAME,
                "order_id": createOrderModel.id,
                "timeout" : 60*5,
              };

it does not call _handlePaymentError method on timeou

[2020-05-04 10:03] AkshayNG commented on #67
@Nautiyalsachin Sorry for the late.

Xcode version I'm using : 11.4 (but issue is there on older versions as well such as v11.3 and v10.3)

One more thing: When I run the `package get` from pubspec.yaml file, caught the following warning in android studio console:

[code]

Flutter Doctor O/P:

![Screenshot 2020-05-04 at 3 32 29 PM](https://user-images.githubusercontent.com/15035623/80955208-8633ed

[2020-05-05 12:10] ganeshrvel opened #74 "Razorpay Build failed (razorpay_flutter: 1.1.4)"
## Description
I tried to install razorpay_flutter: ^**1.1.4** and it failed with this error while running the app:

[code]

## Flutter Version :
1.17.0-3.4.pre

## Xcode Version :
11.4

## Steps To Reproduce
Install the latest version of razorpay_flutter

## Expected Results
The app works just fine with the razorpay_flutter version 1.1.3, something in 1.1.4 is breaking it

[2020-05-05 15:56] AkshayNG commented on #67
This is not razorpay specific issue as I was getting the same error with few other packages too, such as url_launcher and  webview_flutter.

After few trial and error I found simply running `pod install` on iOS project (to which flutter module is added) fixed the issue.

[2020-05-06 06:25] SoorajSoman commented on #74
@ganeshrvel
I also faced same issue while using the building the app, the issue is with the package statement inside the build.gradle file .you can see it in the below link

[https://github.com/razorpay/razorpay-flutter/blob/master/android/build.gradle](url)

I just removed the package android statement from razorpay_flutter  build.gradle file in my local and  this worked for me.

[2020-05-06 08:30] hitanshu1 commented on #74
i am also facing same issue

[2020-05-06 13:05] harshsoni1110 commented on #60
Is it resolved? I'm facing the same issue.

[2020-05-06 13:27] harshsoni1110 commented on #74
@SoorajSoman
I'm unable to find anything on this link : https://github.com/razorpay/razorpay-flutter/blob/master/android/build.gradle

Facing same issue as mentioned. Will you please elaborate on your fix?

Thanks.

[2020-05-06 19:23] bihanikeshav commented on #64
Hey, facing the same issue any solutions yet? When I clone this repo everything works fine, but when I try to integrate it this same error.

[2020-05-06 19:37] SoorajSoman commented on #74
Hi Harsh,

Sorry I didn't check with the URL redirect in my comment.

This fix is pretty straightforward.You just need to go to  <YOUR USER
PATH>/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.1.4/android
,open the  build.gradle   it looks same as that in the link
https://raw.githubusercontent.com/razorpay/razorpay-flutter/master/android/build.gradle

You just need to remove the first line

[2020-05-06 20:09] SoorajSoman commented on #74
1. Go to   flutterSdk folder->.pub-cache->hosted->pub.dartlang.org-> razorpay_flutter-1.1.4->android
2. open the  build.gradle   it is  the same file  in this repo   razorpay-flutter->android->build.gradle
3.  You just need to remove the first line  **package android**

This fixed the issue for me.

[2020-05-07 00:16] prashantspandey commented on #64
Hi I found the cause of this error:
In my MainActivity.java
GeneratedPluginRegistrant.registerWith(flutterEngine);
is commented out  because one of the other packages requires me to do so.
But when I am un-commenting the above line . options works properly.
Can you please fix this because un-commenting will make my other plugin not work.

[2020-05-07 05:02] harshsoni1110 commented on #74
Thanks @SoorajSoman . That works.

[2020-05-07 05:37] harshsoni1110 commented on #64
Facing same issue, anyone has a workaround?

[2020-05-07 06:25] harshsoni1110 commented on #64
Flutter sdk upgrade to 1.17.0 solves the issue.

[2020-05-07 09:45] pinkeshAubergine commented on #64
@sandippilake @ChinmayaRazorpay @ChintanAcharya

[2020-05-07 13:50] Sathi789888 opened #75 "No implementation found for method resync on channel razorpay_flutter"
No implementation found for method resync on channel razorpay_flutter

## Description
We upgrade razorpay_flutter: ^1.1.4 and we faced the issue Razorpay Build failed (razorpay_flutter: 1.1.4) and resolved as per the issue id #74 and then we are getting another issue. see below:

## Flutter Version :
version-1.15.17

## Steps To Reproduce
Install the latest version of razorpay_flutter

## Expected

[2020-05-07 15:19] Selvam-bestea commented on #74
hi , @SoorajSoman . I can navigate upto flutterSdk folder->.pub-cache->hosted->pub.dartlang.org this but
 razorpay_flutter-1.1.4 this not available

[2020-05-07 19:49] SoorajSoman commented on #75
Hi @Sathi789888  ,
Is this a gradle sync error or a runtime error? could you please explain scenario .

[2020-05-08 04:58] indrakumarprajapat opened #76 "module compiled with Swift 5.0 cannot be imported by the Swift 5.2.2 compiler in xCode 11.4.1"
I am running the project my project into Xcode, details,
Xcode version : 11.4.1.
razorpay_flutter:  1.1.4

but I am receiving the following error,
**module compiled with Swift 5.0 cannot be imported by the Swift 5.2.2 compiler**

I already tried,  BUILD_LIBRARY_FOR_DISTRIBUTION = YES;
into project settings, target settings, and also in lib setting. But not of it helped.

---------
**Here is the co

[2020-05-08 05:22] Sathi789888 commented on #75
This is a runtime error and we tried to solve got an another error
`>"Uncaught TypeError: window.getDeviceDetails is not a function", source: https://api.razorpay.com/v1/checkout/public?version=1.5.16&library=checkoutjs&platform=android (1)
`
And also otp not send

[2020-05-08 05:52] mitesh77 opened #77 "after flutter 1.17.0 update not working in android (not sure in ios)"
check with creating new project too same error face

output error :
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':razorpay_flutter'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FAI

[2020-05-08 06:44] ajsatam commented on #77
I too am getting the same error. Please provide the solution.

[2020-05-08 10:23] SoorajSoman commented on #77
Duplicate of #74

[2020-05-08 12:53] ajsatam commented on #60
The issue still persists in the new version 1.1.4

[2020-05-08 12:59] ajsatam commented on #74
Hi @SoorajSoman,

Implementing your instructions worked and it compiled the Android build but when we try to run the open method it gives error mentioned in the #60 issue.

We've been told that #60 is fixed in the new version 1.1.4.
Please provide clarity.

[2020-05-08 14:10] Anmol92verma commented on #74
this is a hot fix, can we have a fix that works OOB please ?

[2020-05-08 15:29] kaumudpa commented on #77
Not working on ios as well.
Here is the output.
[code]

This needs an urgent fix.

[2020-05-09 05:27] PritishSawant commented on #77
Seems to be working for me on iOS. I am facing issue on Android

[2020-05-09 10:20] rushabhshah065 commented on #74
I am also getting this same error.

[2020-05-09 15:26] sendtomitesh commented on #76
Same for me as well. Please get the solution of this.

[2020-05-10 06:52] devmvk commented on #74
I am facing the same issue. For now , I have downgraded and made absolute to `razorpay_flutter 1.1.3`.

[2020-05-10 19:59] ashutoshsingh05 commented on #50
Disposing of the instance of `Razorpay` might help. You can try `_razorpay.clear()` in your dispose method when you want it to reset.

[2020-05-11 02:04] bihanikeshav commented on #21
I am facing a similar issue but in my case, it freezes sometimes after pressing the backbutton. Same grey screen and slightly different log

I/chromium(32064): [INFO:CONSOLE(1)] "Uncaught TypeError: Cannot read property 'r' of undefined", source: https://checkout.razorpay.com/v1/checkout-frame.js (1)`

[2020-05-11 05:24] sumedht commented on #77
@mitesh77 please do above changes
`Go to flutterSdk folder->.pub-cache->hosted->pub.dartlang.org-> razorpay_flutter-1.1.4->android
open the build.gradle , it is the same file in this repo razorpay-flutter->android->build.gradle
You just need to remove the first line package android`

[2020-05-11 05:37] mitesh77 commented on #77
@sumedht  it working thanks but this is just a temporary solution.

[2020-05-11 06:28] sumedht commented on #77
@mitesh77 yes. we will fix in next update

[2020-05-11 06:28] #77 closed

[2020-05-11 06:48] Nautiyalsachin commented on #76
Hi @indrakumarprajapat, @sendtomitesh: Can you guys try to run the `pod update` from your ios folder, As I can see your razorpay-pod version is 1.1.4 that is not updated.

Repeated issue - https://github.com/razorpay/razorpay-flutter/issues/62

[2020-05-11 06:51] sumedht commented on #74
@devmvk for 1.1.4 do above changes

- Go to flutterSdk folder->.pub-cache->hosted->pub.dartlang.org-> razorpay_flutter-1.1.4->android
- open the build.gradle , it is the same file in this repo razorpay-flutter->android->build.gradle
- Remove the first line **package android**
We will update this in next release

[2020-05-11 08:32] PritishSawant commented on #74
@sumedht  Thanks for the reply but it is not a great solo for those using CI/CD. Will wait for your next release

[2020-05-11 11:30] kaumudpa opened #78 "IOS not working since Flutter 1.17.0 and Xcode 11.4.1"
Not working on ios.
Here is the output.
Flutter Stable : 1.17.0
Xcode : 11.4.1

[code]

This needs an urgent fix.

Strangely this is working completely fine with Xcode 11.3 and Flutter v1.12.13+hotfix.9

[2020-05-11 12:23] kaumudpa commented on #77
@sumedht This issue was closed without addressing the ios issue.

[2020-05-11 12:32] Nautiyalsachin commented on #78
Please update your pods using `pod update` inside the ios folder.

Follow these thread for more details - https://github.com/razorpay/razorpay-flutter/issues/76

[2020-05-11 12:32] #78 closed

[2020-05-11 15:10] arunbapi1 opened #79 "Build issue with razorpay_flutter: ^1.1.4"
After changing my flutter version to 1.1.4 i a not able to build my app. it's giving below error to me:

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':razorpay_flutter'.

[2020-05-12 10:40] sendtomitesh commented on #79
yes. same error to me as well on android

[2020-05-12 10:41] sendtomitesh commented on #76
hi @Nautiyalsachin , i tried pod update, and worked for ios. thanks

[2020-05-12 14:53] RohithKilaparthi commented on #57
Yes, 1.1.3 works with updated XCode. Do upgrade the pods if the build fails

[2020-05-12 17:10] rahuldange09 commented on #79
until fixes revert it back to v1.1.2

[2020-05-13 02:54] jogiji commented on #43
I have done some initial work on this integration using checkout.js I am stuck with one issue where I am not able to bubble up the response to main.dart.

Please have a look at this repo. FYI its a very dirty Implementation but works except for above issue.
https://github.com/getparking/razorpay_web_flutter

[2020-05-13 08:29] kishanhitk commented on #79
I am also facing the exact same issue.

[2020-05-13 09:15] kishanhitk opened #81 "Replace timeInSecForIos with timeInSecForIosWeb for fluttertoast in example file."
In fluttertoast, from version 4.0.0, they are using **timeInSecForIosWeb** instead of **timeInSecForIos**. But in example/lib/main.dart file, **timeInSecForIos** is still being used, which gives error.
So, I suggest you replace it with **timeInSecForIosWeb**.

[2020-05-13 09:17] kishanhitk commented on #81
I would like to fix this if you allow.

[2020-05-13 14:33] muhsinzyne opened #82 "Flutter i am not able to take build on Android, the plugin is perfectly working fine with IOS part"
* What went wrong:
A problem occurred configuring project ':razorpay_flutter'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FAILED in 7s

[2020-05-13 14:35] muhsinzyne commented on #79
@sendtomitesh  @kishanhitk  @rahuldange09

any solutions found so far ?

[2020-05-13 14:35] arunbapi1 commented on #79
I resolved this issue. If you can see my first post where i had mentioned the error message from that if you can look into this line "C:\Users\Jiwan\AppData\Roaming\Pub\Cache\hosted\pub.dartlang.org\razorpay_flutter-1.1.4\android\build.gradle'" you can go to this path except u can change the username "Jiwan" to your username and delete the first line "package android".

It will work fine.

[2020-05-13 14:45] muhsinzyne commented on #74
hey

Hey I tried the same steps when I do running the app I am getting error like the below

FAILURE: Build failed with an exception.

* Where:
Script '/Users/muhsinzyne/development/flutter/packages/flutter_tools/gradle/flutter.gradle' line: 882

* What went wrong:
Execution failed for task ':app:compileFlutterBuildDebug'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --inf

[2020-05-13 14:47] muhsinzyne commented on #79
when I tried I am getting some errors like

FAILURE: Build failed with an exception.

* Where:
Script '/Users/muhsinzyne/development/flutter/packages/flutter_tools/gradle/flutter.gradle' line: 882

* What went wrong:
Execution failed for task ':app:compileFlutterBuildDebug'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run w

[2020-05-13 21:22] rahuldange09 commented on #79
Why i want never
Revet back to verison 1.1.2

[2020-05-14 04:34] #76 closed

[2020-05-14 09:03] shivangg66 commented on #82
I am having the same issue

[2020-05-14 09:53] AmanStreak commented on #82
I also having the same issue

[2020-05-14 10:10] AmanStreak commented on #82
Go to this location-> Fluttersdk(where you installed the flutter sdk)/.pub-cache\hosted\pub.dartlang.org\razorpay_flutter-1.1.4\android.

then open build.gradle and remove package android.

That works for me!

I've seen this solution on previous threads.

[2020-05-14 10:35] shivangg66 commented on #82
Thank you so much. You solution worked.

[2020-05-14 16:22] #67 closed

[2020-05-14 16:28] Nautiyalsachin commented on #68
@achinverma, please update your pod dependency as mentioned  [here](https://github.com/razorpay/razorpay-flutter#cocoapods-could-not-find-compatible-versions-for-pod-razorpay_flutter-when-running-pod-install) in the readme.

Let me know if it still doesn't fix the issue.

[2020-05-15 03:40] #68 closed

[2020-05-16 09:54] rahuldange09 commented on #21
Same issue here.
Started facing today.
I never faced this before.

`I/chromium(13723): [INFO:CONSOLE(1)] "Uncaught TypeError: Cannot read property 'tab' of undefined", source: https://checkout.razorpay.com/v1/checkout-frame.js (1)`

[2020-05-16 12:02] #82 closed

[2020-05-19 07:40] Renatinaveen commented on #45
When i enable bitcode it doesn't build. Any solution?

[2020-05-19 09:16] shailendra-rajpoot opened #86 "when run the project i got this error"
G:\TezLaxmi\education\razor_pay\android\app\src\main\java\io\flutter\plugins\GeneratedPluginRegistrant.java:19: error: constructor RazorpayFlutterPlugin in class RazorpayFlutterPlugin cannot be applied to given types;
    flutterEngine.getPlugins().add(new com.razorpay.razorpay_flutter.RazorpayFlutterPlugin());
                                   ^
  required: Registrar
  found: no arguments
  reas

[2020-05-19 17:21] indrakumarprajapat commented on #76
Thanks @Nautiyalsachin .

[2020-05-20 05:06] Nautiyalsachin commented on #45
@Renatinaveen: What is the error you are seeing, any screenshot will help.  Thanks.

[2020-05-20 08:10] Renatinaveen commented on #45
@Nautiyalsachin
The process mentioned in razorpay documentation on how to enable the bitcode is by changing to YES when i do that the other plugins are getting i guess. so what i have done was in podfile it's NO only  but i have followed this https://github.com/flutter/flutter/wiki/Creating-an-iOS-Bitcode-enabled-app will this be okay?

[2020-05-20 08:34] parvbhullar commented on #86
I'm facing the same issue.
razorpay_flutter: 1.2.0

[2020-05-20 08:58] parvbhullar commented on #86
They have an issue in new update 1.2.0
reverting back to 1.1.4 in pubspac.yaml will solve the problem
Steps
- Remove the flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.2.0
- change razorpay version to `razorpay_flutter: 1.1.4`
- run
`
$ flutter clean
$ flutter pub get
$ flutter build apk
`
It solved the above-mentioned issue.

[2020-05-21 19:34] vikram94 commented on #57
Xcode Version 11.2.1 (11B500). Building in Swift 5. Tried every version of razorpay_flutter. Not able to build
Error:-
Module compiled with Swift 5.0 cannot be imported by the Swift 5.1.2 compiler: .../ios/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/x86_64.swiftmodule...

Please help. Tried deleting, updating Pods. nothing worked.

[2020-05-21 20:15] vikram94 commented on #57
Here is how I resolved the issue.. Hope helps someone and saves his time.

Put in Podfile   pod 'razorpay-pod', '1.1.5'
Delete Pod Folder
Put 'use_frameworks!'  Below target ‘Runner’ do
Type Command in iOS - Pod update razorpay-pod
flutter pub pub cache repair
Flutter build iOS

in case of an issue do ask

[2020-05-21 20:24] vikram94 commented on #38
Here is how I resolved the issue.. Hope helps someone and saves his time.

Put in Podfile - pod 'razorpay-pod', '1.1.5'
Delete Pod Folder
Put 'use_frameworks!' Below target ‘Runner’ do
Type Command in iOS - Pod update razorpay-pod
flutter pub pub cache repair
Flutter build iOS

in case of an issue do ask

[2020-05-21 20:25] vikram94 commented on #28
Here is how I resolved the issue.. Hope helps someone and saves his time.

Put in Podfile - pod 'razorpay-pod', '1.1.5'
Delete Pod Folder
Put 'use_frameworks!' Below target ‘Runner’ do
Type Command in iOS - Pod update razorpay-pod
flutter pub pub cache repair
Flutter build iOS

in case of an issue do ask

[2020-05-23 14:04] hiteshgarg002 commented on #27
Has someone got any solution for the same?

[2020-05-23 14:50] hiteshgarg002 commented on #75
@Sathi789888 have you got

@Sathi789888 have you got any solution for the same?

[2020-05-24 08:06] Nautiyalsachin commented on #45
@Renatinaveen: Yes, the process mention is correct 🙂. If you are getting an error from other plugins that don't support Bitcode then please ask them to share a Bitcode enabled plugin.

[2020-05-25 02:46] sanjeevkse commented on #48
This worked for me too. After so many days of struggle. Thank you so much.

[2020-05-26 07:43] ayush97123 commented on #43
I am also having issue with flutter web. I have implemented everything. But the razorpay pop up screen is not coming on this line razorpay.open(options);

And also there is no error also.

[2020-05-31 14:58] withdurrani commented on #43
Even I am not able to use the razor pay to the flutter web. Is there any fix coming up for this?

[2020-06-01 04:23] ayush97123 commented on #43
I have written to razorpay team but no response yet.

[2020-06-01 05:09] jogiji commented on #43
I have done an implementation using web. I have just one problem of passing dart function through platform channel.

[2020-06-05 15:28] DeveloperWaybee commented on #65
Anyone please reply on this issue because subscriptions are also a great feature of Razorpay. It would be great if we have that feature as well.

[2020-06-11 05:17] ashishrawat2911 commented on #57
Thanks, it worked

[2020-06-18 12:38] sendtomitesh commented on #21
same we are also facing.

[2020-06-19 18:23] SandyAra commented on #77
same issue for me

[2020-06-23 12:37] Anmol92verma commented on #65
don't we have subscriptions ?

[2020-06-30 09:00] wirelessbhai commented on #37
### **Error Launching The Application**

[!] CocoaPods could not find compatible versions for pod "razorpay_flutter":
      In Podfile:
        razorpay_flutter (from `.symlinks/plugins/razorpay_flutter/ios`)

 Specs satisfying the `razorpay_flutter (from `.symlinks/plugins/razorpay_flutter/ios`)` dependency were found, but they required a higher minimum deployment target.

[2020-06-30 11:38] suthishan opened #88 "Currency not support"
var options = {
      'key': ConstantValues.getGatewayTestKey(),,
      'amount': selectedPlan['sub_amount'],
      "currency": 'USD',
      'name': 'Pankaj Method',
      'description': 'Meditation App',
      'prefill': {'contact': '', 'email': ''},
      'external': {
        'wallets': ['paytm']
      }

 Invalid amount (should be passed in integer cent. Minimum value is 50 cent, i.e. $ 0.50)

[2020-07-01 05:49] gourabghosh1 commented on #88
@suthishan Can you please provide your MID ?

[2020-07-01 07:11] suthishan commented on #88
MID - A5LDbbBj9JJXHH

[2020-07-01 10:30] gourabghosh1 commented on #88
@suthishan it seems like working fine , try with below -
  amount: 50,
currency: 'USD',

<img width="398" alt="Screenshot 2020-07-01 at 3 57 01 PM" src="https://user-images.githubusercontent.com/67676136/86234025-f5775500-bbb3-11ea-9c36-3bd5b510431f.png">

[2020-07-01 11:00] suthishan commented on #88
ya thanks its working i have added amount as a invalid format

[2020-07-02 05:02] rdcoder33 opened #89 "RazorPay PayPal Support"
RazorPay Provides Support for PayPal. But I can't find a way to use PayPal in this plugin, are you guys considering to add PayPal support to this plugin as well? Should I wait for this or move on? Please clarify.

[2020-07-03 09:57] Vickycp commented on #42
thanks bro

[2020-07-07 08:24] EffyCoder opened #90 "cancel or continue payment dialog even after completion of payment transaction."
## Description
I have integrated this plugin in our app. The payment is completed with our callback url being called and response returned with webpage. But after that, it should hand over the control to the back by calling event of payment being successful or failed one. This doesn't happen. Instead as nothing happens after waiting for some time user clicks back button and it shows a dialog

"Do

[2020-07-08 19:15] EffyCoder commented on #70
@manishvill were you able to solve this issue?

[2020-07-11 06:13] thetpaingsoe opened #92 "Can't build iOS app with razorpay_flutter 1.2.1 and XCode 11.5"
## Description

When i try to run project with razorpay_flutter 1.2.1, This error come out.
Can't run the app and can't build the ios app.

This is error log.

Xcode build done.                                           35.8s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    Command CompileSwift failed with a nonzero exit code
    /Users/usernam

[2020-07-11 08:38] Anmol92verma commented on #92
Same issue with me! Please fix this !

[2020-07-11 09:07] Abhi9454 commented on #92
Same issue here. Please resolve it ASAP

[2020-07-12 08:46] Anmol92verma commented on #92
@Nautiyalsachin 👆  Please update any workaround atleast ?

[2020-07-12 12:49] sumedht commented on #86
@shailendra-rajpoot @parvbhullar We have updated SDK to version 1.2.1 which supports Flutter's 1.12 version changes. Please updated to latest version of SDK to fix this.

[2020-07-12 12:49] #86 closed

[2020-07-12 12:50] sumedht commented on #60
We have updated SDK to version 1.2.1 which supports Flutter's 1.12 version changes. Please updated to latest version of SDK to fix this.

[2020-07-12 12:50] #60 closed

[2020-07-12 12:51] sumedht commented on #65
@razorpay/techpgintegrations

[2020-07-12 12:52] sumedht commented on #74
We have updated SDK to version 1.2.1 which supports Flutter's 1.12 version changes. Please updated to latest version of SDK to fix this.

[2020-07-12 12:52] #74 closed

[2020-07-12 12:54] sumedht commented on #90
@ChintanAcharya ^

[2020-07-12 12:54] #88 closed

[2020-07-12 12:55] sumedht commented on #89
@razorpay/techpgintegrations

[2020-07-13 13:36] srivastavarnav commented on #77
Any update on this?

[2020-07-13 13:53] srivastavarnav commented on #92
Any update on this issue? - please help.

[2020-07-14 03:05] sparkidea-codecrab commented on #92
+1 same issue

[2020-07-14 07:46] Siddharth-Dev commented on #57
@superhumang Did it worked for xcode v11.4 or above. I am having the same issue on Xcode11.4, I updated the pod version to 1.1.5 but still same issue.

[2020-07-14 08:55] EffyCoder commented on #90
@ChintanAcharya and @sumedht  why this happens any idea?

[2020-07-14 10:07] Anmol92verma commented on #92
[✓] Flutter (Channel stable, v1.17.5, on Mac OS X 10.15.5 19F2200, locale en-IN)
    • Flutter version 1.17.5 at /Users/anmol/flutter
    • Framework revision 8af6b2f038 (2 weeks ago), 2020-06-30 12:53:55 -0700
    • Engine revision ee76268252
    • Dart version 2.8.4

[2020-07-14 11:33] nimi0112 commented on #92
Same here. Facing build issues

[2020-07-14 12:45] nimi0112 commented on #92
@Nautiyalsachin  @sumedht  @ChintanAcharya  please acknowledge this issue

[2020-07-14 14:55] Harshalshree commented on #57
I still cannot resolve this error. Is anyone else facing the same?

[2020-07-14 15:12] EffyCoder commented on #26
@Rameshv were you able to solve the problem as I am also facing the same issue of the event callbacks are getting called. Please let me know how you have solved it.

[2020-07-15 06:22] nimi0112 commented on #92
I have tried to reach out to them on Twitter. Let's see I get a response there.

https://twitter.com/nimish_nandwana/status/1283284941652934657

[2020-07-15 10:58] nimi0112 commented on #92
I have raised an support ticket and got this reply:

[2020-07-15 14:13] sparkidea-codecrab commented on #92
@nomis-rzp Hope so we will have an answer from the support soon!

[2020-07-15 14:41] dhsont opened #93 "app crash when click on _razorpay.open(options) in release mode"
## Description
App is crashing when click on     ```_razorpay.open(options)```     in release mode   "  flutter build apk --split-per-abi"
It is working fine in debug mode.

error
[code]

## Flutter Doctor:
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.17.5, on Microsoft Windows [Version 10.0.18363.900], locale en-IN)

[√] Android toolchain - develop f

[2020-07-15 18:51] shameeksarkar commented on #57
Using Xcode 11.5 and facing the same issue. Any solution?

[2020-07-16 06:21] vishwesh-aubergine commented on #57
I am using 1.1.3 and Xcode 11.5 facing the same issue @Nautiyalsachin

[2020-07-16 14:32] Alok81234881 commented on #75
I have same issue. How can i solve this

[2020-07-16 17:01] Anmol92verma commented on #92
I found a solution, here's the razorpay pod folder that works for me from my other system,
Link to Google Drive too.
https://drive.google.com/file/d/1emzrBAYUec3xTcih3bSjwvehKwsufMZ2/view?usp=sharing

[razorpay-pod.zip](https://github.com/razorpay/razorpay-flutter/files/4933018/razorpay-pod.zip)

[2020-07-17 00:56] thangvq95 commented on #92
thanks @Anmol92verma , i found another solution as well. This issue have already solved in master branch razorpay-pod: https://github.com/razorpay/razorpay-pod.git
Latest commit is: 4159c5044489dd26687f688ddea44e80fb530e52

To solve the issue, under target 'Runner' add
 1. pod 'razorpay-pod', :git => 'https://github.com/razorpay/razorpay-pod.git', :commit => '4159c5044489dd26687f688ddea44e80fb530e

[2020-07-17 03:34] Alok81234881 commented on #57
Duplicate issue #92

[2020-07-17 11:27] thetpaingsoe commented on #92
@thangvq95 Yes, It worked!

[2020-07-17 13:26] nimi0112 commented on #92
@thetpaingsoe  it was resolved but I don't think you should close this issue, let the team itself fix and close this. It could help many others also.

[2020-07-18 15:28] winterprogram commented on #37
Error Launching The Application on Ios Device
[!] CocoaPods could not find compatible versions for pod "razorpay_flutter":
In Podfile:
razorpay_flutter (from .symlinks/plugins/razorpay_flutter/ios)

Specs satisfying the razorpay_flutter (from .symlinks/plugins/razorpay_flutter/ios) dependency were found, but they required a higher minimum deployment target.

[2020-07-18 15:54] winterprogram commented on #79
No podspec found for `razorpay_flutter` in `.symlinks/plugins/razorpay_flutter/ios`
Issue while building ios

[2020-07-19 09:35] winterprogram opened #94 "Error Launching The Application on Ios Device"
[!] CocoaPods could not find compatible versions for pod "razorpay_flutter":
In Podfile:
razorpay_flutter (from .symlinks/plugins/razorpay_flutter/ios)

Specs satisfying the razorpay_flutter (from .symlinks/plugins/razorpay_flutter/ios) dependency were found, but they required a higher minimum deployment target.

[2020-07-20 02:11] CrashOverride90 commented on #92
This worked! Thanks

[2020-07-20 02:59] sparkidea-codecrab commented on #94
This is due to your minimum deployment target being less than iOS 10.0. To change this, open ios/Podfile in your project and add/uncomment this line at the top:

# platform :ios, '9.0'
and change it to

platform :ios, '10.0'
and run pod install again in the ios directory.

[2020-07-20 04:04] Rameshv commented on #26
@EffyCoder I upgraded the plugin to the latest version and the issue went away. I don't remember doing anything drastic.

[2020-07-20 06:11] Alok81234881 commented on #75
Have anyone got any solution for the same?

I am getting this run time error after adding the flutter screen in my existing ios app.

[2020-07-21 08:11] abhinavsingh commented on #43
Wondering if this is on the radar?  Gave it a try, works well for Android but fails on web.

[code]

[2020-07-21 11:53] Bhardwajraju commented on #57
error: the following command failed with exit code 0 but produced no further output
    CompileC /Users/apple/Library/Developer/Xcode/DerivedData/Runner-fykulzvympdpxfggcxtxwljabmha/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/FMDB.build/Objects-normal/x86_64/FMDatabase.o /Users/apple/Downloads/androidproject/sanjar_creation/ios/Pods/FMDB/src/fmdb/FMDatabase.m normal x86_64 objecti

[2020-07-24 06:42] kjdeepak commented on #39
Is this expected behaviour in test mode?

[2020-07-25 09:34] karkoding commented on #57
I'm on Xcode 11.6 and updated razorpay pod to 1.1.5. Still no luck. Any found solution?

[2020-07-25 09:59] abhi143u11 commented on #57
I'm on Xcode 11.6 and updated the Razorpay pod to 1.2.2. Still no luck. Did anyone found a solution? My friend on VM machine its work with same thing and for me on MY MBP its not

[2020-07-27 07:12] #31 closed

[2020-07-27 15:59] Nautiyalsachin commented on #57
@karkoding, @abhi143u11 : Can you guys go to [Your App Name] > ios > Podfile.lock and share the razorpay-pod version here? This will tell the current version of razorpay-pod which you are using in your project.

[2020-07-28 03:35] ShubhraRao commented on #10
Did you find a solution this? I have been facing the same problem and cannot seem to find any solution for it.
This is the error I get.
Pleas help me.

E/flutter (29223): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: PlatformException(error, Unable to find explicit activity class {com.example.packagename/com.razorpay.CheckoutActivity}; have you declared this activity in your An

[2020-07-28 04:49] Renatinaveen commented on #57
@Nautiyalsachin this is the pod version i'm on razorpay-pod (1.1.4)

[2020-07-28 06:49] Nautiyalsachin commented on #57
Yes, it supports, razorpay-pod should be 1.1.5. I would suggest you to remove razorpay_flutter plugin and add it again. This will update razorpay-pod automatically to the latest version. @Renatinaveen Let me know if it works for you.

[2020-07-28 06:55] Renatinaveen commented on #57
I have done the steps @Nautiyalsachin this is the output i'm getting

`Xcode's output:
↳
    /Users/smjsolutions/Documents/flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.2.2/ios/Classes/RazorpayDelegate.swift:4:42: error: 'RazorpayPaymentCompletionProtocolWithData' is unavailable: cannot find Swift declaration for this protocol
    public class RazorpayDelegate: NSObject, RazorpayPa

[2020-07-28 07:09] Renatinaveen commented on #57
after adding Enable bitcode this error is gone. But i couldn't run project still getting this error You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. @Nautiyalsachin.

[2020-07-28 07:21] Nautiyalsachin commented on #57
Please share the **razorpay-pod** version here from **pofile.lock**

[2020-07-28 07:23] Renatinaveen commented on #57
- razorpay-pod (1.1.4)
  - razorpay_flutter (1.1.5):
    - Flutter
    - razorpay-pod

[2020-07-28 08:14] abhi143u11 commented on #57
To solve the issue, in Podfile, under target 'Runner' add

pod 'razorpay-pod', :git => 'https://github.com/razorpay/razorpay-pod.git', :commit => '4159c5044489dd26687f688ddea44e80fb530e52'
update SWIFT_VERSION to 5.2
flutter clean and remove razorpay-pod in ios/Pods
pod install and run

I run the same and mine worked fine.

I added this line in podfile in ios folder as follows

  # Keep pod path r

[2020-07-28 08:56] Renatinaveen commented on #57
@abhi143u11 after doing the following steps and when running pod install i'm getting this
Pre-downloading: `razorpay-pod` from `https://github.com/razorpay/razorpay-pod.git`, commit `4159c5044489dd26687f688ddea44e80fb530e52`
[!] CocoaPods could not find compatible versions for pod "razorpay-pod":
  In snapshot (Podfile.lock):
    razorpay-pod (= 1.1.4)

  In Podfile:
    razorpay-pod (from `https:

[2020-07-28 09:18] Renatinaveen commented on #57
Okay done now the version is razorpay-pod (1.1.5)
but i'm facing this error when bitcode is enabled. You must rebuild it with bitcode enabled (Xcode setting
    ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target.

[2020-07-29 08:12] Bhardwajraju commented on #57
Tis is my podfile.lock    and mu Xcode version 11.3.1
PODS:
  - Flutter (1.0.0)
  - flutter_plugin_android_lifecycle (0.0.1):
    - Flutter
  - flutter_read_more_text (0.0.1):
    - Flutter
  - fluttertoast (0.0.2):
    - Flutter
  - FMDB (2.7.5):
    - FMDB/standard (= 2.7.5)
  - FMDB/standard (2.7.5)
  - image_cropper (0.0.2):
    - Flutter
    - TOCropViewController (~> 2.5.2)
  - image_picker

[2020-07-30 04:43] balasubramanian1612s commented on #28
Could you please explain a bit!?

[2020-07-30 11:32] Nautiyalsachin commented on #57
@Bhardwajraju : As I can see in your code, you are using **razorpay-pod (1.1.4)**. Please remove the **razorpay plugin** and add it again, this will also automatically update the **razorpay-pod**

[2020-07-30 11:33] Nautiyalsachin commented on #57
Hey @Renatinaveen, our SDK is already **bitcode enabled**. Please check for other plugins which you are using in your code.

[2020-07-30 11:34] Renatinaveen commented on #57
@Bhardwajraju this solved my problem. Try this

[2020-07-30 11:35] Renatinaveen commented on #57
Thanks it's solved with the latest pod version. It's working fine now.

[2020-07-31 05:18] balasubramanian1612s commented on #46
@rahuldange09 Hey bro, could you please say what you did, i have same issue..

[2020-08-02 17:53] d3fkon commented on #93
It works fine when you run `flutter run --release` but crashes when built in release mode.
My team is on the verge of switching payment gateways because of this bug. An acknowledgement regarding this would help us convince the team to stick with RP

[2020-08-04 06:46] rahuldange09 commented on #46
I mentioned in above comment. Please check that as I was using iTerm as default so.

[2020-08-05 09:18] vishal-android-freak commented on #75
on iOS `resync()` should just succeed as it doesn't have any implementation in iOS. Use the master branch.

[2020-08-05 11:09] vishal-android-freak commented on #89
This library doesn't support custom SDK integration. Watch for this space as we are a separate flutter plugin for razorpay with standard and custom checkout

[2020-08-08 12:08] dinesh-ant commented on #75
same issue, any solution?

[2020-08-10 12:55] vinothvino42 commented on #48
Thank you so much! It worked for me.

[2020-08-11 15:05] aliasgarlabs commented on #93
https://github.com/razorpay/razorpay-flutter/issues/42

[2020-08-11 16:05] subhendupsingh commented on #43
Integrated this using iFrameElement as view factory and JavaScript interop. Wrote an article on this

https://medium.com/@sps.1431990/flutter-web-razorpay-payment-gateway-integration-792d6e015409

[2020-08-18 16:47] appventor commented on #43
+1 for this. Can you give us a timeline on when this plugin will support flutter web, I've a requirement with integration for flutter web.

[2020-08-19 06:02] ayush97123 commented on #43
I have implemented it using razorpay web integration and using js interop library to call javascript function from dart. It works quite well.

[2020-08-23 12:07] varamsky opened #98 "I/chromium(13226): [INFO:CONSOLE(1)] "Uncaught TypeError: window.getDeviceDetails is not a function" I/flutter (13226): Payment Error : 1 {"code":"BAD_REQUEST_ERROR","description":"The id provided does not exist","source":null,"step":null,"reason":null,"metadata":{}}"
I get the following error while using razorpay-flutter plugin for my flutter app:

I/chromium(13226): [INFO:CONSOLE(1)] "Uncaught TypeError: window.getDeviceDetails is not a function", source: https://api.razorpay.com/v1/checkout/public?version=1.5.16&platform=android&library=checkoutjs (1)
I/flutter (13226): Payment Error : 1 {"code":"BAD_REQUEST_ERROR","description":"The id provided does not exi

[2020-08-24 06:56] ambujap94 commented on #98
Please make sure the order id must have been generated using the same key id you are using to create the payment request.
In this case, we can see that the order id has been generated using a different key than you are using in the checkout. Please implement and try the resolution and provide a correct order id.

[2020-08-24 07:35] jithinjoycy opened #99 "I got this error when i change demo mode to live mode"
W/ActivityThread( 5425): handleWindowVisibility: no activity for token android.os.BinderProxy@65724aa
W/com.broid.user( 5425): Opening an oat file without a class loader. Are you using the deprecated DexFile APIs?
W/com.broid.user( 5425): Opening an oat file without a class loader. Are you using the deprecated DexFile APIs?
E/com.broid.user( 5425): Dex checksum does not match for dex: /data/user/0

[2020-08-24 07:39] jithinjoycy commented on #98
keyId is same

[2020-08-24 09:29] varamsky commented on #98
What do you mean??  @ambujap94

I thought that you could use any type of orderID and it didn't have to be generated using the key or the payment ID!!

I thought that if I had key as rzp_test_CphmkEBGNw9BME, the payment ID as pay_054540g48g5 and the order ID any anything for example, OR547 it would be fine!!

If not, please help me in generating a proper orderID. I am using flutter and the [Razorpa

[2020-08-24 10:52] ambujap94 commented on #98
The integration step would be to generate the order id on the server using your API key and then pass the same to the checkout options to proceed with the payment. please follow steps 6 and 7 on the documentation. Please find the orders [API](https://razorpay.com/docs/payment-gateway/orders/migration) for further reference.

[2020-08-24 13:44] varamsky commented on #98
What if I don't have a dedicated backend?

I don't have a backend server to " generate the order id on my server using my API key"!!

[2020-08-24 15:01] vivekshindhe commented on #99
@jithinjoycy Hey there, thanks for reaching out to us.

If you see the error, it states "The ID provided does not exist". This can be the order_id or the api_key that you set in the code. Can you please cross verify this? Also FYI, order_id created with test keys cannot be used interchangeably with live keys.
Let us know if this resolves your issue.

Thanks

[2020-08-26 07:44] varamsky commented on #98
Thank you very much for your help @ambujap94 and @vivekshindhe . I was able to solve the issue.

For anyone who is not able to solve it yet, please read the Razorpay documentation as they are guiding developers to switch to the Orders API for generating their Order IDs. Please refer to this [Razorpay documentation](https://razorpay.com/docs/api/orders/).

From what I have learned from it, you cann

[2020-08-26 07:45] varamsky commented on #98
I am closing the issue for now :)

[2020-08-26 07:45] #98 closed

[2020-08-26 15:42] surveshoeb opened #100 "Requested amount issue"
## Description
The amount added in the options map is always actualAmount/100. I also tried to send the decimal value example 1000.00 still it shows 1 on the payment page.

### Flutter Version :
[code]

### Device use for testing :
[code]

### Options Map Value
[code]

### Expected Results
Amount on payment page should be 1000 INR

[2020-08-27 06:21] ambujap94 commented on #100
@surveshoeb Razorpay accepts the amount in integer and in the basic unit that is paise. If you will pass the amount=1000, it will be equivalent to 10 INR.
 If you want to pass 23.56 INR then please amount=2356 in the checkout options.
Please refer [here](https://razorpay.com/docs/payment-gateway/web-integration/standard/checkout-options/) for further details

please let us know if you need further

[2020-08-27 06:24] #100 closed

[2020-08-28 06:11] himanshusharma89 opened #101 "Closing the checkout window multiple times freezes the app (without proceeding to pay)."
## Description
Application freezes/hangs if we close the checkout window multiple times without proceeding to pay. And the app gets stuck at a grey screen.

This issue might be similar to #21, but the steps are different and maybe log's too.

**Log:**
[code]

## Razorpay Version :
1.2.1

## Flutter Version :
Flutter (Channel beta, 1.21.0-9.1.pre, on Microsoft Windows [Version 10.0.19041.450], loca

[2020-08-28 10:16] #99 closed

[2020-08-31 11:03] ravipromact2306 commented on #37
@winterprogram Any luck with this?

[2020-09-01 06:03] ravipromact2306 opened #102 "Unknown attribute '_hasMissingDesignatedInitializers'"
Not able to Run project after implementing razorpay_flutter.

## Description
Receiving below errors,
![Screenshot 2020-09-01 at 11 51 37 AM](https://user-images.githubusercontent.com/60922861/91806285-8ec0f700-ec49-11ea-8a89-38e66bf485a8.png)

![Screenshot 2020-09-01 at 11 26 35 AM](https://user-images.githubusercontent.com/60922861/91800256-4b18be00-ec46-11ea-8d08-b76d32e25b15.png)

## Flutter Ve

[2020-09-04 12:38] ParthPahuja101 commented on #26
I'm facing the same issue the success and failure callback are not called please help

[2020-09-04 18:43] EffyCoder commented on #26
@ParthPahuja101 please check if Razorpay has provided you with Callback urls from there side. For one client I had other payment gateway, was also facing same issue then after using static callback URLs from their side on both front and backend side. The issue resolved. Check if you can do the same.

[2020-09-04 18:49] ParthPahuja101 commented on #26
Thanks bro, your reply is appreciated but there was some issue from my side only , the callbacks were not called properly.

[2020-09-04 21:53] don-k-jacob commented on #92
Thanks @Anmol92verma It worked for me

[2020-09-12 04:51] faisalmushtaq007 commented on #26
@ParthPahuja101  How did you solved this issue? Please help

[2020-09-12 05:00] ParthPahuja101 commented on #26
@faisalmushtaq007 make sure to use the latest stable packages available and name the callback functions exactly as mentioned in above examples.

[2020-09-12 05:02] faisalmushtaq007 commented on #26
@ParthPahuja101 i checked. Could you please send me the portion of your code. please

[2020-09-14 05:22] yashpaneliya commented on #42
Thank you so much @yashdabi 🚀🚀

[2020-09-17 04:57] sajithstorybox commented on #102
Same here any solutions?

[2020-09-17 05:37] ravipromact2306 commented on #102
I have updated it to the latest Xcode version 11.7 and it runs successfully. Which version of Xcode you are using?

[2020-09-17 05:38] ravipromact2306 commented on #102
I have updated it to the latest Xcode version 11.7 and it runs successfully. Which version of Xcode you are using?

[2020-09-17 18:20] Sagar6133 commented on #42
i m aslo facing same problem and i ahve added proguard rules ... did not worked ..the api key is test key ... it is woring with debug version, not working with release version

can anyone guide please

[2020-09-17 18:23] Sagar6133 commented on #42
can anyone help please , how it will be fixed

[2020-09-18 06:51] shivangg66 opened #104 "Error while building app in release mode"
A 'can't instrument' error occurs when I try to build my app in release mode. Error log :

Can't instrument: com/razorpay/RzpAssist.class
java.lang.IndexOutOfBoundsException: Index: -1, Size: 1
        at java.util.ArrayList.rangeCheckForAdd(ArrayList.java:665)
        at java.util.ArrayList.add(ArrayList.java:477)
        at org.objectweb.asm.commons.AdviceAdapter.visitInsn(AdviceAdapter.java:280

[2020-09-22 05:33] ambujap94 commented on #104
@shivangg66 Could you please provide a few details for us to debug this.
1. Version of SDK where you are getting this issue
2. Is it working in debug mode?
3. Did you added proguard rules?

[2020-09-22 05:46] shivangg66 commented on #104
1. The version of sdk is 1.2.1
2. Yes it is working on debug mode.
3. I did add proguard rules

[2020-09-22 06:09] ambujap94 commented on #104
@shivangg66 Could you please upgrade to our latest version 1.2.2, and let us know if you are still facing the issue.

[2020-09-25 15:03] deepakatom commented on #28
Got the issue again with Swift 5.2.4 this week. Any solution for this?
![error](https://user-images.githubusercontent.com/71891121/94283224-5c679880-ff6e-11ea-91c9-ed364a592a3e.jpeg)

[2020-09-25 15:19] deepakatom opened #106 "Module compiled with Swift 5.2.4 cannot be imported by the swift 5.1.3 compiler"
Module compiled with Swift 5.2.4 cannot be imported by the swift 5.1.3 compiler

## Flutter Version : 1.20.1

## Xcode Version : 11.3.1

## Razorpay Version : 1.2.2

##Cocopod version: 1.10.0

![Capture](https://user-images.githubusercontent.com/71891121/94284840-92a61780-ff70-11ea-98d9-4be7e409c757.PNG)

[2020-09-28 06:16] Nautiyalsachin commented on #106
Hi @deepakatom, can you share the Razorpay pod details here? Which razorpay-pod version are you using right now? you can find that in your podfile.lock file.

[2020-09-28 12:36] shivangg66 commented on #104
I upgraded to 1.2.2 but am still facing the same issue.

[2020-09-28 12:49] Nautiyalsachin commented on #28
Hey @deepakatom, Can you try cleaning the build and deleting derived data first, and try again, let me know after following these steps you are still getting the same error.

[2020-09-28 13:36] agniswarm commented on #104
+1

[2020-09-29 11:48] vinothvino42 opened #107 "Failed to load module 'Razorpay'"
I just created a sample app, added `razorpay_flutter: ^1.2.2` package,` platform :ios, '10.0' `added to Podfile and tried running it in iOS Simulator. It shows the below exception. Recently it's not working.

## Log
[code]

## Flutter doctor summary

[code]

[2020-09-29 17:25] Nautiyalsachin commented on #107
Hi @vinothvino42 : Can you share razorpay-pod version and your Xcode version here?

[2020-09-29 17:27] Nautiyalsachin commented on #107
@vinothvino42 : Here is a same [issue](https://github.com/razorpay/razorpay-flutter/issues/102) raised. Please try updating your Xcode, this may help solving issue.

[2020-09-29 18:15] vinothvino42 commented on #107
Hi @Nautiyalsachin : razorpay-pod version is 1.1.7 and the xcode version is 11.3.1

[2020-09-30 11:52] raveesh-me commented on #43
+1 on this. I'd also like to see the repo to have some federation for stability purposes. Our company is willing to post a PR with enhancements to this plugin if needed.

[2020-10-01 20:05] amitmaurya0 commented on #92
can you please post your Podfile here or paste the pod runner add snippet here Please.
TIA.

[2020-10-02 06:09] thakurkartik1901 commented on #107
Hi @vinothvino42. I had the same issue. First I upgraded my macOS to version 10.15.7 and then xcode to Version 12.0.1 . It worked for me.

[2020-10-03 01:06] vinothvino42 commented on #107
@Nautiyalsachin Yes, it's working good with Xcode 12 and the stable version of Flutter v1.22

[2020-10-03 01:06] #107 closed

[2020-10-07 12:42] achieverprince commented on #48
It is strange for me
Dev mode crashes (even app start)
But --variant=release works fine

[2020-10-08 10:46] Nautiyalsachin commented on #102
Hey @sajithstorybox, Please try to update your Xcode and also your razorpay-pod to the latest, I hope you have already solved this issue, if not then please feel free to add a comment/re-open this issue.

[2020-10-08 10:46] #102 closed

[2020-10-08 10:48] Nautiyalsachin commented on #94
Hi @winterprogram, as we have mentioned on our readme about the minimum platform support please add the mentioned changes and let me know if it works for you. Closing this issue for now. Feel free to re-open it.

[2020-10-08 10:48] #94 closed

[2020-10-08 10:52] Nautiyalsachin commented on #92
Hey @thetpaingsoe, we have released a new version with the fix, please update your flutter plugin and run pod update, this will fix this issue. Closing this issue now.

[2020-10-08 10:52] #92 closed

[2020-10-08 10:53] #38 closed

[2020-10-09 07:37] Nautiyalsachin commented on #33
Hey @akasantony, try to update the razorpay-pod to the latest version and also update your Xcode, this will help you to get our module stabilised SDK, which solve this `.modulemap` error.

[2020-10-09 07:37] #33 closed

[2020-10-11 05:01] Sripranav07 commented on #104
have you added this line inside a proguard files
-keepattributes *Annotation*
-dontwarn com.razorpay.**
-keep class com.razorpay.** {*;}
-optimizations !method/inlining/
-keepclasseswithmembers class * {
  public void onPayment*(...);
}

If you have not still  creating the proguard-rules file android/src/app/proguard-files
inside the file add above lines

[2020-10-13 16:46] iamdipanshusingh commented on #67
Hey @Nautiyalsachin, could you please reopen this issue getting the same issue in razorpay 1.1.5

have attached the screenshot for the issue and flutter doctor as well... I'm using vscode and xcode only for the ios build... so, android sdk can be ignored... LMK if any further input is required

![](https://files.slack.com/files-pri/TD54N3MQA-F01CPLQB7A8/screenshot_2020-10-13_at_9.29.39_am.png)
![]

[2020-10-14 08:21] Nautiyalsachin commented on #67
@iamdipanshusingh,  Can you share the razorpay-pod version, it will be mentioned in your podfile.lock.

[2020-10-14 08:24] iamdipanshusingh commented on #67
@Nautiyalsachin it's 1.1.5

[2020-10-14 10:06] Nautiyalsachin commented on #67
@iamdipanshusingh Try running pod update, this will update it to the latest version.

[2020-10-14 11:08] iamdipanshusingh commented on #67
@Nautiyalsachin updated the dependency, my OS, and xcode as well... still no luck... :sweat_smile: I've even tried solutions from other similar issues... but nothing is working out for me...
plz help me figure out what's wrong here...

[2020-10-14 11:12] Nautiyalsachin commented on #67
@iamdipanshusingh, Try creating a new sample app or use this [example](https://github.com/razorpay/razorpay-flutter/tree/master/example).

[2020-10-14 13:33] iamdipanshusingh commented on #67
@Nautiyalsachin I had actually updated the Podfile manually due to some other package... have fixed it.. thnx for the help :slightly_smiling_face:

[2020-10-17 16:20] mitalpatel5944 commented on #48
not working. why these issue closed ?

[2020-10-18 14:51] achieverprince commented on #48
after gradlew clean and increasing minsdk to android 5 worked, it worked.

[2020-10-19 04:12] hiteshgarg002 opened #108 "Pay Later Option"
Hi, I tried disabling Pay Later option but it seems its not working, please fix this.

I tried the following way but its not working
 "method": {
     "paylater": false,
  },

[2020-10-19 04:29] hiteshgarg002 commented on #34
#42

[2020-10-19 17:22] praveenreddyd24 opened #109 "Could not build the application for the simulator. Error launching application on iPhone 11 Pro Max."
Hi, I'm trying to integrate razorpay_flutter: ^1.2.2 while running ios build am getting an error "Could not build the application for the simulator". "Error launching the application on iPhone 11 Pro Max."  Android app is running fine but having issues with the iOS app.

[2020-10-20 06:27] Prajwal625 commented on #108
Hi Hitesh,
Pay later option does not work with the method parameter, could you please raise a ticket on our dashboard for better assistance on the use case.

[2020-10-20 07:58] Nautiyalsachin commented on #109
Hi @praveenreddyd24, we have asked you some of the basic details which we can use for debuging your issue, right now its not giving any information from above issue that how can we fix this, please attach some more informations like -

1. Xcode version
2. razorpay-pod version
3. Errors or copy of your logs from xcode logs.

[2020-10-20 15:15] Adityavns commented on #43
+1

[2020-10-21 07:12] sumedht commented on #21
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:12] #21 closed

[2020-10-21 07:13] sumedht commented on #26
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:13] #26 closed

[2020-10-21 09:01] sumedht commented on #35
We will take ur suggestion into consideration. Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 09:01] #35 closed

[2020-10-21 09:05] sumedht commented on #29
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 09:05] #29 closed

[2020-10-21 09:06] sumedht commented on #34
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 09:06] #34 closed

[2020-10-21 09:08] sumedht commented on #42
Closing this issue due to no further response. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 09:18] #42 closed

[2020-10-21 09:29] sumedht commented on #39
We have fixed this issue. Try to update to our latest version if u have not. Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 09:29] #39 closed

[2020-10-21 09:44] sumedht commented on #54
We have updated flutter framework in our new SDK version. please update to the latest version of SDK. Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 09:56] sumedht commented on #43
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 09:56] #43 closed

[2020-10-21 09:57] sumedht commented on #53
We are not supporting other currency than INR for SDK right now. Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 09:57] #53 closed

[2020-10-21 10:01] sumedht commented on #41
We have fixed this issue with our latest version of SDK. Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:01] #41 closed

[2020-10-21 11:58] sumedht commented on #93
@dhsont U need to add proguard rules as given in razorpay doc [here](https://razorpay.com/docs/payment-gateway/android-integration/standard/proguard-rules/) & enable proguard in the build.
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 11:58] #93 closed

[2020-10-21 12:14] hiteshgarg002 commented on #108
Hi @Prajwal625
Can you tell me how can I hide Pay later option?

[2020-10-21 13:11] sumedht commented on #64
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 13:11] #64 closed

[2020-10-21 13:12] sumedht commented on #50
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 13:12] #50 closed

[2020-10-21 13:13] #54 closed

[2020-10-21 13:14] sumedht commented on #65
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 13:14] #65 closed

[2020-10-21 13:16] sumedht commented on #69
https://razorpay.com/docs/payment-gateway/android-integration/standard/#timeouts
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 13:16] #69 closed

[2020-10-21 13:19] sumedht commented on #70
please update to our latest SDK version
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 13:19] #70 closed

[2020-10-21 13:20] sumedht commented on #75
Update to our latest version if SDK
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 13:20] #75 closed

[2020-10-21 13:28] sumedht commented on #79
Update to the latest version of Razorpay SDK, it will work fine. Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 13:28] #79 closed

[2020-10-21 13:32] sumedht commented on #89
Closing this issue due to no further communications. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 13:32] #89 closed

[2020-10-26 10:47] ravitejaavv commented on #109
Hi @Nautiyalsachin
I am also facing same issue.  Please find required details

Xcode version - 12.1
razorpay-pod version - 1.2.2
Error log:

Launching lib/main.dart on iPhone 12 Pro Max in debug mode...
Running pod install...
Running Xcode build...
Xcode build done.                                           10.6s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcod

[2020-10-27 06:17] Nautiyalsachin commented on #109
Hey @ravitejaavv, can you try this [sample app](https://github.com/razorpay/razorpay-flutter/tree/master/example), and tell us if this is working for you?

[2020-10-27 07:08] ravitejaavv commented on #109
Hi @Nautiyalsachin

Unable to run sample app. Tried pod repo update but no luck

Xcode version - 12.1
Flutter version: 1.22.2

Error Log:

Launching lib/main.dart on iPhone 12 Pro Max in debug mode...

Running pod install...                                              1.0s
CocoaPods' output:
↳
      Preparing

    Analyzing dependencies

    Inspecting targets to integrate
      Using `ARCHS` set

[2020-10-27 08:35] Nautiyalsachin commented on #109
Can you try
`pod repo update`
after that run `pod update`.

[2020-10-27 09:07] ravitejaavv commented on #109
Hi @Nautiyalsachin

Tried pod repo update and pod update and now I am able to run the sample app. Please find the console output.

Ravitejas-MacBook-Pro:example ravitejaaketi$ flutter run
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
Warning
──────────────────────────────────────────────────────────────────────────────
Your Flutter application is created using an o

[2020-10-27 09:37] Nautiyalsachin commented on #109
@ravitejaavv Should I close this issue now then?

[2020-10-27 10:09] ravitejaavv commented on #109
@Nautiyalsachin We can close the issue now. Thanks for the help.

[2020-10-27 14:20] #109 closed

[2020-11-05 05:04] vashisth00 commented on #37
[!] CocoaPods could not find compatible versions for pod "razorpay_flutter":
  In Podfile:
    razorpay_flutter (from `.symlinks/plugins/razorpay_flutter/ios`)

Specs satisfying the `razorpay_flutter (from `.symlinks/plugins/razorpay_flutter/ios`)` dependency were found, but they required a higher minimum deployment target.

[2020-11-05 13:08] paras-28 opened #110 "Feature request : enable for flutter web"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Flutter plugin release to make sure your issue has not already been fixed:

## Flutter Version :
Run `flutter version` in your terminal and cop

[2020-11-06 11:47] AYAN249 commented on #110
Thanks for the effort could you please raise a pull request to the repository post which we will merge it accordingly from our end.

[2020-11-08 12:18] h4rdw1r3 commented on #110
wrap the existing razorpay web sdk for easy payment integration for the flutter web apps

[2020-11-18 11:51] #110 closed

[2020-11-18 11:51] #104 closed

[2020-11-18 11:54] sumedht commented on #106
@deepakatom Closing this issue as there is no further update. U can reopen it facing some issue

[2020-11-18 11:54] #106 closed

[2020-11-18 11:55] #81 closed

[2020-11-29 07:42] maxbhoria opened #111 "Unable to install package in ios"
I am not able to install package for ios device

##Error Description

### Error
 
[code]
 
――― TEMPLATE END ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
 
[!] Oh no, an error occurred.
 
Search for existing GitHub issues similar to yours:
https://github.com/CocoaPods/CocoaPods/search?q=invalid+byte+sequence+in+US-ASCII&type=Issues
 
If none exists, create a ticket, with the tem

[2020-12-01 09:51] faisalmushtaq007 opened #112 "Could you please upgraded the version checkout to 1.6.4. In this package it is still 1.5.x. I am having issues because of this. and google is about to remove my app from playstore"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Flutter plugin release to make sure your issue has not already been fixed:

## Flutter Version :
Run `flutter version` in your terminal and cop

[2020-12-01 11:19] Nautiyalsachin commented on #111
Hi @maxbhoria, it looks like Cocoapods is giving you some error, please refer to the links which you have mentioned on the above issue, like -

Missing install instructions for linux (install deps)
CocoaPods/CocoaPods#9956 [open] [0 comments]
01 Aug 2020
 
ArgumentError - invalid byte sequence in US-ASCII
CocoaPods/CocoaPods#2385 [closed] [5 comments]
08 Sep 2020
 
Pod install fails on invalid byt

[2020-12-01 11:19] #111 closed

[2020-12-03 06:34] sumedht commented on #112
@faisalmushtaq007 Apologies for inconviniance. We will update version till tomorrow

[2020-12-03 06:39] faisalmushtaq007 commented on #112
@sumedht Thankyou so much, i was so stressed due to this issue. I just had this week and after that  googleplaystore would remove my app. Once again thanks and please do inform me here.

[2020-12-04 04:27] faisalmushtaq007 commented on #112
@sumedht Could you please confirm until what time you'll update this package

[2020-12-07 04:31] faisalmushtaq007 commented on #112
Still nothing??? @sumedht

[2020-12-08 17:27] maxbhoria commented on #111
ok if this is Cocoapods issue than how i am able to install my other ios packages from pub dev.??

And one thing i am not getting order_id and signature field in success response.

[2020-12-09 05:06] faisalmushtaq007 commented on #112
@sumedht When will you update the changes, because the package is still with version 1.2.2.

[2020-12-10 07:39] Nautiyalsachin commented on #111
@maxbhoria: Sometime Cocoapod updates the workspace settings, which affects your existing codebase, for solving that you have to update the workspace again with the latest settings. As I've mentioned this link is given by Cocoapods developers as this happens quite often.

Also for the android build, you have to generate the release build with Proguard, as it helps us to maintain the build privacy.

[2020-12-10 16:29] maxbhoria commented on #111
@Nautiyalsachin i am not able to understand how to solve this. Is there any proper steps to follow.

[2020-12-14 08:21] faisalmushtaq007 commented on #112
@sumedht  i am still waiting for the update!!!

[2020-12-17 08:53] faisalmushtaq007 commented on #112
with the new update, the intent redirection issue has been solved.
Cheers!

[2020-12-17 08:53] #112 closed

[2020-12-18 12:30] faisalmushtaq007 opened #117 "Google is still showing intent redirection."
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Flutter plugin release to make sure your issue has not already been fixed:

## Flutter Version :
Run `flutter version` in your terminal and cop

[2020-12-19 15:09] thangarajan opened #118 "Razorpay"
I am using Xcode 11.3.1, I have added Razorpay framework into my app, but Razorpay is not compiling and giving error.
I am using an older version of MacBook and not able to update the latest version of Xcode and Mac os.

Please help me with this.

[2020-12-21 05:22] vivekshindhe commented on #112
@faisalmushtaq007. Could you please send a screenshot or the text with Google's reply? It will contain the part where this Intent Redirection issue will be there. it would help us greatly in solving this faster.

[2020-12-21 05:54] vivekshindhe commented on #117
@faisalmushtaq007 Could you please send a screenshot or the complete text of Google's reply for this? It will contain information about the class where the Intent Redirection issue exists. This will help us solve this issue for you faster.

[2020-12-21 05:57] adamshamsudeen commented on #42
This issue is still persisting. I think we need to add this to the documentation.

[2020-12-21 06:00] faisalmushtaq007 commented on #117
@vivekshindhe Please check this
![Screenshot (12)](https://user-images.githubusercontent.com/24683159/102744474-e82b6e00-437f-11eb-9441-01c9b009130a.png)

[2020-12-21 06:07] adamshamsudeen commented on #42
In the documentation, it says "If you are using proguard for your builds" use the following. But looks like progaurd is necessary, without which I'm getting this error. Can we mention it that way in the documentaion?

[2020-12-21 10:41] Arivuselvan5700 opened #119 "No such module 'Razorpayxc'"
import Flutter
import Razorpayxc
public class RazorpayDelegate: NSObject, RazorpayPaymentCompletionProtocolWithData, ExternalWalletSelectionProtocol {

    static let CODE_PAYMENT_SUCCESS = 0
    static let CODE_PAYMENT_ERROR = 1
    static let CODE_PAYMENT_EXTERNAL_WALLET = 2

    static let NETWORK_ERROR = 0
    static let INVALID_OPTIONS = 1
    static let PAYMENT_CANCELLED = 2
    static let T

[2020-12-22 10:16] Nautiyalsachin commented on #119
@Arivuselvan5700 Please remove xc from your code, also please add other details on this code which was asked in issue template. Thanks.

[2020-12-22 10:16] #119 closed

[2020-12-23 05:18] Arivuselvan5700 commented on #119
Module compiled with Swift 5.0 cannot be imported by the Swift 5.3.1 compiler: /Users/Arivu/IdeaProjects/customerapp/ios/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/x86_64.swiftmodule

removed but facing this issue.

[2020-12-25 09:12] RNSuthar opened #120 "Failed to load module 'Razorpay"
Running pod install...
Running Xcode build...
Xcode build done.                                           22.1s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    Command CompileSwift failed with a nonzero exit code
    /Users/dotsquares/Documents/Projects/Flutter/2020/HighTournaments/hightournaments/ios/Pods/razorpay-pod/Pod/Razorpay.framework/M

[2020-12-26 18:05] mohamedshafeer opened #121 "The sandbox is not in sync with the Podfile.lock. Run 'pod install' or update your CocoaPods installation."
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
--------------------------------------------------------------------------------------------
Launching lib/main.dart on iPhone 12 Pro Max in debug mode...
Running pod install...
CocoaPods' output:
↳
      Preparing

    Analyzing dependencies

    Inspecting targets to integrate

[2020-12-29 09:56] Nautiyalsachin commented on #120
Hi @RNSuthar, please try updating razorpay-pod to the latest version, you can check the current version in podfile.lock

This [issue](https://github.com/razorpay/razorpay-flutter/issues/107) is repeated, please refer the existing issues before raising any new issue.

[2020-12-29 09:56] #120 closed

[2020-12-29 10:03] Nautiyalsachin commented on #121
Hey @mohamedshafeer, as you have mentioned in the title of the issue, please Run 'pod install' or update your CocoaPods installation, in your pod file folder.

Also, refer these similar issues

 Looking for related issues on cocoapods/cocoapods...
 - Missing install instructions for linux (install deps)
   https://github.com/CocoaPods/CocoaPods/issues/9956 [open] [1 comment]
   a week ago

 - erro

[2020-12-29 10:03] #121 closed

[2020-12-29 10:04] Nautiyalsachin commented on #118
@thangarajan, can you share more details here, it would really help if you create a new issue with the asked details.

[2020-12-29 10:04] #118 closed

[2020-12-29 10:07] Nautiyalsachin commented on #117
Hey @faisalmushtaq007, we are working on a new release for fixing this issue, we will be releasing an update soon. Thank you.

[2020-12-29 12:26] Nautiyalsachin commented on #119
Try running pod-update command and try to use the latest Razorpay pod. If you still get this error then try removing the plugin and add it again.

[2020-12-30 09:45] Nautiyalsachin commented on #108
Hey @hiteshgarg002, you can hide Pay Later option from your Razorpay's dashboard, or by syncing up with our support team. Let me know if you still facing this issue. Thank you.

[2020-12-30 09:45] #108 closed

[2020-12-30 09:48] Nautiyalsachin commented on #101
Hey @himanshusharma89, try updating the plugin to the latest version or you can delete the plugin and re-install, which will help you to get the latest frameworks, let me know if that helps to solve this issue.

[2020-12-31 10:19] gouravd opened #122 "Ramdom crashes when Razorpay screen starts"
Seeing random crashes when Razorpay screen starts.
v1.2.3

[✓] Flutter (Channel beta, 1.25.0-8.1.pre, on macOS 11.1 20C69 darwin-x64, locale en-IN)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[✓] Xcode - develop for iOS and macOS (Xcode 12.2)
[✓] Chrome - develop for the web
[✓] Android Studio (version 4.1)
[✓] VS Code (version 1.52.1)
[✓] Connected device (2 a

[2021-01-03 01:29] CharanNampally opened #123 "Unable to build Razorpay module"
I am using Razorpay for my flutter project.
 razorpay_plugin: ^0.3.0 in pubspec
 pod 'razorpay-pod', '1.1.10' in the podfile

## Description
Whenever I tried to build, it fails with the following error
`Xcode's output:
↳
    /Volumes/OS/flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_plugin-0.3.0/ios/Classes/SwiftRazorpayPlugin.swift:6:17: error: cannot find type
    'Razorpay' in scope

[2021-01-05 04:56] vivekshindhe commented on #117
Hey @faisalmushtaq007, continuing from our email thread, could you please confirm if everything was working fine now? We'd like to close this ticket if everything was fine.

[2021-01-05 07:03] Nautiyalsachin commented on #90
Hey @EffyCoder, have you tried updating our plugin to latest version, this may fix this issue, let me know if this still persists.

[2021-01-05 07:04] Nautiyalsachin commented on #101
@himanshusharma89, closing this issue now because of no response, let me know if the issue still persists, you can always re-open the issue or comment on the same. Thanks!

[2021-01-05 07:04] #101 closed

[2021-01-05 07:07] Nautiyalsachin commented on #123
Hey @CharanNampally, you have to update the flutter plugin to the latest version.

You can do that by removing razorpay-flutter plugin and adding it again, or try updating the existing to the latest version. Let me know if the issue still persists.

Regards,
Sachin

[2021-01-05 15:01] CharanNampally commented on #123
The issue is resolved with the latest flutter version. You may close this issue.

[2021-01-05 15:01] #123 closed

[2021-01-06 07:14] Nautiyalsachin commented on #122
Hey @gouravd, what is the frequency for this issue, do you have any steps which we can try to reproduce this issue here?
Any help appreciated.

[2021-01-07 15:13] gouravd commented on #122
its intermittent and not reproducible at will. some times it crashes right when the Razorpay screen opens.. sometimes it crasahes when we come resume (like after paying from UPI)..

[2021-01-07 18:07] #90 closed

[2021-01-08 08:32] Nautiyalsachin commented on #122
@gouravd: How often are you seeing this crash?
We are looking into this, I am also trying to replicate this scenario here. I'll update you on the same thread if I found anything.

[2021-01-11 06:13] Nautiyalsachin commented on #117
Closing this issue due to no response from @faisalmushtaq007, feel free to re-open or add more comments.

[2021-01-11 06:13] #117 closed

[2021-01-11 09:22] muqaddir opened #124 "Webview JS Error: Uncaught ReferenceError: otpPermissionCallback is not defined /// and Uncaught TypeError: window.getDeviceDetails is not a function"
The open checkout page not working . Instead it's showing two errors. One is **otpPermissionCallback is not defined** .Other one is **Uncaught TypeError: window.getDeviceDetails is not a function** .

I'm using
-**Flutter 1.25.0-8.2.pre**
**razorpay_flutter: ^1.2.3**

dependencies
**implementation('com.razorpay:checkout:1.6.3')**

I've attached two screenshots of these errors .

![razorerror 1](ht

[2021-01-11 09:35] #124 closed

[2021-01-12 06:33] vkmittal commented on #111
Hi - were you able to solve the issue ? Am facing the same issue using Razorpay

[2021-01-12 17:08] rohitsainik opened #125 "razorpay pay not working for ios"
### I Was Trying to build my app in ios but was unable to do it as I was getting these errors every time I try to build my app. I was able to build it for android but was getting these errors for ios. if I remove razorpay plugin everything works properly.

↳
* BUILD FAILED *

Xcode's output:
↳
/Users/ganpat/Desktop/Flutter_Apps_Projects_2021/wsflutter/ios/Pods/razorpay-pod/Pod/Razorpay.framework/M

[2021-01-13 06:10] Nautiyalsachin commented on #125
Hey @rohitsainik, please follow the issue template which we have added whenever you creates an issue. It helps us to get the basic details like package version, pod version, XCode version etc. Please create a new issue including all details.

[2021-01-13 06:10] #125 closed

[2021-01-18 06:52] Nautiyalsachin commented on #111
@vkmittal Try to uninstall the cocoa pods and install it again in your mac. Try using latest Cocoapod version to integrate our plugin. Let me know if you still facing any issue.

[2021-01-18 10:29] Aravind-Tamizh opened #126 "Screen closes and status is PaymentFailure"
The error is
[INFO:CONSOLE(1)] "Uncaught ReferenceError: otpPermissionCallback is not defined", source: https://api.razorpay.com/v1/checkout/public?version=1.6.4&library=checkoutjs&platform=android (1)

[2021-01-20 16:35] sriki77 commented on #124
How was this fixed? We are facing the same issue. Please advise.

[2021-01-29 09:54] virenvvarasadiya commented on #126
I face the same issues!

[2021-01-30 05:35] ujwalp15 commented on #126
I face the same issues!

[2021-01-30 18:07] KalyaniGhumare commented on #125
I have the same issue. I have tried several things to resolve it but couldn't.

This is a major issue with Razorpay Flutter. Please don't close this issue by bluntly saying to check pod version, flutter doctor etc. Please address it.

[2021-02-02 09:32] nissaFaheem commented on #104
Facing the same issue. Any idea how to solve?

[2021-02-02 09:44] shivangg66 commented on #104
@nissaFaheem For me I just removed some unnecessary implementaitions from gradle file. Try the same. Do check your proguard as well

[2021-02-03 16:51] Nautiyalsachin commented on #125
Hey @KalyaniGhumare, Please try updating Razorpay-flutter plugin to the latest version. This will help you to fix this issue. Let me know how it goes for you. Our latest version is  v1.2.3. Also the razorpay-pod version should also be latest. Try updating it by `pod update`.

[2021-02-09 09:17] TheSPST commented on #122
facing same issue

Crashed: com.apple.main-thread
0  libswiftCore.dylib             0x1c89213d0 swift_isUniquelyReferenced_nonNull_native + 34
1  Razorpay                       0x1030c1e8c $s8Razorpay10LumberjackC10trackEvent9eventName16havingPropertiesySS_SDySSypGtF + 672
2  Razorpay                       0x1030ae4c4 $s8Razorpay13AnalyticsUtilC11reportError_11havingLevel16andCustomMessageySo7NSEr

[2021-02-11 12:35] Malkhansingh4883 commented on #126
I face the same issues! 😕

[2021-02-11 13:06] Jai05-techie commented on #65
Facing same issue not able to do Subscriptions payment ?

Any workaround found for this ? plz update here.

[2021-02-12 10:51] sakina1403 commented on #107
The Xcode update is 11GB, isnt there any other way?

[2021-02-12 10:51] akshaybhange opened #128 "Error running pod install"
## Description
I tried including flutter razorpay in my working project and project is not able to build ios module. I've just added razorpay dependency in pubspec & followed the guide for android & iOS installation.
I've tried 'flutter clean' , 'pod update', 'pod install --repo update' but none works.

## Flutter Version :
Flutter 1.25.0-8.3.pre • channel beta • https://github.com/flutter/flutter

[2021-02-12 12:06] Nautiyalsachin commented on #107
@sakina1403 Try updating the `razorpay-pod` to latest by running `pod update` from ios folder in your project. Let me know if this issue still persists. Thanks.

[2021-02-12 12:06] Nautiyalsachin commented on #107
@sakina1403 Try updating the `razorpay-pod` to latest by running `pod update` from ios folder in your project. Let me know if this issue still persists. Thanks.

[2021-02-12 12:10] Nautiyalsachin commented on #128
Hey @akshaybhange, This error is not in Razorpay plugin, this error is related to your cocoa pods implementation.

Please refer to these links which you have mentioned in the above issue.

Search for existing GitHub issues similar to yours:
https://github.com/CocoaPods/CocoaPods/search?q=invalid+byte+sequence+in+US-ASCII&type=Issues

If none exists, create a ticket, with the template displayed abo

[2021-02-12 12:34] akshaybhange commented on #128
@Nautiyalsachin This error only comes when I add razorpay dependency. if removed app builds properly.

[2021-02-15 07:29] sakina1403 commented on #107
@Nautiyalsachin Yes, I tried that but the issue still persists.

[2021-02-15 07:35] sakina1403 commented on #107
XCode version: Version 11.0

Please let me know if there is anything else that I can do

[2021-02-15 10:57] akshaybhange commented on #128
Solved:

Added these lines in **.bash_profile** I was updating _.zshrc_ file which wasn't working.
[code]

[2021-02-15 10:57] #128 closed

[2021-02-15 11:15] Nautiyalsachin commented on #122
Hey @gouravd, @TheSPST, Please upgrade your razorpay-pod to latest so that you won't get these crashes. You can update your cocoapods using `pod update` from your project's iOS folder. Let me know if this solves the issue.

[2021-02-15 11:17] Nautiyalsachin commented on #126
Hey @Malkhansingh4883, @ujwalp15 @virenvvarasadiya and @Aravind-Tamizh: We are working on this issue, this will be resolved soon as we are working on a future release. We will inform you soon about this. Thank you.

[2021-02-15 12:59] Nautiyalsachin commented on #107
@sakina1403 You sure you are using the latest razorpay-flutter plugin? I would suggest you to try our [sample app ](https://github.com/razorpay/razorpay-flutter/tree/master/example). This will help you diagnose the current issue.

[2021-02-16 09:22] faisalmushtaq007 commented on #124
Any luck with this issue??? @sriki77 @muqaddir

[2021-02-16 14:11] vijaypareek13 commented on #43
@subhendupsingh
I have tested your integration, it is working in debug mode but failed in release mode. I have contacted the same Razorpay team but they also unable to solve this problem.

[2021-02-17 06:58] vijaypareek13 commented on #42
I have integrated razorpay in flutter web but facing the same problem. Please anyone here to help me

[2021-02-18 05:45] rahulsingh791 commented on #107
Ended up updating xcode somehow, working now.

[2021-02-19 03:47] sakina1403 commented on #107
@Nautiyalsachin Ended up updating Xcode somehow, it's working now.

[2021-02-20 13:22] jijuthomas98 commented on #46
../../Developer/flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.2.4/lib/razorpay_flutter.dart:89:29: Error: The getter 'context' isn't defined for the class 'Razorpay'.
              - 'Razorpay' is from 'package:razorpay_flutter/razorpay_flutter.dart' ('../../Developer/flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.2.4/lib/razorpay_flutter.dart').
             Try cor

[2021-02-20 18:11] sambitraze opened #130 "import 'dart:js'; error"
## Description
import 'dart:js';
.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.2.4/lib/razorpay_flutter.dart:1:8: Error: Not found: 'dart:js'

## Flutter Version :
1.22.6

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1.install razorpay-flutter and do flutter pub get
2.start flutter run

## Expected Results

/C:/SDKs/flutters/.pub-cache/hosted/pub.dartla

[2021-02-21 03:49] MeTubeapp commented on #130
same problem i am facing.if you find any idea how to correct this please let me know

[2021-02-21 15:03] oyyarko commented on #75
I am getting the same issue, even in the new stable package. although it was working fine in previous versions, but now it is stopped to work in that too.

[2021-02-22 06:14] thelazyindian commented on #130
Use this for now, the recent updates to this package on its pub.dev deployment has issues so until it's fixed this will work.
@MeTubeapp @sambitraze
Add this to pubspec.yaml instead of the usual way which fetches from pub.dev
`razorpay_flutter:
    git:
      url: git://github.com/razorpay/razorpay-flutter.git
      ref: master`

[2021-02-22 06:40] sambitraze commented on #130
![image](https://user-images.githubusercontent.com/23294656/108671469-84036280-7506-11eb-8c15-4e343a5d1a27.png)

[2021-02-22 06:40] sambitraze commented on #130
Thanks for helping us out.

[2021-02-22 10:04] nsangwan commented on #130
Perhaps worth not closing the issue till its resolved properly.
I'd like to upvote the issue.

[2021-02-22 13:59] Nautiyalsachin commented on #46
@jijuthomas98 We have released a fixed for android recently, I would suggest you to have a look on that as well. Try updating the plugin to latest version.

[2021-02-23 06:30] sanjaymajoka opened #131 "Exception in com.razorpay.AutoReadOtpHelper"
Hi we are using razorpay in our application but we have crashes in our applicaton due to razorpay AutoReadOtpHelper. This is very frequent crash in our application. We found this crash in firebase crashliytics.

Below is crash log:

Fatal Exception: java.lang.RuntimeException: Error receiving broadcast Intent { act=com.google.android.gms.auth.api.phone.SMS_RETRIEVED flg=0x200010 pkg=com.myapp.pack

[2021-02-23 07:21] dev-chetan commented on #130
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    /Users/multipz/Documents/FlutterProjects/flu-krutech-farmer/ios/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/x86_64-apple-ios-simulator.swiftinterface:44:1: error: unknown attribute '_hasMissingDesignatedInitializers'
    @_hasMissingDesignatedInitializers @objc public class PluginPaymentModel :

[2021-02-23 11:08] beingentangled commented on #130
razorpay_flutter.dart:1:8: Error: Not found: 'dart:js'

[2021-02-23 11:30] LOG-TAG commented on #128
@akshaybhange what are the mac os version and code version and cocoa pods version you are using , can you please share ?

[2021-02-23 11:33] MeTubeapp commented on #130
razorpay_flutter:
git:
url: git://github.com/razorpay/razorpay-flutter.git
ref: master

add this in your pubsec mine problem is solved if cannot work for you
use this

razorpay_flutter:
git:
url: git://github.com/razorpay/razorpay-flutter.git
ref: v1.2.3

[2021-02-23 11:39] rashmisridar commented on #128
'@akshaybhange   while using this  razorpay_flutter: ^1.2.3' you are not getting dart.js file error. In stable flutter channel?

[2021-02-23 13:58] LOG-TAG commented on #130
@MeTubeapp why I'm getting this error xcode 11.3.1

[code]
razorpay_flutter:
git:
url: git://github.com/razorpay/razorpay-flutter.git
ref: v1.2.3

[2021-02-24 06:29] dev-chetan commented on #130
@MeTubeapp I am still facing the same error as @LOG-TAG mentioned in an above comment.

[2021-02-24 12:20] sanjaymajoka commented on #130
Same issue after updating to 1.2.4

[2021-02-24 16:24] nsangwan commented on #130
Please upvote the original issue if you'd like it to be fixed.

[2021-02-25 06:58] sasi765 commented on #130
paste this code in your razorpay_flutter.dart

import 'package:flutter/services.dart';

import 'package:eventify/eventify.dart';

class Razorpay {
  // Response codes from platform
  static const _CODE_PAYMENT_SUCCESS = 0;
  static const _CODE_PAYMENT_ERROR = 1;
  static const _CODE_PAYMENT_EXTERNAL_WALLET = 2;

  // Event names
  static const EVENT_PAYMENT_SUCCESS = 'payment.success';
  static co

[2021-02-25 07:22] aadil058 opened #132 "Unable to hide payment methods"
## Description
I am trying to use the below options object to hide payment methods other than net banking and card but unfortunately, it is not working on Android (haven't tried it on iOS yet)

[code]

## Flutter Version :
Flutter 1.22.6 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 9b2d32b605 (5 weeks ago) • 2021-01-22 14:36:39 -0800
Engine • revision 2f0af37152
T

[2021-02-25 08:03] Nautiyalsachin commented on #132
Hi @aadil058, If you want to hide the options then please use your razorpay dashboard for hiding and unhiding the options.

[2021-02-25 13:33] #132 closed

[2021-02-25 14:58] nsangwan commented on #130
Fixing razorpay-flutter to 1.2.3 worked for me.

[2021-02-25 16:15] SirusCodes opened #133 "Migrate to NNBD"
## Description
As we know that flutter/dart is migrating to null-safety. It would be great if we could get this package migrated.
https://medium.com/dartlang/preparing-the-dart-and-flutter-ecosystem-for-null-safety-e550ce72c010

[2021-02-26 04:31] Aravind-Tamizh opened #134 "Could not run app after add razorpay ONLY IN VERSION 1.2.4"
../../.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.2.4/lib/razorpay_flutter.dart:90:29: Error: The getter 'context' isn't defined for the class 'Razorpay'.
     - 'Razorpay' is from 'package:razorpay_flutter/razorpay_flutter.dart' ('../../.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.2.4/lib/razorpay_flutter.dart').
    Try correcting the name to the name of an existing getter, or

[2021-02-26 16:54] abhay1205 commented on #75
same issue here, please tell how to solve this

[2021-02-26 18:10] oyyarko commented on #75
I used 1.1.1 razorpay version. Without ^ sign. And also added proground rules. It worked

[2021-02-27 10:09] anugrahkora commented on #134
Same issue

[2021-02-27 15:26] sumedht commented on #126
@Aravind-Tamizh @virenvvarasadiya @ujwalp15 @Malkhansingh4883 We have updated our razrpay SDK version. Can u check with it

[2021-02-27 15:37] shouryalala commented on #134
Faced the same issue. Had to resort to an earlier version:
razorpay_flutter: '1.1.0'

[2021-02-28 07:32] rajmouryapi opened #135 "razorpay build failed to load after the update."
terminal vs code:
1. could not find razorpay.
2. please update settings.gradle.
3. debug error.

[2021-03-01 05:27] Nautiyalsachin commented on #135
Hi @rajmouryapi, I am closing this issue due to lack of information provided by you. Please create a new issue with asked details in appropriate format. Thanks.

[2021-03-01 05:27] #135 closed

[2021-03-01 05:34] Nautiyalsachin commented on #133
@SirusCodes We will still wait for some time to have some proof on this as it is launched very recently, it can have some dependencies around it or might brake something.

Might be some where end of the year we can take this and include in our plugin.

We will consider it earlier if people starts interacting on this.

 But for now we will do more researches around this.

[2021-03-01 05:39] sumedht commented on #131
@sanjaymajoka can u share version of Razorpay's flutter SDK ur using?

[2021-03-01 05:40] SirusCodes commented on #133
Will wait for the migration

[2021-03-01 05:42] sumedht commented on #134
@Aravind-Tamizh @anugrahkora checking with this to resolved on priority. If it's blocking, u can use razorpay_flutter 1.2.3

[2021-03-01 05:43] #126 closed

[2021-03-01 05:43] #122 closed

[2021-03-01 05:47] Nautiyalsachin commented on #130
Hi everyone, I would ask you guys to update to the latest plugin, we have rolled out some fixes. Also I would suggest you to update your cocoa pods so that you can get the latest Razorpay frameworks.

[2021-03-01 05:58] sambitraze commented on #130
I have used the latest one only it was causing the above issue .. temporary solution is also given above

[2021-03-01 06:14] MeTubeapp commented on #130
First time when i used latest version i m also faced import js problem. then after i done some manual work like goto the flutter\.pub-cache\hosted\pub.dartlang.org path and delete the latest version file [ razorpay_flutter-1.2.4 ]. and then i used flutter clean command.and again run my app without the razorpay package because of confirmation like my app project is work or not if i am not used razo

[2021-03-01 10:54] rajmouryapi commented on #134
same issue after updating dependencies.

[2021-03-01 12:03] Ajay19990 opened #136 "While making payment through UPI if I cancel it at last it shows up a form (reason for cancellation) and after one second razorpay calls its Razorpay.EVENT_PAYMENT_SUCCESS."
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
While making payment through UPI if I cancel it while processing payment it shows up as it is cancelled and a form (reason for cancellation) but after one second razorpay calls its Razorpay.EVENT_PAYMENT_SUCCESS and in code the success part of transaction runs.

## Flutter Versi

[2021-03-02 06:04] sanjaymajoka commented on #131
@sumedht  , We are using **razorpay_flutter: ^1.2.3**

[2021-03-02 12:25] synapsecode opened #137 "RazorPay Suddenly Stopped Working ( after working on Firebase Google Sign In? )"
I integrated the standard code of RazorPay given in the example and it worked fine for a few days, Today i was working with Some Firebase Google Sign In Stuff and all of a sudden Razorpay does not work
(ANDROID)

Flutter Info
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 1.22.6, on Microsoft Windows [Version 10.0.21296.1010], locale en-US)
[√] Android too

[2021-03-02 13:51] mohamedshafeer opened #138 "Not Working in Android"
Suddenly Razor Pay is not working in android alone.it is working fine in IOS.

[2021-03-02 13:51] sumedht commented on #138
@mohamedshafeer It's fixed now. Can u check again

[2021-03-02 13:53] sumedht commented on #137
@synapsecode It's fixed now & working!

[2021-03-02 14:16] mustakimpawle opened #139 "Android Build Failed"
Facing a build issue since I update my firebase plugins. Below is the error while running on the device using debug.

**Plugin project :razorpay_flutter not found. Please update settings.gradle.

FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':firebase_core:compileDebugAidl'.

     Required by:
         project :firebase_core

* Try:
Run

[2021-03-02 14:33] sau2019 opened #140 "Plugin project :razorpay_flutter not found. Please update settings.gradle."
Running Gradle task 'assembleDebug'...
../../Downloads/flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.2.4/lib/razorpay_flutter.dart:1:8: Error: Not found: 'dart:js'
import 'dart:js';
       ^
../../Downloads/flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.2.4/lib/razorpay_flutter.dart:91:29: Error: The getter 'context' isn't defined for the class 'Razorpay'.
 - 'Razorp

[2021-03-02 17:20] synapsecode commented on #137
Thank you @sumedht for your quick response and assistance! It is working now.
Could you please elaborate why the error occurred for future reference and learning?
That'd be great. Thanks

[2021-03-02 17:27] synapsecode commented on #136
Similar thing happened to me. I redirected to Google Pay and it showed invalid UPI (I have not activated my account and it is running in test mode) but as it exits, it comes payment successful. Is that a bug or intentional?

[2021-03-03 10:59] rsunbabu opened #141 "No visible @interface for 'Razorpay' (aka 'RNRazorpayCheckout') declares the selector 'setExternalWalletSelectionDelegate:'"
Works perfectly using simulator, when using XCODE the following pops up, have change few declaration from RazorpayCheckout to RNRazorpayCheckout.. which suppressed few errors, but not sure if they are correct. Can some one guide
1. Are the declared RNRazorpayCheckout [identified in the image are correct] and
2. what are the additionally required to get this running

Using swift5, RN, Razorpay P2.2

[2021-03-03 11:00] rsunbabu commented on #141
Looks like this is flutter section, will post in RN. Kindly ignore

[2021-03-03 11:00] #141 closed

[2021-03-03 11:01] rsunbabu commented on #141
will post in RN for RPay

[2021-03-03 11:08] darab-singh93 commented on #140
I also having same issue

[2021-03-03 13:43] sumedht commented on #140
@sau2019 @darab-singh93 We are looking into this on priority. will Update once it is fixed

[2021-03-03 14:19] sau2019 commented on #139
Try to using this package:
razorpay_flutter:^1.1.0

or read the official docs.
https://razorpay.com/docs/payment-gateway/flutter-integration/

[2021-03-03 17:19] sasi765 opened #142 "Error: MissingPluginException(No implementation found for method open on channel razorpay_flutter)"
Error: MissingPluginException(No implementation found for method open on channel razorpay_flutter)

razorpay
razorpay_flutter: ^1.1.4
flutter error/
i stuck in this error in before one month.
please help me.

github link : https://github.com/sasi765/razorpay

[2021-03-04 05:18] sumedht commented on #142
@sasi765 can u update to version 1.2.3

[2021-03-04 06:24] sasi765 commented on #142
brother, it shows same error.

 throw MissingPluginException('No implementation found for method $method on channel $name');

in platform_channel.dart

[2021-03-04 06:38] sau2019 commented on #140
Update pubspec.yaml
razorpay_flutter:^1.1.0
or
- [ ]  razorpay_flutter:1.2.3
Now my app working perfectly.

[2021-03-04 06:55] AKKIDETROJA opened #143 "Getting context error while debugging in IOS iphone 14.4"
**Note: Pod is installing successfully but getting error at debugging time**

[code]
Pod install log
[code]

Here is my pubspec.yaml

[code]

Here is my Pod file
[code]

[2021-03-04 07:25] xu2012 opened #144 "Try correcting the name to the name of an existing getter, or defining a getter or field named 'context'"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
/D:/install/flutter/.pub-cache/hosted/pub.flutter-io.cn/razorpay_flutter-1.2.4/lib/razorpay_flutter.dart:1:8: Error: Not found: 'dart:js'
import 'dart:js';
       ^
/D:/install/flutter/.pub-cache/hosted/pub.flutter-io.cn/razorpay_flutter-1.2.4/lib/razorpay_flutter.dart:91:29: Er

[2021-03-04 07:58] AmSn6 commented on #144
Same error occurs in razorpay_flutter: ^1.2.4
Kindly Look into it.

[2021-03-04 12:05] LOG-TAG commented on #140
@sau2019 ios with xcode 12.4 also working fine?

[2021-03-04 12:25] #130 closed

[2021-03-04 12:37] sumedht commented on #144
@xu2012 @AmSn6 We have updated to the new version of the flutter plugin with this fix. Plz update to latest.
Closing this ticket. You can always reopen an issue.

[2021-03-04 12:37] #144 closed

[2021-03-04 12:37] sumedht commented on #142
@sasi765 We have updated to the new version of the flutter plugin with this fix. Plz update to latest.
Closing this ticket. You can always reopen an issue.

[2021-03-04 12:37] #142 closed

[2021-03-04 12:38] #138 closed

[2021-03-04 12:38] sumedht commented on #139
@mustakimpawle  We have updated to the new version of the flutter plugin with this fix. Plz update to latest.
Closing this ticket. You can always reopen an issue.

[2021-03-04 12:38] #139 closed

[2021-03-04 12:40] sumedht commented on #134
@rajmouryapi @shouryalala @anugrahkora @Aravind-Tamizh  We have updated to the new version of the flutter plugin with this fix. Plz update to latest.
Closing this ticket. You can always reopen an issue.

[2021-03-04 12:40] #134 closed

[2021-03-05 08:28] tehsunnliu commented on #124
I'm getting the same error after payment.

`E/com.razorpay.checkout(26274): Webview JS Error: Uncaught TypeError: window.getDeviceDetails is not a function`
`I/chromium(26274): [INFO:CONSOLE(1)] "Uncaught TypeError: window.getDeviceDetails is not a function", source: https://api.razorpay.com/v1/payments/pay_GiuBNzmX1smpN6/callback/ab19a9fb5ddb537ab319ecdbd2cf4160ef1e5b3a/rzp_test_n9zLAtqjtf0njn?st

[2021-03-05 11:05] sumedht commented on #136
@Ajay19990 @synapsecode Ideally it should not call onSuccess(). We will check with this. Is it happening with ios, Android or both

[2021-03-08 03:53] surveshoeb opened #147 "App got rejected in the App Store"
## Description
Like with many applications, we do use Razorpay as the payment gateway for any kind of purchase in our app. Our app is used to sell digital content like Netflix and Amazon Kindle.

### Flutter Version
**1.22.6**

### Xcode Version
**12.4**

### Steps To Reproduce
Same as an example on https://pub.dev/packages/razorpay_flutter

### Expected Results
Smooth deployment on AppStore and P

[2021-03-08 05:41] sumedht commented on #147
@surveshoeb What is the razorpay-flutter plugin version ur using? Facing this issue only on iOS?

[2021-03-08 05:45] surveshoeb commented on #147
#### Razorpay Version
**1.2.2**

Only on iOS

[2021-03-08 06:11] sumedht commented on #147
@surveshoeb From [this](https://developer.apple.com/forums/thread/117900) looks like Apple does not allow to redirect out of the app for digital product purchase.
@Nautiyalsachin add more here

[2021-03-08 06:12] sumedht commented on #140
@sau2019 @darab-singh93 we have fixed this in new version 1.2.5

[2021-03-08 06:12] #140 closed

[2021-03-08 17:31] VrushankShah01 commented on #147
@surveshoeb You need to use In App purchases in IOS if you want to sell digital content. You cannot use any third party payment gateway for selling digital content in IOS. It's allowed in Android but not in IOS.

[2021-03-09 06:50] Nautiyalsachin commented on #147
Hi @surveshoeb, as above discussed you can't do the subscription on your app without using Apple's subscription model. You can discuss this with your team for how to proceed, they may have some suggestion on this. Let us know how it goes. Thanks.

[2021-03-09 06:55] Nautiyalsachin commented on #143
Hi @AKKIDETROJA Please try updating your plugin to the latest v 1.2.5, Let me know if the issue still persists. Thanks.

[2021-03-09 06:58] Nautiyalsachin commented on #137
@synapsecode There was an internal error which caused this, we have fixed it as soon as we got to know about it. Closing this issue now. Feel free to add more comments here or re-opening the issue.

[2021-03-09 06:58] #137 closed

[2021-03-09 07:02] Nautiyalsachin commented on #131
@sanjaymajoka Can you verify the integration steps which you followed again, also I would like to ask you to verify your plugin integration with our [sample app](https://github.com/razorpay/razorpay-flutter/tree/master/example). And still, if you are able to reproduce the issue then please create a sample app and share it here. So that we can debug it more. Thanks.

[2021-03-09 07:12] surveshoeb commented on #147
@Nautiyalsachin it's not just about the subscription model it's the digital content that we are trying to sell. Apple doesn't allow any other payment gateway for this. I have verified many apps such as Netflix, Cameo, Amazon Kindle and more they either use Apples In-App purchase or ask the user to use a different platform for Payment because they don't want to pay Apple 30% cut neither we.

It wil

[2021-03-09 07:47] Nautiyalsachin commented on #147
@surveshoeb We are adding this in our FAQ section so that the merchants can have a reference of the same. Thanks.

[2021-03-09 07:47] #147 closed

[2021-03-09 12:27] akshaybhange commented on #133
@Nautiyalsachin we understand your concern and it is fairly logical to wait for some time and see, but year-end is way too far. In my project, there are only 3 plugins that have not moved to null safety and 2 of them are already under development. Many developers have started moving to null-safe plugins. I'll also request to check your dependencies, if all of them have moved to a null safety then

[2021-03-09 12:45] SirusCodes commented on #133
Only `eventify` is not migrated and looking at the package last updated on `Feb 10, 2019` I feel that it won't be migrated as well.

[2021-03-10 10:14] kabirsaheb commented on #126
I am getting same error in API 29 Android with 1.6.6 checkout version.

Webview JS Error: Uncaught ReferenceError: otpPermissionCallback is not defined

[2021-03-10 10:40] yebookin commented on #133
By year end will be very late. we have shifted our app to flutter 2 and now we are unable to accept payments from clients.

[2021-03-13 12:03] pratikbutani opened #148 "leaked IntentReceiver - Are you missing a call to unregisterReceiver()"
## Description
I am implementing Razorpay in Flutter. I have done everything perfectly by following code:

[code]
But I am getting the following error when I open the Razorpay dialog for the first time. And it's not open the dialog a second time When I tap the button again.

## Flutter Version :

## AndroidStudio: 4.1.2

[2021-03-14 14:04] protocentralashwin commented on #126
Any update of this issue?

[2021-03-14 16:01] muhsinzyne opened #149 "Intent Flow for UPI payments in custom checkout implementation"
I need some help to integrate the UPI payment custom checkout for google pay and Phonepe.

Right now when my customer wants to make UPI payments the customer needs to click 3 times on the screen to move the installed google pay intent collection request page.

I need to make it as a dedicated button click do redirect to google pay for collection

I saw a few apps like OYO Zomato are already doing

[2021-03-14 17:25] princegoyalcorevalue opened #150 "razorpay_flutter-1.2.5/ios/Classes/RazorpayFlutterPlugin.h:1:9: 'Flutter/Flutter.h' file not found"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Flutter plugin release to make sure your issue has not already been fixed:

## Flutter Version :
Run `flutter version` in your terminal and cop

[2021-03-14 17:27] princegoyalcorevalue commented on #150
Xcode version - 12.4

[2021-03-15 04:09] sumedht commented on #149
@muhsinzyne We are not providing a custom implementation in a flutter as of now. For custom implementation, u can follow
https://razorpay.com/docs/payment-gateway/android-integration/custom/
https://github.com/razorpay/razorpay-android-custom-sample-app

[2021-03-15 04:14] sumedht commented on #148
@pratikbutani We are looking into this issue. Will release a new version with a fix soon.

[2021-03-15 04:40] utrayn commented on #133
******************** ******************** ******************** ******************** ******************** ********************
By year end will be too late. All of my customers apps have been migrated to flutter 2 and we may be forced to move to another payment gateway if RazorPay plugin does not migrate to null-safety in another month or two at the most.
******************** ******************** *

[2021-03-15 05:33] pratikbutani commented on #148
Okay, Thank you @sumedht Until any trick to prevent this error?

[2021-03-15 05:52] Mayur-9 commented on #149
Hi @muhsinzyne,

You can also refer to the document here. https://razorpay.com/docs/payment-gateway/android-integration/custom/payment-methods/#intent-flow_

[2021-03-15 06:22] #150 closed

[2021-03-15 06:22] princegoyalcorevalue commented on #150
That was a xcode issue.

[2021-03-15 08:13] SirusCodes commented on #133
@Nautiyalsachin looking at the current condition 2k packages has already been migrated I don't think you need any other proof to migrate the package or if you feel that this won't work properly you can push a development package with -nullsafety suffix so people who really want to try it out they can use it otherwise they can ignore it.

[2021-03-15 08:39] Nautiyalsachin commented on #133
@SirusCodes We are working on it with priority here, will update you soon on this. Give us some more time. Thank you for the patience 🙂.

[2021-03-15 08:49] SirusCodes commented on #133
Thanks for your response @Nautiyalsachin 😄 Hope you'll can work on it ASAP👍

[2021-03-15 13:15] pratikbutani opened #151 "Sample App having run time errors"
## Description
I have tried to run a [sample app](https://github.com/razorpay/razorpay-flutter/tree/master/example) but it's having many debugging errors. Maybe it's missing some properties or implementation.

## Flutter Version :
[code]

## Android Studio Version :
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.
**Run the sample and got the following logs

[2021-03-15 13:27] muhsinzyne commented on #149
Hey @Mayur-9  @sumedht

Do you have any idea about how the OYO App and Zomato have successfully implemented the button click redirect to supported UPI apps and collecting payments.

I tried many references and non of them are not working with Razorpay default payment with all the options

if I am getting native full documentation of sample app source code I can convert it in to flutter

somebody,

[2021-03-17 04:55] PraveenGirishNadumani commented on #136
@Ajay19990  @synapsecode  It seems that you folks are using a test API key for testing the payment.
please do test the intent payments with the Live API key. PSP apps will throw an invalid VPA error because, in test mode, we are not passing the actual data to PSPs, instead we are passing some dummy details.
Try testing it using the Live API key's post which should work fine.

[2021-03-18 05:33] Ashwin-DevAsh opened #152 "TypeCastException SmsBroadcastReceiver.onReceive SmsBroadcastReceiver.java:79"
Crash happen while auto read otp while net banking

[2021-03-18 08:38] Aj4Android opened #153 "App crashing after payment in One plus and Oppo device(Android 10)"
Below is the error log shown by Firebase Crashlytics:
1) Please look into this issue and I am usinf 1.2.3 version of RazorPay.

Fatal Exception: java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=62442, result=1, data=Intent { (has extras) }} to activity {com.kizo.kizo/com.kizo.kizo.MainActivity}: java.lang.IllegalStateException: Reply already submitted
       at an

[2021-03-18 08:43] Aj4Android opened #154 "After upgrading RazorPay to 1.2.5 app not running"
Below is the error I am getting when I tried to run the app:
-> There is some plugin issue. Please resolve this ASAP as project not runninng without it

/E:/PROJECTS/flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.2.5/lib/razorpay_flutter.dart:86:24: Error: A value of type 'Null Function(Event, dynamic)' can't be assigned to a variable of type 'void Function(Event)'.
 - 'Event' is fr

[2021-03-18 09:32] sumedht commented on #153
@Aj4Android From the crash log it doesn't look like it's from the Razorpay side. Can we have more details like SDK version, scenario to reproduced?

[2021-03-18 09:45] sumedht commented on #154
@Aj4Android Looks like
- for 1st error, dark lib is not able to identify the Event class. Which version of Dart ur using. Suggesting to sync it properly.
- From 2nd error, it's an extra parameter issue. which version of flutter ur using? we have tested it till 1.20.0. Planning to move to 2.0.0 in a couple of weeks.

Meanwhile, u can follow doc for ease of integration
https://razorpay.com/docs/paym

[2021-03-18 13:24] Aj4Android commented on #153
RazorPay is working very well for all other Android devices but only One plus 5 & Oppo with Android 10 upgrade showed the crash when user makes successful payment & comes back to the app but app is already destroyed so at the end whole app gets terminated

[2021-03-18 13:29] Aj4Android commented on #154
@sumedht below is the response from Flutter doctor(When I am using RazorPay plugin 1.2.3)

E:\PROJECTS\flutter\bin\flutter.bat doctor --verbose
[√] Flutter (Channel stable, 2.0.2, on Microsoft Windows [Version 10.0.19041.804], locale en-IN)
    • Flutter version 2.0.2 at E:\PROJECTS\flutter
    • Framework revision 8962f6dc68 (7 days ago), 2021-03-11 13:22:20 -0800
    • Engine revision 5d8bf811b3

[2021-03-19 13:39] Prashant4900 opened #155 "Subscriptions Based Model"
Sir is razor pay flutter SDK supports Subscriptions based model in a flutter
I want to implement the Subscriptions model in flutter but I don't find any docs related to this
## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Flutter plugin release to make sure your issue has not already been fixed:

[2021-03-21 14:50] #152 closed

[2021-03-22 09:16] Nautiyalsachin commented on #155
@Prashant4900 You can take a reference for subscriptions from [here](https://razorpay.com/docs/api/subscriptions/#checkout-integration). There is no specific changes needed for subscriptions from flutter platform. For more details you can contact our tech support team.

[2021-03-23 14:30] sureace opened #156 "Will you please add null-safety support?"
Hi,
       I am using this razorpay-flutter plugin most of my projects where ever i want to integrate payment gateway. I want migrate all of my projects to null-safety. But razorpay-flutter yet to support null-safety. May i know what is ETA for new release with null-safety support.

Thanks,
Sureace.

[2021-03-23 14:35] sumedht commented on #156
@sureace It's in our plan & we are planning to release it in the early week of April. Will update once it is done. Apologise for the inconvenience.

[2021-03-23 14:36] #155 closed

[2021-03-23 14:39] sumedht commented on #154
@Aj4Android As I said, we are currently on flutter 1.2.0. From docker, it's showing ur using v2.0.2 because of which it may causing issue

[2021-03-23 14:44] sumedht commented on #151
@pratikbutani Still facing an issue? Can u create sample app & use latest version of flutter SDK

[2021-03-23 15:46] ShanmugarajMuthukani commented on #156
**@sureace same question**

[2021-03-24 04:15] easwaran198 commented on #156
@sumedht  **I am also facing this same problem...**

[2021-03-24 04:18] NanthaSekarKumar commented on #156
@sumedht i too facing same issue. I request you to resolve it as soon as possible

[2021-03-24 04:48] selvajkumargithub commented on #156
@sumedht I am  facing this problem too. please solve it as soon as possible...

[2021-03-24 05:47] pratikbutani commented on #151
Yes, I am getting the same issue. I think I am getting errors If I dont pass the `send_sms_hash` and `theme` key in JSON. It is also having some other errors as per logs.
<details>
[code]
</details>

[2021-03-25 11:09] SGOPI498 opened #157 "Razorpay Flutter-iOS integartion"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Hi,
We are using razorpay for our flutter apps in test mode.it is working fine for android, in which it is allowing user to type values for payment, but this is not the case with iOS. We are unable to provide/type details like card number, expiry etc.

## Please test using the l

[2021-03-26 05:38] hiteshgarg002 commented on #157
Hi @SGOPI498, as far as I know, this is not related to razorpay.
Follow these steps to resolve your issue

1) Run your application on iOS simulator
2) Go to I/O -> Keyboard
3) Uncheck "Connect Hardware Keyboard"

Hope this helps you.

[2021-03-26 06:47] SGOPI498 commented on #157
hi hiteshgarg002,
         the issue was resolved. I know it was a silly mistake.

Thanks for your timely response.

[2021-03-30 05:31] ohm1998 commented on #157
Works Thank you!

[2021-03-30 08:33] Nautiyalsachin commented on #157
Closing this issue now.

[2021-03-30 08:33] #157 closed

[2021-03-30 08:36] Nautiyalsachin commented on #136
@Ajay19990  @synapsecode Closing this issue due to no response, feel free to add more comments or reopen this issue if this issue persists.

[2021-03-30 08:36] #136 closed

[2021-03-30 08:37] Nautiyalsachin commented on #143
Closing this issue due to no response, feel free to reopen this or add more comments.

[2021-03-30 08:37] #143 closed

[2021-03-30 09:00] Nautiyalsachin commented on #149
Hey @muhsinzyne, by our approach there has to be at least two clicks before doing the intent redirection.

Let us know if you want any help in integrating the existing flow.

Closing this issue for now. Feel free to add more comments here.

[2021-03-30 09:00] #149 closed

[2021-03-30 09:02] Nautiyalsachin commented on #153
@Aj4Android Closing this issue due to inactivity, feel free to add more comments or re-opening it.

[2021-03-30 09:02] #153 closed

[2021-04-01 10:28] sumedht commented on #154
@Aj4Android Have u still facing this issue?

[2021-04-01 10:34] sumedht commented on #151
@pratikbutani Right now u can pass `send_sms_hash` = true & pass 'theme' as define in [this](https://razorpay.com/docs/payment-gateway/android-integration/standard/checkout-form-fields/) to unblock u.
In a next release we will fix this

[2021-04-01 10:35] sumedht commented on #148
@pratikbutani No not have any trick

[2021-04-01 10:40] pratikbutani commented on #151
Okay, I'll check and revert you back soon.

[2021-04-02 09:04] gouthamravella opened #159 "No permission for reading SMS and error reading options with exception No value for send_sms_hash"
I am getting this error which is breaking the code.

Full details:

[code]

Flutter Version: 2.0.3

[2021-04-02 11:41] Nautiyalsachin commented on #37
Hi @mohammadjawedahmadansari Go to the ios folder and run `pod update` for updating the pods, also check the dependency mentioned on the pod file. It should be iOS 10 and above. I would also suggest you remove the current plugin and try adding it again.

[2021-04-02 14:07] vivekshindhe commented on #159
@gouthamravella We have a lot of options you could send in the payload here. send_sms_hash, theme, dash are a few examples. We do this to keep the user informed about these. These aren't fatal errors. This won't affect the User Experience  or breakage. Please don't worry about these. Closing the ticket. Please reply here or create another ticket if you are facing another issue.
Thank you.

[2021-04-02 14:07] #159 closed

[2021-04-03 10:41] sandpsunil commented on #156
@sumedht Hope Razorpay null safe version will be released soon

[2021-04-03 16:20] fahadahmadansari111 commented on #43
Are we getting the web support anytime?

[2021-04-04 08:25] pankaj-nikam commented on #156
Please release it soon.

[2021-04-05 02:41] deepak-ra commented on #156
@sureace
Please check and update the version.
We are facing the issue with our production App.
RazorPay Plugin is the blockage for some other issues. Please....

[2021-04-05 04:38] sumedht commented on #154
@Aj4Android Closing this as there is no further communication. Please feel free to re-open it if u facing same issue.

[2021-04-05 04:38] #154 closed

[2021-04-05 04:42] sumedht commented on #156
We have picked this up in our current sprint & will release it soon.

[2021-04-05 04:43] sumedht commented on #151
@prabhasjoshi plz update here if it solves ur issue.

[2021-04-05 05:09] deepak-ra commented on #156
@sumedht
Please. I am not able to debug the app also...
Let me know If it is possible in a day or 2.

[2021-04-05 05:41] pratikbutani commented on #151
@sumedht I am getting  **No dash options defined** and **No value for color** warning in logs (as below).

Code:
[code]

Logcat:
<details>
<summary>Click here to see</summary>

[code]

<details>
<summary>Security Exception Error [I think this is warning regarding Shared Preference]</summary>

[code]
</details>
</details>

[2021-04-05 09:04] Aj4Android commented on #154
We wrote Webview based Razorpay integration for Android part. Please also
update docs on Razorpay to latest version of flutter 2.0 & also do testing
on 'One plus','Oppo', 'Vivo' android devices

On Mon 5 Apr, 2021, 10:08 AM Sumedh, ***@***.***> wrote:

[2021-04-05 18:23] hurbes commented on #156
Please release null safety version soon

[2021-04-06 02:22] sumedht commented on #151
@pratikbutani These are the warnings maybe because of some data change @ our side & will not cause u any experience breakage. We will fix this warning in future. Right now closing this issue, feel free to re-open it if the issue still persists.

[2021-04-06 02:22] #151 closed

[2021-04-06 02:23] sumedht commented on #131
@sanjaymajoka Closing this issue as there is no further communication. Feel free to re-open if u still facing it.

[2021-04-06 02:23] #131 closed

[2021-04-06 05:47] dpkswn4 commented on #156
Hi RazorPay,
Please release the version with null-safety.
Directly dependent on your package.....
Please.... Release it ASAP....

[2021-04-06 12:22] surajmandalcell commented on #156
We also are upgrading to null-safety so we are directly dependent on this package too. Please update.

[2021-04-07 04:26] sumedht commented on #156
@deepak-ra we are on it. U Will get update soon

[2021-04-08 07:57] dpkswn4 commented on #156
🙏 Hope to get the update very soon 🙏

[2021-04-08 12:36] patelpathik commented on #70
@manishvill you got this issue fixed?
I experience same behaviour in my case.
After timeout there's just white screen.
When I press back button (after white screen) error handler becomes active.
Error handler suggests error code 2 with msg "Payment cancelled", ideally it should be regarding _timeout_

[2021-04-09 20:25] gouthamravella commented on #159
This issue is causing the app shutdown when reading sms automatically in bank otp verification page.
Here are the below details:

I/OpenGLRenderer(26405):
D/AndroidRuntime(26405): Shutting down VM
E/AndroidRuntime(26405): FATAL EXCEPTION: main
E/AndroidRuntime(26405): Process: com.mobile.companyname, PID: 26405
E/AndroidRuntime(26405): java.lang.RuntimeException: Unable to start receiver com.oohyu

[2021-04-11 03:37] deepak-kumar-swain commented on #156
@sumedht
Sir, Any Update...
We are really struggling, please add the Null Safety feature

[2021-04-11 15:18] gouthamravella opened #160 "App is shutting down when reading sms automatically in bank otp verification page"
This issue is causing the app shutdown when reading sms automatically in bank otp verification page.
Here are the below details:

[code]

Please resolve this issue as soon as possible. Thanks.

[2021-04-12 05:38] vivekshindhe commented on #160
@gouthamravella I believe this is the reason for the fatal exception.

from the class name it looks like it's your class. Could you please try resolving this and see if this still exists?

Thank you.

[2021-04-12 14:53] saurabhguptarock commented on #156
Please reply @sumedht

[2021-04-13 13:58] gouthamravella commented on #160
Where should i do that? I am using the razorypay_flutter: ^1.2.5 package in my code.

flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 2.0.4, on Microsoft Windows [Version 10.0.19042.867], locale en-US)
[√] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
[√] Chrome - develop for the web
[√] Android Studio (version

[2021-04-13 21:23] adityaasthana1 commented on #148
Is there any solution? I am facing the same issue.

[2021-04-14 05:15] vivekshindhe commented on #160
It's a TypeCastException from your class SmsBroadcastReciever. A null type cannot be cast to a non-null type. If you add that check here it should solve this problem for you.

[2021-04-15 05:25] developsolutions commented on #159
Any resolution to this issue yet? Let me know please?

[2021-04-16 08:30] nipun0212 opened #161 "When the web support for the plugin will be available?"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Flutter plugin release to make sure your issue has not already been fixed:

## Flutter Version :
Run `flutter version` in your terminal and cop

[2021-04-17 07:53] the-kool-sk commented on #148
Any update on this team?

[2021-04-17 13:26] asbansal commented on #156
Hi @sumedht , Thank you for your prompt responses. Is it possible for us to get an ETA so that we can plan our projects better?

Since Razorpay and PayTM are the only ones possible and easy (official flutter documentation is made available by these two only) to integrate, I'll be forced to use PayTM. I was hoping to get an update by April first or second week, but it seems delayed. So, if it's gon

[2021-04-17 15:20] deepak-kumar-swain commented on #156
Hi @sumedht
We are still waiting for the Update.
Lot of things are on queue and we are not able to move forward because of this as this is a direct dependent.
Please give ETA so that we can plan the development.

[2021-04-18 07:30] RajaLG commented on #126
Updated to latest version of plugin Still getting same error

[2021-04-18 10:32] prasant10050 commented on #156
Hi @sumedht
Please release the version with null-safety.
We are still waiting for the Update.

[2021-04-18 12:43] Yash-Garg commented on #156
+1 Please release null safety version.

[2021-04-20 04:19] dopecoder commented on #133
Hi @Nautiyalsachin, Any updates on null safety?

[2021-04-20 13:14] Nautiyalsachin commented on #133
@dopecoder Working on it, the migration is done, please allow me a couple of days more to test it out thoroughly. We will update you soon here. Thank you for the patience.

[2021-04-20 13:17] Nautiyalsachin commented on #160
Closing this issue due to inactivity. Feel free to reopen this or adding more comments.

[2021-04-20 13:17] #160 closed

[2021-04-20 19:11] spk22 commented on #148
Hi all, I'm getting orderId and signature, both null from PaymentSuccessResponse.

If anyone of you could tell, what can be the reason? (Note: I'm using test key)

[2021-04-21 07:57] Susheelkaram opened #162 "Add constants for checkout fields [Enhancement]"
## Description
Adding the checkout fields as Constants inside the library will be helpful.

As a developer have to declare them as constants in their project or hardcode them, which is boilerplate and error-prone.

[2021-04-21 13:40] adityaasthana1 commented on #148
@the-kool-sk I got this similar error in Android (JAVA). The actual problem was, I was using Razorpay Checkout in a fragment which is not allowed. The Checkout & PaymentListener should be implemented in an Activity and not in a Fragment, this solved my problem.
I guess when you further pass the data from the Activity to Fragment, this error is generated.

[2021-04-21 13:54] mregandla commented on #156
Hi @sumedht, It would be great if you can share the ETA. That will help us plan our project.
This is the only package that is blocking our app upgrade.

[2021-04-21 14:00] pankaj-nikam commented on #156
Agree with @mregandla , please update this package. Only thing stopping us also for updating the app.

[2021-04-21 14:07] asbansal commented on #156
@ChintanAcharya @pronav @umanghome

[2021-04-21 14:10] surendrasahi commented on #156
+1

[2021-04-22 05:18] the-kool-sk commented on #148
@adityaasthana1  Actually I am staring the checkout process in flutter view. So I am not sure whether sdk uses activity or fragment internally for checkout. I cannot specify to start the process in activity... thanks for support though.

[2021-04-23 10:22] deepak-kumar-swain commented on #156
No Update !!!

[2021-04-27 04:46] Srj-Love commented on #156
Hello,
Is there any ETA?..
We are planning to use Razorpay. But it stopping us due to null-safe.

[2021-04-27 08:51] Nautiyalsachin commented on #156
Hi everyone, we are working on it. We will update you soon on this. Thank you for your patience.

[2021-04-27 09:07] prasant10050 commented on #156
We are already waited too much and our production app is stucked due to
razorpay payment integration. How can we wait without any ETA plan and help.
Now I am able to open razorpay payment in null safety mode but the
callbacks are not returning from plug-in. Can you guys help me where I am
wrong.

On Tue, 27 Apr, 2021, 2:22 pm Sachin Nautiyal, ***@***.***>
wrote:

[2021-04-28 09:42] Nautiyalsachin commented on #126
@protocentralashwin @RajaLG Can you guys try removing and adding it again?

[2021-04-28 10:33] praveenkprathap commented on #156
use old razorpay package with  --no-sound-null-safety if it's urgent. then when the razorpay release null safety you can enable sound null safety.

[2021-04-28 10:44] deepak-kumar-swain commented on #156
@praveenkprathap
I already have

@praveenkprathap
As per this commitment, I/We migrated to null-safety and designed the code accordingly with other dependencies.
Now it is quite impossible to degrade the code. Hope you understand.

[2021-04-28 11:17] praveenkprathap commented on #156
i also migrated entire project to null safety. you don't need to change any code only migrated the project with --no-sound-null-safety then you can use non null safety package as well as null safety packages alone.

[2021-04-28 20:34] dopecoder commented on #133
Hi @Nautiyalsachin, how is the null safety migration going?

[2021-04-30 06:38] sureace commented on #156
Hi @sumedht,
                        it has been pending since 40 days. Many apps releases are pending(including my apps) due to null-safety update. I don't know why it is not high priority for razorpay. This kind of delay, creates doubts on Razorpay. For new projects we will look for other alternatives.

[2021-04-30 07:37] ansarimhtqms commented on #40
I am getting Error: Invalid currency (The provided currency is not currently supported) only in live site with test credentials for testing.. its working fine in my local system..

[2021-05-02 22:58] michaelspeed commented on #126
this is still happening. any permanent fixes?

[2021-05-04 03:48] GJJ2019 commented on #133
Hi @Nautiyalsachin, are we going to get null safety in this week ?

[2021-05-04 11:07] debasmitasarkar commented on #133
@Nautiyalsachin Can you please tell us a timeline if possible? I mean we are out on a limb here.

[2021-05-05 06:09] thelazyindian commented on #133
https://github.com/thelazyindian/razorpay-flutter

Made this to work with my flutter project with sound null safety u guys can use this for now.

[2021-05-05 06:47] SirusCodes commented on #133
That's great I wasn't expecting that eventify would be migrated, but they did. Hopefully this will also migrate.

@Nautiyalsachin can you accept a PR from @thelazyindian if the migration is not completed yet?

[2021-05-05 10:43] sumedht commented on #156
@sureace Definitely, it's on our priority It's got a delay because of some unavoidable things come in between which needs to be prioritised. Apologies for the same. We will make sure to release it before 15th May.

[2021-05-05 16:44] UjjwaRaijada commented on #156
It seems either you have a very bad developer team or you do not care about your customers. It has been more than 2 months since you declared this task as your priority. But till date it has not been done. I wonder want happens to the matters which are not your priority.

[2021-05-05 16:59] prasant10050 commented on #156
I migrated code to null-safety and it took an hour.  It opened in Null
-safety mode in my app but the payment code(java)/dependency is not
responding success callbacks in both release and debug.
When I can migrate the code into null safety in an hour, so why not Razor
Pay team ..they have been fooling us for so many days.

On Wed, 5 May, 2021, 10:14 pm UjjwaRaijada, ***@***.***>
wrote:

[2021-05-05 17:29] GJJ2019 commented on #133
@thelazyindian have u tested it on real transactions ?

[2021-05-06 02:50] thelazyindian commented on #133
Nope I've just used test cards but I think it'll work in real transactions too.

[2021-05-06 03:48] SirusCodes commented on #133
I don't think there should be any issues as all the heavy lifting is done by platform channel and it has a really less dart code.

[2021-05-06 05:03] asbansal commented on #161
Webview is not available on flutter web and for obvious reasons. So, I implemented it like this [https://itnext.io/flutter-web-razorpay-payment-gateway-integration-792d6e015409](url)

However, the payment component doesn't work great and you will have to implement your own "FAILURE" and "SUCCESS" logics. Dart:html library is heavily used too.

[2021-05-06 06:48] thelazyindian commented on #133
exactly. Just tested which all usecases return null values and made variables nullable accordingly.

[2021-05-06 18:06] akshaybhange commented on #128
sorry for delay guys
@LOG-TAG  I'm using Mac os 10.15.7
@rashmisridar No I'm not getting that error. I'm on beta channel

[2021-05-08 19:53] imSanjaySoni opened #165 "App crashing in some android devices"
**Caused by java.lang.IllegalArgumentException
Service not registered: com.razorpay.AdvertisingIdUtil$AdvertisingConnection@4a5809b
com.razorpay.AdvertisingIdUtil$AdvertisingIdAsyncTask.doInBackground
**
[code]

## Flutter Version :
2.0.5 stable

## Cocoapod Version :
   pod version 13
  razorpay_flutter: ^1.2.2

[2021-05-09 07:17] deepak-kumar-swain commented on #156
Hi @UjjwaRaijada We should not use such words for them. Even my project has direct dependency over this plugin. But such words are not professional. Sorry.

[2021-05-09 07:22] deepak-kumar-swain commented on #156
@sumedht Completely understood your point. But Please understand, people like me dependent on this plugin of yours. Nothing should come before product which is working for certain set of customers. This should be prioritised.
If anything is needed please reach out to us/me. But please release the null-safely version on priority.

[2021-05-09 14:00] sunishrai opened #166 "Issue with ios"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Flutter plugin release to make sure your issue has not already been fixed:

## Flutter Version :
2.0.5 • channel stable

## Xcode Version :
Ver

[2021-05-10 06:14] akshayarhata opened #167 "Not getting any callback"
Amount gets deducted from customers account but app is not getting any callback on live environment. It happens 2 out of 10 times.

## Flutter Version :
razorpay_flutter: ^1.2.2

below code is use while making the payment.

_razorpay = Razorpay();
    _razorpay.on(Razorpay.EVENT_PAYMENT_SUCCESS, _handlePaymentSuccess);
    _razorpay.on(Razorpay.EVENT_PAYMENT_ERROR, _handlePaymentError);
    _razor

[2021-05-10 06:23] akshayarhata opened #168 "Order API Status"
While creating order we are using Order API so that we can track the payment status using order Id for that we are using below API
'https://api.razorpay.com/v1/orders'

Just wanted to know for how much time  the Order status is in "CREATED" and "ATTEMPTED" state.

Is there any time spam after that it will goes to "FAILED" state.

[2021-05-10 06:23] vivekshindhe commented on #167
@akshayarhata Thanks for reaching out to us. Could you help us a bit more here? What platform is this happening on? Android or iOS? What payment flow does this happen on? UPI, Netbanking, Cards etc, and have you updated to the latest version of flutter?

[2021-05-10 06:33] akshayarhata commented on #167
@vivekshindhe Hi, Thanks for your quick response.
This is happening on android as of now our app supports only android platform. Mostly when customer tries on UPI and Cards.

This issue is occurs on version 1.2.5 as well

[2021-05-10 10:03] mj-rzp commented on #168
@akshayarhata Order status changes are not time-based. It is based on whether the payment has been attempted against it or not. Please refer to this link for more details  https://razorpay.com/docs/payment-gateway/orders/#order-life-cycle

Please note there is no "failed" state for an order.

[2021-05-10 10:27] sumedht commented on #167
@akshayarhata Okay, We will check at our side & get back to u. We are releasing our new SDK soon. If we are able to reproduce this issue, we will provide fix in that.

[2021-05-10 12:24] arshmancodes commented on #156
Waiting For Null Safe Version anxiously. Already 2 Days late on my project. Please Try to update is as soon as possible.

[2021-05-11 00:06] Nilesh-Patel opened #169 "Null pointer exception"
## Description
After completing the subscription application crashes. It's not happening always but happened few times with me.
Exception at : com.razorpay.AutoReadOtpHelper.onReceive (AutoReadOtpHelper.java)

## Flutter Version :
Flutter 2.0.0 • channel stable • https://github.com/flutter/flutter.git

## Xcode Version :
Version 12.4

## Cocoapod Version :
  - razorpay-pod (1.1.12)
  - razorpay_fl

[2021-05-11 04:32] irshadios commented on #148
I'm getting the same error

I/zygote64(12716): Do partial code cache collection, code=243KB, data=160KB
I/zygote64(12716): After code cache collection, code=243KB, data=160KB
I/zygote64(12716): Increasing code cache capacity to 1024KB
I/zygote64(12716): Compiler allocated 8MB to compile void android.view.ViewRootImpl.performTraversals()
W/System.err(12716): org.json.JSONException: No value for ord

[2021-05-11 09:44] akshayarhata commented on #167
@sumedht Thanks, Hope you able to reproduce it.

[2021-05-11 15:32] Puruchandra opened #170 "Stuck in retry loop after failed payment (Android)"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Flutter plugin release to make sure your issue has not already been fixed:

## Flutter Version : 2.0.1

## Xcode Version : 12.4

## Cocoapod Ve

[2021-05-12 05:07] priya-jain-dev commented on #126
I am facing the same issue. Did anyone find a solution?

[2021-05-12 06:41] dhanrajVerma commented on #166
I am facing exactly same issue. Xcode 11.2, flutter 2.0.0 (stable), razorpay_flutter: ^1.2.5
Please fix  it as soon as possible.
@sunishrai any workaround ?

[2021-05-12 08:19] NGC185air110 commented on #156
Hello ! We use your project extensively and hope to update the null-safety as soon as possible.
Thank you.

[2021-05-14 10:01] disha-ramchandani commented on #148
Hi, I am coding in Java and facing the same issue. Could you share your modified code? Like how should I pass the data in the activity? I have implemented PaymentResultListener in Activity already.

[2021-05-15 08:26] xenowits opened #171 "When would the package migrate to null safety?"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Flutter plugin release to make sure your issue has not already been fixed:

## Flutter Version :
Flutter 2.0.6 • channel stable

## Xcode Versi

[2021-05-15 12:19] Iamsdt commented on #171
Check this issue
https://github.com/razorpay/razorpay-flutter/issues/133

[2021-05-15 12:32] Iamsdt opened #172 "How to retrieve subscription id from recurring payment"
## Description
There is an option for  recurring payments, but there is no way to get the subscription id after successful payment,
it's only return
[code]

## Flutter Version :
Flutter (Channel stable, 2.0.6, on Linux, locale en_US.UTF-8)

## Xcode Version :
not using

## Cocoapod Version :
not using

## Steps To Reproduce
[code]

## Expected Results
success response only provide
[code]

Expected

[2021-05-16 07:13] prasant10050 commented on #156
It's 16th May, where is your release?

[2021-05-16 09:25] sunishrai commented on #166
any Update.

[2021-05-16 10:09] venky9885 commented on #126
i am also facing the issue

[2021-05-16 10:10] mehrozone commented on #156
Still Waiting for the Null Safe Release.

[2021-05-16 10:46] venky9885 commented on #126
Dear Developers @razorpay please Solve this issue in webview javascript, I think you are facing issue because not including Context , i faced same issue  with this type code

[2021-05-16 13:18] UjjwaRaijada commented on #156
I am sure they are working on it as it is their priority.  PRIORITY .... lol
You can try PayTM if you client is ok with it. They have already released null safety version.

[2021-05-16 13:24] prasant10050 commented on #156
Yes you are right, 👍

On Sun, 16 May, 2021, 6:48 pm UjjwaRaijada, ***@***.***>
wrote:

[2021-05-16 13:25] asbansal commented on #156
I tried PayTM. Their official plugin is also not null-safe. The one named "paytm" is not the official plugin. The one named "paytm_allinonesdk" is official.

[2021-05-16 13:25] asbansal commented on #156
I tried PayTM. Their official plugin is also not null-safe. The one named "paytm" is not the official plugin. The one named "paytm_allinonesdk" is official.

[2021-05-17 06:58] Nautiyalsachin commented on #166
@dhanrajVerma  @sunishrai : Can you folks please try to update the cocoapods after uninstalling and installing it again. Also as mentioned in shared logs, this issue in not caused by razorpay flutter plugin but by the cocoapods.

I also recommend you to see older close issues where merchants has fix these.

https://github.com/CocoaPods/CocoaPods/search?q=invalid+byte+sequence+in+US-ASCII&type=Issu

[2021-05-17 06:58] #166 closed

[2021-05-17 14:11] anas-aji-muhammed commented on #167
The callback issue exists at some time only.  It's hard to reproduce. Dev team please check into this. Try to test with lower network speed environments.

[2021-05-17 14:21] AnAnD4T1 commented on #167
Our development is stuck on this issue. app opens upi app->payment succeeds-> comes back's to app, but no call back for success

[2021-05-18 07:12] venky9885 commented on #126
Actually i solved issue by changing amount 5000(for 50 INR) see official documentation

[2021-05-18 10:11] chintan-isaac commented on #148
Were you able to solve the error?

[2021-05-18 10:12] chintan-isaac commented on #148
@disha-ramchandani Were you able to solve the error?

[2021-05-18 14:52] sumedht commented on #171
@xenowits @Iamsdt Please update to v1.2.6, we have released it with Null safety support.

[2021-05-18 14:52] #171 closed

[2021-05-18 14:57] sumedht commented on #156
Please update to v1.2.6, we have released it with Null safety support. Thanks for all ur support & patience. Apologies for delay

[2021-05-18 14:57] #156 closed

[2021-05-18 14:58] sumedht commented on #148
Please update to v1.2.6, we have fixed error in this release

[2021-05-18 14:58] #148 closed

[2021-05-18 15:02] sumedht commented on #167
@akshayarhata @AnAnD4T1 Not reproducible on multiple iterations. Will look into this but as a P1 issue & take it up in our next sprint. Will update here once it is fixed.

[2021-05-18 15:03] sumedht commented on #165
@imSanjaySoni Can u update to the latest version of flutter SDK? It should not give this issue in a newer version of SDK.

[2021-05-18 15:05] sumedht commented on #169
@Nilesh-Patel Can u update to a newer version of our SDK. We have fixed this issue in the latest version.

[2021-05-18 17:28] adityaasthana1 commented on #148
@disha-ramchandani Sorry for the delayed reply. But as I said, you need to create separate Activity for using the Checkout API. You can implement the PaymentListener on the Activity and have a callback from the Checkout. Then you can pass the data to other Activities or Fragments through SharedPreference or maybe use Parcelable if you don't want your data to persist. let me know if the issue persi

[2021-05-18 17:31] adityaasthana1 commented on #148
@disha-ramchandani  Sorry for the delayed reply. But as I said, you need to create separate Activity for using the Checkout API. You can implement the PaymentListener on the Activity and have a callback from the Checkout. Then you can pass the data to other Activities or Fragments through SharedPreference or maybe use Parcelable if you don't want your data to persist.

You can check the following

[2021-05-19 02:29] imSanjaySoni commented on #165
Do you mean Flutter  2.0.6 stable?

[2021-05-19 05:30] sumedht commented on #165
@imSanjaySoni Newer version of razorpay-flutter SDK, v1.2.6

[2021-05-19 05:40] sumedht commented on #170
@Puruchandra u have to pass above values for retry
[https://razorpay.com/docs/payment-gateway/android-integration/standard/checkout-form-fields/](https://razorpay.com/docs/payment-gateway/android-integration/standard/checkout-form-fields/)

[2021-05-19 05:51] deepak-kumar-swain commented on #156
Thank You @sumedht

[2021-05-19 06:39] imSanjaySoni commented on #165
I can't, Razorpay-flutter SDK, v1.2.6 is null safety enabled but our project is still not migrated to null safety because some packages which I have used are not migrated to null safety.

[2021-05-21 18:54] Puruchandra commented on #170
@sumedht yes but i dont want it to retry, its retrying automatically on its own even after it is set to false

[2021-05-24 02:30] mrinaljain commented on #161
Thanks for the feedback, I was able to achieve this using combination of dart js library .

[2021-05-24 04:51] sumedht commented on #169
@Nilesh-Patel Closing this as there is no update. Feel free to reopen it if ur facing this again.

[2021-05-24 04:51] #169 closed

[2021-05-24 04:55] sumedht commented on #165
@imSanjaySoni Right now the solution is to update to the latest version only. U have to update ur dependencies to null safety only.

[2021-05-24 04:55] #165 closed

[2021-05-24 06:19] sumedht commented on #161
@nipun0212 We will pick this in the next quarter & share updates once it is done.

[2021-05-24 06:23] disha-ramchandani commented on #148
Thank you so much for helping me out. I will check it out.

[2021-05-24 06:26] disha-ramchandani commented on #148
Thank you!

[2021-05-24 08:40] sumedht commented on #172
@Iamsdt U will get it in response data with key **razorpay_subscription_id**

[2021-05-24 08:40] #172 closed

[2021-05-27 17:49] priyansh-bhatt opened #175 "Seeing an intermediate grey-screen when payment fails"
## Description
When payment fails in case of net-banking, a page stating "Payment Failed" appears for less than a second, following which a grey screen appears for a few seconds - and then the user is sent back to the net-banking page.

## Flutter Version :
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Select net-banking as the mode of payment
2. In t

[2021-05-27 17:49] priyansh-bhatt commented on #175
PFA a screen recording of the issue.

https://user-images.githubusercontent.com/84929711/119873120-cf803f00-bf41-11eb-8df8-ffb94a1d35e5.mp4

[2021-05-28 08:26] vetriselvi-i2i opened #176 "Stuck in Razorpay gateway after successful transaction Android"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Making the payment with Card/Phonepe via Razorpay gateway.
Phonepe - After payment success Razorpay still in the same page (like again I've to make payment screen)
Card payment - Not even processing any cards (Both master & visa cards) OTP screen is not coming.

## RazorPay Vers

[2021-06-01 12:38] nadeem-golflan commented on #170
@sumedht i am also facing the same issue. When the transaction fails I have to manually close the payment gateway.

[2021-06-01 16:57] GJJ2019 commented on #133
@SirusCodes & @thelazyindian if that's the case then why its taking so much time to migrate. I think there must be some breaking change in communicating with platform channels.

[2021-06-02 06:25] thelazyindian commented on #133
They already did it here https://github.com/razorpay/razorpay-flutter/commit/2f88d0b119a365bc50edb8b9c0efcbff78acd4fb

[2021-06-02 09:29] eastern-codemonk commented on #167
Just to add some more perspective, this happened 12 out of 250 payments that happened today. This is the highest occurrence till date. Usually it happens 3-5 per 250 successful payments.

We have never seen in test mode, it only happens with real payment.

We have seen this happening flutter 1.20, 1.22, 2.0.

We have the highest occurrence with gpay payment, but it happens for all payment types.

[2021-06-02 11:59] Puruchandra commented on #170
@sumedht please look into it

[2021-06-03 04:39] GJJ2019 commented on #133
cool so we can close this issue now @SirusCodes

[2021-06-03 04:43] SirusCodes commented on #133
Yes thank you team razorpay team!!

[2021-06-03 04:43] #133 closed

[2021-06-03 05:31] sumedht commented on #167
@eastern-codemonk can u share payment id's for which this issue happened? U can share it on sumedh.tambat@razorpay.com

[2021-06-03 16:01] jagadish-pattanaik commented on #161
I want to use razorpay in flutter web, when will be the plugin be ready for web? For now how to implement on web, is there any alternative method which is efficient and given officially?
@mrinaljain how did you achieve this?

[2021-06-03 16:03] jagadish-pattanaik commented on #161
Please take this as most urgent as many are waiting to use it in flutter web, you can check so many questions pending on stack overflow and GitHub. Hope it will support web as soon as possible!

[2021-06-03 21:17] Nisarg12 commented on #98
@varamsky's method works perfectly, this is worth documenting. To return the favour, I have written the method to verify the hmac sha256 signature if anyone would want to use that too. Inside your `_handlePaymentSuccess()` method, you can check if the payment source was authentic by doing so:

Make sure to:
`import 'dart:convert';`
`import 'package:crypto/crypto.dart';`
[code]

[2021-06-04 12:25] Nisarg12 opened #177 "Post Signature Verification"
## Description
![image](https://user-images.githubusercontent.com/28131554/120800720-e59f8800-c55d-11eb-8143-915b1456a4e6.png)
The docs say that after verifying a payment signature, the order still needs to be marked as successful and then processed manually. However, when a payment is successful, I can see it marked as Paid on the Razorpay dashboard under Orders and Captured when expanded. Is thi

[2021-06-04 12:27] Nisarg12 commented on #177
This is how I handle successful payments:
[code]

[2021-06-07 05:55] eastern-codemonk commented on #167
Few examples sent by email.

[2021-06-08 14:01] jagadish-pattanaik commented on #161
Please do it fast....we need...any expected dates by which it will be complete?

[2021-06-09 13:11] jagadish-pattanaik opened #178 "Add support for flutter web"
Please add support for flutter web as soon as possible

[2021-06-10 07:02] sumedht commented on #178
@jagadish-pattanaik Right now not the plan for this quarter. We will update u once it is done.

[2021-06-10 07:02] #178 closed

[2021-06-10 07:03] sumedht commented on #176
@vetriselvi-i2i Does not getting any callback?

[2021-06-10 08:19] vetriselvi-i2i commented on #176
Yes @sumedht Not getting a callback and the Razorpay window not closing. both the cases.

[2021-06-12 19:04] KSingh1980 opened #179 "is Flutter web supported?"
is Flutter web supported?

[2021-06-13 04:52] sumedht commented on #179
@KSingh1980 right now not in the plan for Q2. I Will update here once it is done.

[2021-06-13 04:52] #179 closed

[2021-06-15 06:29] bhanuka96 opened #180 "Is it possible to change background color?"
How to change background color?

`razorpay_flutter: ^1.2.6`

**Full code**

[code]

[2021-06-20 04:49] santhoshivan23 commented on #180
@bhanuka96 Currently, we don't have much control over background color as the package is built just on top of the android SDK - invokes native functions/methods through invokeMethod().

[2021-06-24 06:31] holy-dev commented on #124
`log
E/com.razorpay.checkout(31678): Webview JS Error: Uncaught ReferenceError: otpPermissionCallback is not defined
I/chromium(31678): [INFO:CONSOLE(1)] "Uncaught ReferenceError: otpPermissionCallback is not defined", source: https://api.razorpay.com/v1/payments/pay_HQnWAAu19B3Irz/callback/c6718de18eeef2b2ccf25468319ad25b55f37d2d/rzp_test_CDyCI4M4HfeteX?status=authorized&token_recurring_status=re