[2021-06-25 08:58] nipun0212 commented on #161
@jagadish-pattanaik  :- Thanks for the update. Looking at the pull from customer i wish you and your team might push the development.

[2021-06-26 16:19] deepak-kumar-swain opened #181 "No permission for reading SMS"
I/ViewRootImpl@ee7ad66[MainActivity]( 6936): ViewPostIme pointer 0
I/ViewRootImpl@ee7ad66[MainActivity]( 6936): ViewPostIme pointer 1
I/ViewRootImpl@ee7ad66[MainActivity]( 6936): MSG_WINDOW_FOCUS_CHANGED 0 1
D/com.razorpay.checkout( 6936): No permission for reading SMS
D/com.razorpay.checkout( 6936): CheckoutActivity onCreate called
E/com.razorpay.checkout( 6936): Error reading options!
E/com.razo

[2021-06-26 19:23] deepak-kumar-swain commented on #181
This is happening only for test Key.... On Live Key, its working perfectly.

[2021-06-27 21:40] raghavguptaeng commented on #148
you just have to pass PaymentSuccessResponse response as an argument to event listners and it will work fine

[2021-06-28 06:03] xirainfotech opened #182 "Prefill Method issue"
## Description
I have a scenario where i have options for users to select payment mode i.e: UPI, Net Banking, Wallet, and with prefill method im able to achieve that and when razor pay checkout form is opened then users can go back and change payment method from razor pay

## Flutter Version :
2.0.6

## Steps To Reproduce

1.  'prefill': {'contact': '$phone', 'email': '$email', 'method': 'upi'},
2

[2021-06-28 06:12] vivekshindhe commented on #182
@xirainfotech Hey, thanks for reaching out to us. So, prefill only gives control upto such extent. If you want to hard-control the payment methods via which customer can pay you'll have to use config. I'm attaching the link to the docs for that here. [Link](https://razorpay.com/docs/payment-links/api/new/advanced-options/customize/payment-methods/)

Please follow the steps here to achieve the end

[2021-06-28 06:12] #182 closed

[2021-06-28 12:40] expertmars commented on #181
So we can ignore this all error message in test mode? I'm also concerned about these errors and found your issue opened here.

[2021-07-01 07:52] xirainfotech commented on #182
Any example on how to implement this with flutter?

[2021-07-09 12:48] bhavik-multipl opened #184 "Stuck in Blank screen when passing the callback url in the options"
RazorPay is not redirecting user to the application when we pass the `callback_url` in test mode (Haven't checked the live app yet)

Is it an expected behaviour?

[code]

<img src="https://user-images.githubusercontent.com/68329541/125079936-d0c88e00-e0e1-11eb-8cb3-7686c8b67b6f.png" height="400" alt="Screenshot"/>

## Flutter Version :
Flutter 2.2.3 • channel stable • https://github.com/flutter/fl

[2021-07-10 12:43] flutterdevelop commented on #124
what was the fix for this ?

[2021-07-13 09:37] thakurkartik1901 commented on #161
Waiting for it...

[2021-07-22 19:20] tehsunnliu commented on #161
+1

[2021-07-27 10:13] anup-geeky opened #185 "Repayment gets failed."
When I try to make payment, I am getting the below error message.

{"code":"BAD_REQUEST_ERROR","description":"The id provided does not exist","source":"NA","step":"NA","reason":"NA","metadata":{}}

"error_message":"Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference","error_level":"critical"

What I actually doing is
1) Login with a mobile number whose subsc

[2021-07-27 18:37] narendra02031997 commented on #128
Getting same error in Mac m1 please help me to solve. trying from 2 days didn't found any solution.

Thanks

[2021-07-27 18:51] narendra02031997 commented on #128
Restarting the android studio works Thanks man.

[2021-07-28 16:56] imsurajsharma opened #186 "App freezes when doing payment multiple times."
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
When I try to instantiate payment for more than one time it throws error and my app got freeze.  I am not able to do anything after that. I have to install the app again in the emulator to test again. This issue occurring with every payment options. I mostly got this error on  c

[2021-07-28 19:52] hrazad commented on #82
me to

[2021-07-30 09:45] anup-geeky commented on #159
@gouthamravella @vivekshindhe  Any solution? I'm facing same issue

[2021-07-30 09:47] developsolutions commented on #159
I cant remember. But I think that error is on the emulator only.

[2021-07-30 12:44] anasnaji25 opened #187 "No callbacks from gpay"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
when i initiate a payment and when i select gpay its redirecting to gpay app and when i complete the payamnt its not returning any success callback or response and its not comming back to my app

## Flutter Version :
Flutter 2.2.3 • channel stable

## Steps To Reproduce

1.enter

[2021-07-30 15:32] rkumar1904 opened #188 "Payment Failed - Unexpected Error"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Flutter plugin release to make sure your issue has not already been fixed:

## Flutter Version : Flutter 2.0.1
Run `flutter version` in your te

[2021-07-31 05:17] sanjay12340 opened #189 "Rozar pay not working well with android 11"
It work fine up to android 10 , but in android 11 not show app installed in system and generate request via UPI id and then as request generated by app go to phonepe , google pay , paytm or there based on request generated.

This is wearied thing no one go this long stap method please provide for android 11

[2021-07-31 06:01] sumedht commented on #189
@sanjay12340 U need to add some extra lines in Manifest file as given below
https://razorpay.com/docs/payment-gateway/android-integration/custom/payment-methods/#intent-flow

[2021-07-31 06:01] #189 closed

[2021-08-01 07:21] venn710 commented on #21
Having the same issue for a while now anyone got it?

[2021-08-02 06:49] PKReejesh commented on #148
It is good to check
[code]
Because I got the same error posted here after this method gets called, and addressing that issue in onPaymentError can solve the issue, in my case the api key set with:

 checkout.setKeyID("");

was wrong and it gave off the error :

After I gave the correct api key, i was able to see razorpay page.

Dont miss seeing onPaymentError before checking this error, because th

[2021-08-03 10:23] wishnuprathikantam commented on #187
I've a similar issue using GPay or PhonePe. The api seems to be returning payment as success even when I've cancelled it after opening the Gpay app. Any help is appreciated.

The SDK seems to be returning success for wallet payments even when there is a failure. Here is the log output
D/com.razorpay.checkout( 9162)
..."payment_id":"pay_HggmAmUvBCMyf6","payment_status":"success","flow":"intent","de

[2021-08-05 06:30] Abhish-Bhawsar commented on #90
EffyCoder did you get the solution? if yes ,please help us by sharing the solution

[2021-08-08 07:55] reshuashish commented on #136
Having the same issue I am on test api

[2021-08-09 07:16] sumedht commented on #187
@anasnaji25 Wanted to know more on this. Is this with GPay only & working fine with other payment methods?

[2021-08-09 07:25] sumedht commented on #185
@anup-geeky Wanted to know r u getting onError(..) callback with error code & description or fatal error?

[2021-08-09 17:33] anup-geeky commented on #185
in  onError callback (   _razorpay.on(Razorpay.EVENT_PAYMENT_ERROR, _handlePaymentError); )

[2021-08-10 05:49] rohan220217 opened #190 "Production mode is not working after adding progaurd rule"
## Description
Whenever I build my flutter app using flutter build apk it is showing
Mypath\FlutterFolder\android\app\src\main\java\io\flutter\plugins\GeneratedPluginRegistrant.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.

I have downloaded the demo project from razorpay repo and still showing the same error.

## Flutter Version :
[√] Flutter (Chann

[2021-08-10 06:09] rohan220217 commented on #190
![image](https://user-images.githubusercontent.com/51409281/128816752-1d1425bf-0d95-4b67-b4c5-49612a805b01.png)

[2021-08-10 06:24] rohan220217 commented on #190
I fix this issue by changing my build.gradle but after building my apk my razorpay page is blank

[2021-08-10 09:20] sumedht commented on #190
@rohan220217 Trying on an emulator or real device?

[2021-08-10 09:22] rohan220217 commented on #190
real device the button is not working

[2021-08-10 09:25] sumedht commented on #185
@anup-geeky Can u share a video of this.. where u Loggin & Logout? In save cards?

[2021-08-10 09:28] sumedht commented on #184
@bhavik-multipl Can u check in live mode also?

[2021-08-11 08:29] LokiRathod opened #191 "After Adding the Razorpay getting Below errors"
Running pod install...
CocoaPods' output:
↳
      Preparing

    Analyzing dependencies

    Inspecting targets to integrate
      Using `ARCHS` setting to build architectures of target `Pods-Runner`: (``)

    Finding Podfile changes
      A razorpay_flutter
      - Flutter
      - connectivity
      - firebase_core
      - firebase_messaging
      - flutter_compass
      - flutter_image_compress

[2021-08-12 04:36] rohan220217 commented on #42
I have done everything like I have added progaurd rule and also mentioned in gradle file but still, in production mode, the checkout button becomes an infinite white screen. I am using the test key. Please help!

[2021-08-12 05:14] #190 closed

[2021-08-12 05:15] rohan220217 commented on #190
I solved my issue using debugging I got an error on my page that's why in production mode it is showing a grey screen

[2021-08-12 06:53] yashdabi commented on #42
@rohan220217 what error is showing in Logcat after opening the Razorpay

**try this to see Logcat messages**
https://stackoverflow.com/questions/58693539/how-to-see-debug-console-when-app-installed-through-apk-in-flutter

[2021-08-12 06:57] rohan220217 commented on #42
Thank you very much @yashdabi  but I fixed my error while debugging. The checkout button becomes grey infinite screen because I have used incorrect parent widget

[2021-08-14 19:44] kaumudpa commented on #161
+1

[2021-08-17 05:01] sumedht commented on #185
@anup-geeky Closing this as there is no further communication. Feel free to open it if u still facing this issue.

[2021-08-17 05:01] #185 closed

[2021-08-18 04:27] xirainfotech commented on #182
Hello, Im not able to do this in flutter, Can you help?
Here's my code.
'description': 'Thank You For Shopping With Us',
      'prefill': {'contact': '$phone', 'email': '$email', 'method': '$method'},
      'checkout': {
        'method': {
          "netbanking": netbanking,
          "card": card,
          "upi": upi,
          "wallet": wallet,
        }
      },
      'external': {
        'w

[2021-08-19 11:47] madhu6264 opened #192 "Seeing Crashes On Android"
Non-fatal Exception: java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=62442, result=0, data=null} to activity {com.bedwal.bijak.mvp/com.bedwal.bijak.mvp.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.contains(java.lang.CharSequence)' on a null object reference
       at android.app.ActivityThread.deliverRe

[2021-08-19 13:08] kakashi01s commented on #126
E/com.razorpay.checkout: Webview JS Error: Uncaught ReferenceError: otpPermissionCallback is not defined

I/chromium: [INFO:CONSOLE(1)] "Uncaught ReferenceError: otpPermissionCallback is not defined", source: https://api.razorpay.com/v1/payments/pay_Hn4DITjGXlL3bP/callback/3dbb0080d7724cf59fb3bfacc9f6c3d7315f2f3e/rzp_test_yQg0rVOwdQLsu3?status=authorized&token_recurring_status=rejected&language_co

[2021-08-20 13:08] rupakswadesh commented on #191
I am getting same error.

[2021-08-22 19:11] prashantspandey commented on #161
Please support it as soon as possible

[2021-08-24 15:08] holy-dev commented on #185
@anup-geeky how did you solve this one?

[2021-08-25 09:35] #188 closed

[2021-08-30 03:38] younghallaji commented on #191
Am getting the same error on iOS but woking fine on android

[2021-09-02 17:05] holy-dev commented on #185
@anup-geeky I solved it.

[2021-09-06 12:26] sonoo827 commented on #191
Am getting the same error on iOS but woking fine on android, please help

[2021-09-07 04:54] shrutika-tatkare-apptware opened #194 "For some devices razorpay complete payment but success callback is not calling. what is the issue ?"
When we call open method from razorpay it's sometimes open with only grey screen and some times payment successfully done not call callback success method.

## Flutter Version :
Flutter 2.0.5-0.0.pre.1 • channel stable •
https://github.com/flutter/flutter.git
Framework • revision 95fba3eb50 (3 months ago) • 2021-06-03 22:16:12 +0530
Engine • revision 2dce47073a
Tools • Dart 2.12.2

## Xcode Versio

[2021-09-09 15:25] holy-dev commented on #194
It's happening for me also

[2021-09-09 15:39] holy-dev commented on #194
Found the issue, it's not returning any data for order id and signature.

[2021-09-09 15:40] holy-dev commented on #194
I don't think it's an issue with the package itself, I think it's from the server.

[2021-09-11 05:51] Lalitchaudhary2 opened #195 "I get both keys nulls razorpay_order_id and razorpay_signature."
## Description
I have implemented it successfully. when I have submitted successfully then payment response time is order Id and signature both key nulls provide.

## Flutter Version : razorpay_flutter: 1.2.5

[2021-09-12 10:04] jessejay247 opened #196 "error: failed to build module 'Razorpay' from its module interface; the compiler that produced it, 'Apple Swift version 5.1.3 (swiftlang-1100.0.282.1 clang-1100.0.33.15)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.3.2 (swiftlang-1200.0.45 clang-1200.0.32.28)'"
## Flutter Version :
Flutter 2.5.0 • channel stable
Tools • Dart 2.14.0

## Xcode Version :
Version 12.4 (12D4e)

## Cocoapod Version :
  - razorpay-pod (1.1.16)
  - razorpay_flutter (1.1.10):
    - Flutter
    - razorpay-pod

## Steps To Reproduce
After following the steps in the documentation for iOS, (enabling bitcode, adding swift version and setting platform iOS to 10, I still get the error m

[2021-09-12 11:33] jessejay247 commented on #196
I had to downgrade my flutter version for it to work.

[2021-09-12 11:33] #196 closed

[2021-09-12 16:50] Arnab28122000 commented on #161
web support +1

[2021-09-13 07:05] sajanyamaha opened #197 "module 'Razorpay' was created for incompatible target arm64-apple-ios10.0"
## Description
The ios build fais with this error ,
[code]

## Flutter Version :
 version 2.5.0

## Xcode Version :
Version 12.5.1 (12E507)

## Cocoapod Version :
razorpay-pod (1.1.16)
- razorpay_flutter (1.1.10):
    - Flutter
    - razorpay-pod

[2021-09-13 12:43] amitkhairnar44 commented on #197
@sajanyamaha Add this in the project's Podfile:
[code]

Just before this line: `installer.pods_project.targets.each do |target|`

[2021-09-15 05:46] sumedht commented on #195
@Lalitchaudhary2 which callback method ur implementing? every time ur getting it as null?

[2021-09-16 05:30] venn710 commented on #21
I don't think it was solved.

[2021-09-16 10:31] Abhijit-007a commented on #21
Facing the same issue with Razorpay

Logs:

E/com.razorpay.checkout(15392): Webview JS Error: Uncaught TypeError: Cannot read property 'r' of undefined
I/chromium(15392): [INFO:CONSOLE(1)] "Uncaught TypeError: Cannot read property 'r' of undefined", source: https://checkout.razorpay.com/v1/checkout-frame.js

1.Open RazoryPay payment screen
2.Select Netbanking -> HDFC bank -> Pay
3.In the success/f

[2021-09-16 14:03] Arnab28122000 commented on #194
I am also facing the same issue, the payment success screen is coming, but none of the payment handlers are getting called, please help

[2021-09-17 12:39] deekshithx commented on #181
Happens only on test key and working fine on live key in my case.

[2021-09-18 10:55] venkata-reddy-boya commented on #197
@amitkhairnar44  i had tried your solution. but  it didn't worked .

[2021-09-18 11:04] venkata-reddy-boya opened #198 "I am unable to run my codebase in IOS simulators with razor pay plugin . ( NO issue with real device)"
## Description
I am unable to run my codebase in IOS simulators with razor pay plugin . ( NO issue with real device)

## Flutter Version :
Flutter 2.5.1 • channel stable • https://github.com/flutter/flutter.git
Framework • revision ffb2ecea52 (16 hours ago) • 2021-09-17 15:26:33 -0400
Engine • revision b3af521a05
Tools • Dart 2.14.2

## Xcode Version :
Version 12.5 (12E262)

## Cocoapod Version :

[2021-09-18 11:56] amitkhairnar44 commented on #197
@venkata-reddy-boya Have you configured build flavours in your project?

[2021-09-18 12:35] venkata-reddy-boya commented on #197
@amitkhairnar44  no

[2021-09-18 13:58] sajanyamaha commented on #197
for me this worked , change these settings in Xcode ,

1. Delete DerivedData folder from Xcode-->Preferences

<img width="567" alt="Screenshot 2021-09-18 at 7 25 38 PM" src="https://user-images.githubusercontent.com/6435237/133891297-73372c75-9ead-49e6-a488-774e91f2d5a5.png">

2. Change these to arm64
<img width="570" alt="Screenshot 2021-09-18 at 7 20 50 PM" src="https://user-images.githubusercon

[2021-09-19 05:10] amitkhairnar44 commented on #197
@sajanyamaha Yes, I forgot to mention the 2nd part 😅

You can close this issue now.

[2021-09-19 06:09] #197 closed

[2021-09-21 16:28] techtrix008 commented on #167
@eastern-codemonk

I am stuck with the same issue. Any resolution achieved?

[2021-09-22 06:04] ajsatam commented on #194
Same is the case with us. A lot of time we have to manually reconcile the payments.

[2021-09-25 05:40] holy-dev commented on #194
and there's no response from the team

[2021-09-27 20:50] kaumudpa commented on #161
web support should be the priority! +1

[2021-10-04 12:39] hardikvij195 opened #199 "Command CompileSwiftSources failed with a nonzero exit code. Unable to load standard library for target 'arm64-apple-ios10.0'"
Hi,
I have upgraded my flutter to latest version and the dependency is also latest (Flutter 2.5.2) ( razorpay_flutter: ^1.2.7).

I am getting this error while running the app in iOS simulator.

    Command CompileSwiftSources failed with a nonzero exit code
    <unknown>:0: error: unable to load standard library for target 'arm64-apple-ios10.0'
    /Users/hardikvij/Development/FlutterSdk/flutter/.

[2021-10-06 20:04] leorachit commented on #57
Having this issue, please help.

[2021-10-06 20:13] leorachit commented on #92
Still facing this issue.

[2021-10-11 08:43] athul-ain commented on #199
I think the latest SwiftUI is causing the issue
**error: module compiled with Swift 5.4.2 cannot be imported by the Swift 5.5
    compiler**

[2021-10-12 16:53] ycv005 opened #200 "How to add withdraw feature using this plugin?"
Hello, in my flutter app, I have feature where a user can withdraw money but I am unable to find right doc that guide me for that. Any help will be highly appreciated. Thanks in advance.

[2021-10-14 06:30] cmdr-shipra commented on #199
facing same issue.Any Solution to this?

[2021-10-14 12:42] cmdr-shipra commented on #199
Thanks for your reply @hardikvij195
---------------
No need to downgraded.
Just run ios-> Runner.xcworkspace in XCODE(do pod install).
It will run easy on simulator and real device.

[2021-10-19 10:41] hemantgarg67 commented on #192
resolved?

[2021-10-27 11:34] tazsid opened #202 "Need callback for getting payment details"
## Description
I am trying to check which payment mode is used but getting the information in log but can't find any callback in code.

## Flutter Version :
2.5.3

## Steps To Reproduce

1. Call open checkout.
2. Do test failure or success payment.

## Expected Results
Callback having all payment details

[2021-10-29 08:02] #202 closed, assigned to nobody

[2021-10-29 08:07] tazsid opened #203 "Unable to make email optional with prefill option"
## Description
I am trying to make email id optional but unable to do so even. I tried not passing email in prefill option but still not working.

## Flutter Version :
2.5.3

## Steps To Reproduce

1. Add prefill options like below
[code]
2. Open checkout

## Expected Results
Email should get optional

[2021-11-02 17:20] TheStarkster commented on #131
im also facing this issue and im using **v1.2.7**
i followed every single step carefully (and there're not many steps anyway)
and below is the obvious code

[code]

i tried different versions too tried 1.2.6 & 1.2.3, why these version specifically? because i already integrated those versions in my previous projects and was working fine.

now the funny thing is all of those version above throwing d

[2021-11-07 06:50] krButani opened #204 "Build issue"
* I try to add your lib into my flutter project and write full code when I was trying to run the program following error is coming out.

* Also I Set android:exported="true" on mainfest.xml file but still same issue is generated.

Error:
	android:exported needs to be explicitly specified for <activity>. Apps targeting Android 12 and higher are required to specify an explicit value for `android:exp

[2021-11-08 07:36] eastern-codemonk commented on #167
I ended up removing the SDK.

[2021-11-09 18:09] aadil058 commented on #199
Facing the same issue. Working on a real device but not on a simulator.

[2021-11-12 12:41] jigarfumakiya opened #205 "Error: module compiled with Swift 5.4.2 cannot be imported by the Swift 5.5.1 compiler"
Hello There

I am trying to integrate this SDK into my app. I have done all the steps and still giving the error.

## Description
I have updated the pod file as your docs. And still says **error: module compiled with Swift 5.4.2 cannot be imported by the Swift 5.5.1 compiler:**

I have tried the below solution

- https://stackoverflow.com/questions/58654714/module-compiled-with-swift-5-1-cannot-be

[2021-11-12 13:38] jigarfumakiya commented on #199
Getting the same issue.
Any update on this?

[2021-11-14 10:07] netpixeltech commented on #181
Any solution for this ?Please help

[2021-11-15 14:26] Priyanshu-2001 commented on #126
did u find any solution I am facing same issue

[2021-11-17 05:31] paddy57 opened #206 "Crash on Android, Fatal Exception: java.lang.NoSuchFieldError (CheckoutPresenterImpl.java line 173)"
## Description
On Android devices app crashes.

## Flutter Version :
razorpay_flutter: ^1.2.7

## Snack, code example, screenshot, or link to a repository:

Fatal Exception: java.lang.NoSuchFieldError
No static field activity_result_invalid_parameters of type I in class Lcom/razorpay/R$string; or its superclasses (declaration of 'com.razorpay.R$string' appears in base.apk)

`com.razorpay.CheckoutP

[2021-11-17 05:33] paddy57 commented on #192
@hemantgarg67 @madhu6264 are you able to resolve this ?

[2021-11-17 14:10] manisics commented on #205
I am also facing the same issue. did you find any solution on this? @jigarfumakiya jigarfumakiya

[2021-11-18 04:14] niyasmhdth commented on #205
Facing the same issue, Please anyone has a solution for this?

[2021-11-18 05:27] jigarfumakiya commented on #205
No, I have tried multiple workaround nothing works.
No response from RazorPay Team.

[2021-11-18 05:32] jigarfumakiya commented on #204
Hey @krButani
Did you define android:exported="true" in MainActivity?

[2021-11-18 05:45] jigarfumakiya commented on #205
#199 This might help.

[2021-11-18 08:19] krButani commented on #204
Yes

[2021-11-18 12:09] i-m-aman commented on #192
Any solution guys? I am getting this crash every day in crashlystics.

[2021-11-19 05:38] sumedht commented on #192
@madhu6264 Any steps to reproduce it would be helpful

[2021-11-22 05:48] niyasmhdth commented on #205
Cant work on projects with Razorpay cause of this issue. authors, please look into this issue. The last working Xcode Version was 12.5.1 but cant downgrade to that since it will only work on Mac OS Big Sur. Again have to downgrade OS too.

[2021-11-22 06:04] jigarfumakiya commented on #205
Yes, Have the same issue.

[2021-11-22 10:01] niyasmhdth commented on #205
Got a workaround @jigarfumakiya

[2021-11-22 10:29] jigarfumakiya commented on #205
What is the workaround? @niyasmhdth
Downgrade flutter version ?

[2021-11-22 11:23] niyasmhdth commented on #205
<img width="1704" alt="Screenshot 2021-11-22 at 4 50 05 PM" src="https://user-images.githubusercontent.com/44252714/142852979-abdeac8f-7981-4dfa-b3fc-111c92d0ddaa.png">
Build Libraries for distribution - Turn. it to no.
<img width="1691" alt="Screenshot 2021-11-22 at 4 51 26 PM" src="https://user-images.githubusercontent.com/44252714/142852998-c049eca3-9ff7-4e0a-99cd-dfc307b29dc4.png">
Build Libra

[2021-11-22 11:47] jigarfumakiya commented on #205
@niyasmhdth
Did you make release build?
Check for errors

[2021-11-22 16:31] ib-8 opened #207 "No appropriate payment method found"
Payment Failed
Error message is "No appropriate payment method found"

Here's the Checkout options

var options = {
      'key': 'razr_test_key',
      'amount': 50000,
      'name': 'Acme Corp.',
      'description': 'Fine T-Shirt',
      'order_id': result['id'],
      "currency": "INR",
      'timeout': 60,
      'prefill': {
        'contact': '8888888888',
        'email': 'test@razorpay.com'

[2021-11-22 18:23] #207 closed

[2021-11-23 01:18] mineshamin1 commented on #205
I am having same issue.  what is the fix?

[2021-11-23 06:29] niyasmhdth commented on #205
Haven't yet but soon. hope it wont have release errors

[2021-11-23 07:47] rkumar1904 commented on #205
I tried it, it's not working 🤔

[2021-11-23 08:09] jigs2707 opened #208 "com.razorpay.checkout(18552): Webview JS Error: Uncaught ReferenceError: otpPermissionCallback is not defined I/chromium(18552): [INFO:CONSOLE(1)] "Uncaught ReferenceError: otpPermissionCallback is not defined", source: https://api.razorpay.com/v1/checkout/public?version=1.6.10&library=checkoutjs&platform=android (1)"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Flutter plugin release to make sure your issue has not already been fixed:

## Flutter Version :
Run `flutter version` in your terminal and cop

[2021-11-23 08:22] niyasmhdth commented on #205
Which Xcode version are u using?

[2021-11-23 10:49] #208 closed

[2021-11-23 14:51] mineshamin1 commented on #205
I added the following file in the Podfile and now able to build successfully. This is required specifically for the new M1 chip.

`config.build_settings["EXCLUDED_ARCHS[sdk=iphonesimulator*]"] = "arm64"`

Podfile code,

[code]

[2021-11-26 07:13] SanketPrograms commented on #207
Bro Just use the proper razorpay test key, you will get all wallets options

[2021-11-30 15:33] KartikShrivastava commented on #43
This medium article explains whole razorpay web-integration with flutter-web https://vermahitesh.medium.com/razorpay-integration-in-flutter-web-a00dbc56bd17.
I've tested it in release as well and it's working well so far.

[2021-12-01 05:26] justshreyas commented on #208
What's the output of your `flutter doctor -v`

[2021-12-01 05:45] ajay-zartek commented on #161
Waiting for it...

[2021-12-01 07:18] foxy17 commented on #191
Getting same error this is preventing me to update to flutter 2.5

[2021-12-03 10:15] ArkRavi commented on #205
<img width="1280" alt="Screenshot 2021-12-03 at 3 40 24 PM" src="https://user-images.githubusercontent.com/92970760/144585126-39c35c2c-05a0-45fb-a3d6-f05ef0119679.png">

Pods in Xcode => Pods => Build Settings => Build architecture only
Set every flavor to YES
This makes app running in simulator
But i'm not sure that weather it's a good thing to do for release version

[2021-12-03 10:37] sumedht commented on #194
@shrutika-tatkare-apptware Apologies for connecting late. If u can provide more scenarios that will be helpful. In a reposting issue it's mention "sometimes" so can u provide scenario/steps for it?

[2021-12-07 07:07] setu-dev opened #209 "Failed to build module : compiler version issue"
Getting this error after Moving to Null safety with latest version of Razorpay.

## Description
Failed to build module 'Razorpay' from its module interface; the compiler that produced it, 'Apple Swift version 5.5.1 (swiftlang-1300.0.31.4 clang-1300.0.29.6)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.4 (swiftlang-1205.0.26.9 clang-1205.0.19.55)'

## Flutt

[2021-12-08 03:15] R-rama commented on #10
i  am getting this error pls help me?
Unhandled Exception: PlatformException(error, Unable to find explicit activity class {com.example.custom_razorpay/com.razorpay.flutter_customui.RazorpayPaymentActivity}; have you declared this activity in your AndroidManifest.xml?, null, android.content.ActivityNotFoundException: Unable to find explicit activity class {com.example.custom_razorpay/com.razorpay.

[2021-12-08 13:14] sanjaymajoka commented on #209
Facing Same Issue

Flutter 2.5.3 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 18116933e7 (8 weeks ago) • 2021-10-15 10:46:35 -0700
Engine • revision d3ea636dc5
Tools • Dart 2.14.4

razorpay_flutter: ^1.2.7

[2021-12-08 13:39] setu-dev commented on #209
upgraded to xcode 13.1 and it got resolved

[2021-12-08 13:39] #209 closed

[2021-12-09 11:57] bharat8 opened #210 "How to disable Pay-Later payment method?"
## Description
I am trying to disable the Pay-Later in RazorPay Payment Screen but haven't succeeded yet.

## Flutter Version :
Flutter 2.5.0 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 4cc385b4b8 (3 months ago) • 2021-09-07 23:01:49 -0700
Engine • revision f0826da7ef
Tools • Dart 2.14.0

## Steps To Reproduce
Tried to disable it by following the steps in the lin

[2021-12-09 14:17] sanjaymajoka opened #211 "error: failed to build module 'Razorpay' from its module interface; the compiler that produced it, 'Apple Swift version 5.5.1 (swiftlang-1300.0.31.4 clang-1300.0.29.6)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.4.2 (swiftlang-1205.0.28.2 clang-1205.0.19.57)'"
Facing issue to build my app for iOS only.

## Description
I am facing error while building iOS App. Issue is realted to razorpay flutter SDK because if I remove this SDK from my pubspec.yaml then my App build successfully.

## Flutter Version :
razorpay_flutter: ^1.2.7

## Xcode Version :
Xcode: 13.1

## Mac
M1 Chip

## Cocoapod Version :
razorpay-pod (1.1.17)
razorpay_flutter (1.1.10):
    - Flu

[2021-12-10 04:02] narimetisaigopi opened #212 "Failure [INSTALL_PARSE_FAILED_MANIFEST_MALFORMED: Failed parse during installPackageLI: /data/app/vmdl1496274698.tmp/base.apk (at Binary XML file line #194): com.razorpay.CheckoutActivity: Targeting S+ (version 31 and above) requires that an explicit value for android:exported be defined when intent filters are present] Error launching application on sdk gphone64 arm64."
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Flutter plugin release to make sure your issue has not already been fixed:

## Flutter Version :
Run `flutter version` in your terminal and cop

[2021-12-10 04:44] prathmeshbijjargi commented on #211
Hi Sanjay,

Our SDK is compiled at swift 5.5, this is the cause of the issue.
Swift 5.5 has more advanced features like _Concurrency as you are using a lower version of Swift version 5.4.2.
Kindly request you to update the swift version and clean build and run the application.

[2021-12-10 06:03] sanjaymajoka commented on #211
Hi Prathmesh,

Thanks for reply. But we already using this in our pod file.

below is the code in my pod file:
[code]

I also tried with
[code]
But result is same with error.

**Note** : If I check swift version in my mac using `swift --version` then it show `5.4.2`.

[2021-12-10 09:51] Akash-Neeli opened #213 "Failed to build module 'Razorpay' from its module interface; the compiler that produced it, 'Apple Swift version 5.5.1 (swiftlang-1300.0.31.4 clang-1300.0.29.6)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.3.2 (swiftlang-1200.0.45 clang-1200.0.32.28)'"
[✓] Flutter (Channel stable, 2.5.0, on Mac OS X 10.15.7 19H1417 darwin-x64, locale en-SG)
    • Flutter version 2.5.0 at /Users/gourav/Developer/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 4cc385b4b8 (3 months ago), 2021-09-07 23:01:49 -0700
    • Engine revision f0826da7ef
    • Dart version 2.14.0

[✓] Android toolchain - develop for Android

[2021-12-10 10:44] sanjaymajoka commented on #211
Hi Issue is Fixed Now.

As I already installed xcode 13.1 (direct download , Not form App Store) and Update Mac OS. But I didn't removed my old xcode from application which had swift 5.4. After removing old xcode from my mac Every thing worked successfully.

Note: xcode 13.1 comes with swift version 5.5.1

[2021-12-10 10:45] #211 closed

[2021-12-10 10:47] sanjaymajoka commented on #213
Hi I faced same issue. To solve this I downloaded xcode 13.1 (comes with swift 5.5.1) and updated my Mac OS. But still no success.

But after removing my old xcode (had swift 5.4) my iOS app build Successfully.

[2021-12-10 11:35] Akash-Neeli commented on #213
Could you please specify which xcode Version, Macos Version and razorpay version you are using ?

[2021-12-13 06:09] paddy57 commented on #192
Any solution yet, seeing same crash on firebase crashanalytics.
@sumedht I think crash happens when we call _razorpay.open.

[2021-12-14 07:47] RishabhDhiman opened #215 "Payment SDK crashes on Android"
While opening the Razorpay SDK from Android the SDK crases for the first time and subsequent SDK calls are successful. I'm getting "java.lang.NullPointerException: println needs a message" this exception.

[2021-12-14 07:55] vivekshindhe commented on #215
@RishabhDhiman that points that the key isn't being set properly. Could you please send the payload that you are using? Redact the key value.

[2021-12-14 08:08] RishabhDhiman commented on #215
For failed case

{"name":"Pustakey","description":"985431950099555","order_id":"order_IXHcmHdJPY9Qks","currency":"INR","amount":850000,"prefill.email":"testingdemon123@gmail.com","prefill.contact":"testingdem"}

Foe success case

{"name":"Pustakey","description":"851063258661703","order_id":"order_IXHdXGQ87WKjpp","currency":"INR","amount":850000,"prefill.email":"testingdemon123@gmail.com","prefill

[2021-12-14 09:20] RishabhDhiman commented on #215
The issue is fixed there was some problem with the checkout object initialization.

[2021-12-14 09:20] RishabhDhiman commented on #215
The issue is fixed there was some problem with the checkout object initialization.

[2021-12-14 09:20] #215 closed

[2021-12-14 12:01] xmrdot0 commented on #126
I had the same issue, alhamdulillah solved it by multiplying the amount * 100

[2021-12-14 13:34] sumedht commented on #212
Add above code in Manifest file

<receiver
    android:name="com.razorpay.RzpTokenReceiver"
    android:exported="false">
    <intent-filter>
        <action android:name="rzp.device_token.share" />
    </intent-filter>
</receiver>

<activity
    android:name="com.razorpay.CheckoutActivity"
    android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
    android:exported="true"
    a

[2021-12-14 13:34] #212 closed

[2021-12-14 13:38] ramprasadAnand commented on #205
Please remove the `razorpay-flutter` dependency from `pubspec.yaml` file and save it. and reinstall the `razorpay-flutter` dependency to fix this issue. Make sure the installed `razorpay-pod version is 1.1.17`.

[2021-12-17 10:27] ankitsaini12 opened #216 "Service not registered: com.razorpay.AdvertisingIdUtil$AdvertisingConnection@bc6b15d"
## Description
Getting issue in crashytics

## Stack trace
Caused by java.lang.IllegalArgumentException: Service not registered: com.razorpay.AdvertisingIdUtil$AdvertisingConnection@bc6b15d
       at android.app.LoadedApk.forgetServiceDispatcher(LoadedApk.java:1772)
       at android.app.ContextImpl.unbindService(ContextImpl.java:1911)
       at android.content.ContextWrapper.unbindService(Context

[2021-12-17 10:29] ankitsaini12 commented on #206
getting same issue

[2021-12-21 06:16] shrutika-tatkare-apptware commented on #213
Do you found any solution ?

[2021-12-22 05:29] Akash-Neeli commented on #213
Yes, I've run the project in Latest Xcode 13 and it is working Fine

[2021-12-23 06:56] deepak-kumar-swain opened #217 "Not able to run in Android 12, version 31, S+"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
com.razorpay.CheckoutActivity: Targeting S+ (version 31 and above) requires that an explicit value for android:exported be defined when intent filters are present]

## Flutter Version :
Run `Flutter (Channel stable, 2.8.1, on macOS 12.1 21C52 darwin-arm, locale en-IN)` in your t

[2021-12-24 07:05] the-kool-sk commented on #205
Created new flutter project
Add razorpay dependency in pubspec.yaml
Cleaned and rebuild the flutter app
Run the project again on iOS simulator and build failed

<img width="616" alt="Screenshot 2021-12-24 at 12 34 34 PM" src="https://user-images.githubusercontent.com/49877156/147327513-ac7afc3d-610e-4682-b673-49ebb31f7353.png">

<img width="1238" alt="Screenshot 2021-12-24 at 12 35 26 PM" src="htt

[2021-12-24 09:42] jigarfumakiya commented on #205
Hey @the-kool-sk
No response from the RazorPay team.
For now, you can move back to flutter version 2.5 and it will work.

[2021-12-26 19:00] hardikvij195 commented on #109
error: unable to load standard library for target 'arm64-apple-ios10.0'
/Users/hardikvij/Development/FlutterSdk/flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_flutter-1.2.7/ios/Classes/RazorpayDelegate.swift:2:8: error: module compiled with Swift 5.4.2 cannot be imported by the Swift 5.5.2 compiler: /Users/hardikvij/Development/AppSynergies/MingleWiseNew/ios/Pods/razorpay-pod/Pod/Razorpay.fra

[2021-12-27 06:03] SanketPrograms commented on #180
'theme.color':'#00AC4C', use this line in razorpay options theme will change..

[2021-12-27 07:08] hardikvij195 commented on #205
@jigarfumakiya @rkumar1904 @niyasmhdth @razorpay-sanjib  did u guys find any sol ?... I upgraded my flutter to latest 2.8.1 and app is running on android but on iOS I am still stuck on the same issue.

[2021-12-27 07:18] hardikvij195 commented on #199
@cmdr-shipra @aboutlan @jigarfumakiya any luck fixing this ?

[2021-12-27 07:19] jigarfumakiya commented on #205
@hardikvij195 check this.

[2021-12-27 07:22] jigarfumakiya commented on #199
@hardikvij195 Check   #205

[2021-12-27 07:40] hardikvij195 opened #218 "Example App is not working on latest flutter 2.8.1 and Xcode version - 13.2.1"
the example app included in the package is not working....please fix it as we are a big app and a lot of our customers are using razor pay as payment method.....or the only sol for us would be to shift to some other payment method

[2021-12-27 07:44] hardikvij195 commented on #107
@Nautiyalsachin  sample app is also not working on flutter 2.8.1 Xcode 13

[2021-12-27 07:50] hardikvij195 commented on #120
@Nautiyalsachin it's not working on latest flutter version on iOS simulator

[2021-12-27 07:54] hardikvij195 commented on #213
@Akash-Neeli  not working for me

[2021-12-27 12:11] yogesh-wittyfeed commented on #192
Getting this crash when we call _razorpay.open. Multiple crashes log on play-store

java.lang.RuntimeException:
  at android.app.ActivityThread.deliverResults (ActivityThread.java:5541)
  at android.app.ActivityThread.handleSendResult (ActivityThread.java:5582)
  at android.app.servertransaction.ActivityResultItem.execute (ActivityResultItem.java:51)
  at android.app.servertransaction.TransactionE

[2021-12-27 12:29] yogesh-wittyfeed opened #219 "java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference"
When open razorpay.open method.

java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference
W/System.err(14550): 	at org.json.JSONTokener.nextCleanInternal(JSONTokener.java:121)
W/System.err(14550): 	at org.json.JSONTokener.nextValue(JSONTokener.java:98)
W/System.err(14550): 	at org.json.JSONObject.<init>(JSONObject.java:164)
W/Syste

[2021-12-27 13:59] the-kool-sk commented on #205
Issue with this way is, we need to downgrade most of the other packages which we are using in application. So not an ideal solution.

[2021-12-28 03:44] jigarfumakiya commented on #205
I know it is not an ideal solution but this Is the only solution as of now.

[2021-12-28 09:18] ramprasadAnand commented on #205
We have added swift module stability from version 1.1.17, which will solve the above swift version incompatibility issue. Please make sure to you have the razorpay-pod version as 1.1.17 inside ios -> podfile.lock.

[2021-12-28 10:30] Akash-Neeli commented on #213
Could you post your error log?

[2021-12-28 10:36] Akash-Neeli commented on #199
for me, Running iOS Folder in Xcode helped. But, I can't run the code on iOS device using flutter

[2021-12-28 10:40] aadil058 commented on #199
Try to hardcode different Razorpay-pod versions in your podfile. For me `pod 'razorpay-pod', '1.1.16'` worked.

[2021-12-28 11:06] sanjaymajoka commented on #213
Check this closed issue.
https://github.com/razorpay/razorpay-flutter/issues/211

[2021-12-29 05:04] vivekshindhe commented on #219
@yogesh-wittyfeed this does not feel like a fatal exception. Could you please describe what the issue is? Where it crashes and the payload you are using.

[2021-12-29 23:46] graphionic opened #220 "Provide support for latest xcode 13 & flutter 2.8"
Please provide support for the new xcode 13. My working app is stopped
Because of updating xcode and flutter please make it compatible with latest versions.

[2021-12-30 06:00] ramprasadAnand commented on #220
Hi @graphionic, we apologise for the inconvenience. We are not facing any problem on Xcode 13,  can you please share the the latest **flutter** version and **razorpay_flutter** SDK version you are using ?

[2021-12-30 06:07] graphionic commented on #220
@ramprasadAnand

[✓] Flutter (Channel stable, 2.8.1, on macOS 12.1 21C52 darwin-x64, locale en-IN)
    • Flutter version 2.8.1 at /Users/graphionic/Developer/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 77d935af4d (2 weeks ago), 2021-12-16 08:37:33 -0800
    • Engine revision 890a5fca2e
    • Dart version 2.15.1

[✓] Android toolchain - develop

[2021-12-30 06:21] yogesh-wittyfeed commented on #219
@vivekshindhe When I call this function _razorpay.open() then I have got above error.
This is Payload:
[code]

[2021-12-30 06:32] vivekshindhe commented on #219
@yogesh-wittyfeed thank you for the payload. Could you please describe what you see on the device? A video would be very helpful

[2021-12-30 07:27] ramprasadAnand commented on #220
Hi @graphionic, our latest **razorpay_flutter** version is `1.2.7`, Can you please upgrade to this version and check ?

[2021-12-30 07:46] graphionic commented on #220
@ramprasadAnand
Done,
But Still No Luck.
Got Same Error As Above

<img width="1146" alt="Screenshot 2021-12-30 at 1 15 39 PM" src="https://user-images.githubusercontent.com/38457965/147731753-0c6f1ff0-23ca-4f6f-82a7-591bd089ddb0.png">

[2021-12-30 07:54] ramprasadAnand commented on #220
If you are running on simulator, can you add below lines of code in Podfile and do the pod install and run ?

[code]

[2021-12-30 08:03] graphionic commented on #220
@ramprasadAnand

It Worked !! Thanks Alot !!

Before This Code In Podfile My Code Was As Below

post_install do |installer|
  installer.pods_project.targets.each do |target|
    # solves flutter The iOS Simulator deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 8.0,
    # but the range of supported deployment target versions is 9.0
    target.build_configurations.each do |config|
      con

[2021-12-30 08:23] ramprasadAnand commented on #220
In the old code the pod config was not getting set. Closing this issue as it got resolved.

[2021-12-30 08:23] #220 closed

[2021-12-30 09:50] pavanjaju commented on #218
Same here. Need to have this issue resolved asap

[2021-12-30 11:35] yogesh-wittyfeed commented on #219
@vivekshindhe
**Step**
1. call _razorpay.open() function
2. Redirect to Rezorpay  environment

That time above error is display on my logcat

[2021-12-30 12:03] vivekshindhe commented on #219
@yogesh-wittyfeed are you able to make the payment?

[2021-12-31 11:37] abbas2501 commented on #210
facing the same issue, any help ?

[2021-12-31 12:06] abbas2501 opened #221 "Not able to customize wallets and payment methods"
## Description
Not able to customize the checkout

## Flutter Version :
[code]

## Steps To Reproduce

1. Use the "options" data given below
2. Launch checkout

## Expected Results
Expected -- see only the options of payments I am trying to enable
Actual -- seeing all the options

## Snack, code example, screenshot, or link to a repository:

[code]

The checkout should show only "methods" I'm pass

[2021-12-31 14:55] graphionic commented on #199
I have same issue regarding razorpay in flutter i was working in xcode 13 latest and flutter 2.8.1
they have provided me some changes in my podfile and issue was solved i am pasting that code below please let me know if it is helpful

post_install do |installer|
  installer.pods_project.targets.each do |target|
    flutter_additional_ios_build_settings(target)
  end
  installer.pods_project.build_

[2021-12-31 14:56] graphionic commented on #205
try this in your podfile

post_install do |installer|
  installer.pods_project.targets.each do |target|
    flutter_additional_ios_build_settings(target)
  end
  installer.pods_project.build_configurations.each do |config|
    config.build_settings["EXCLUDED_ARCHS[sdk=iphonesimulator*]"] = "arm64"
  end
end

[2021-12-31 17:04] the-kool-sk commented on #205
Tried not working, Tried on Xcode 12.2 and 13.1 and 13.2.1

[2022-01-01 05:54] ramprasadAnand commented on #205
If you are running on simulator, please add the below lines in the Podfile and do the pod install and run.

[code]

[2022-01-01 06:01] the-kool-sk commented on #205
Hey Team, issue which I was getting earlier is not coming but a different issue has come up.

==================================================================================================================================
Error :
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    :1:9: note: in file included from :1:
    #import "Headers/razor

[2022-01-02 19:38] nikb7 commented on #161
Razorpay team, can you guys provide some timelines for this or shed some light on if this will ever get picked up or not?
Web support would give Razorpay a good competitive advantage over cashfree :)
@sumedht

[2022-01-03 04:01] ramprasadAnand commented on #218
@hardikvij195 Can you please share the error you are getting when building the razorpay-flutter example app on flutter 2.8.1 version ?

[2022-01-03 09:02] chiraghashtech opened #222 "Failed to build module 'Razorpay' from its module interface; the compiler that produced it, 'Apple Swift version 5.5.1 (swiftlang-1300.0.31.4 clang-1300.0.29.6)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.3 (swiftlang-1200.0.29.2 clang-1200.0.30.1)'"

[2022-01-04 01:45] aboutlan commented on #199
My way is trying to exclude razorpay  iphonesimulator's arm64 in podfile. @hardikvij195

[code]

[2022-01-05 06:49] Nitingadhiya commented on #218
@ramprasadAnand Can you please check below error? How I can fix that?
![image](https://user-images.githubusercontent.com/7464953/148172879-d910c4ec-6b70-4381-ab28-e90d96f3f7b3.png)

[2022-01-05 11:44] saiswaroop93 commented on #217
Even I am facing same issue. What is the solution or work around for this?

[2022-01-05 13:05] jigarfumakiya commented on #206
Same issue.
Any update here?

[2022-01-07 05:40] sumedht commented on #219
@yogesh-wittyfeed Any updates on this?

[2022-01-07 06:25] Karthick-Ramachandran commented on #212
@sumedht stuck at same error, can you please tell me where to put this and solve this error. Usiung 2.8.0 flutter version

[2022-01-07 08:50] ramprasadAnand commented on #218
@Nitingadhiya Please refer this issue thread. https://github.com/razorpay/razorpay-flutter/issues/220

[2022-01-07 19:20] Dalinar651 commented on #219
I am also getting a similar error @vivekshindhe yes the payment is getting through

[2022-01-08 05:55] yogesh-wittyfeed commented on #219
@vivekshindhe @sumedht
Yes, I am able to make the payment.

[2022-01-10 09:40] athul-ain commented on #217
Razorpay team suggested to add the following code in your android manifest.xml file

[code]

[2022-01-11 09:51] jessejay247 commented on #222
same issue

[2022-01-11 18:13] singlakaran opened #227 "CocoaPods could not find compatible versions for pod "razorpay_flutter"(1.2.7)"
## Description
<img width="583" alt="image" src="https://user-images.githubusercontent.com/26064126/148997618-a9d23aac-2aba-4f20-b97f-e7b4f6520fe8.png">

## Flutter Version :
[✓] Flutter (Channel stable, 2.8.1, on macOS 12.1 21C52 darwin-x64, locale
    en-IN)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 13.2.1)
[✓] C

[2022-01-12 05:28] singlakaran commented on #227
it's a critical error and because of this release is stuck. Can anybody provide me time estimatation?

[2022-01-12 11:24] mhdshuhaib1704 commented on #222
Im also facing same issue. I think we need to update xcode version to 13.2.1.

@jessejay247 @chiraghashtech which version xcode are you using ?

[2022-01-12 11:29] mhdshuhaib1704 commented on #213
Which version is od Xcode used before ?

[2022-01-12 11:57] mhdshuhaib1704 commented on #227
platform : ios, '10.0'

set above code in pod file

[2022-01-12 17:30] hemap25 commented on #221
@abbas2501 - Please replace
[code]
 with,
[code]

[2022-01-12 18:00] abbas2501 commented on #221
That worked charmingly well, can you also tell me the solution for wallets ?

[2022-01-12 19:05] SuseeRaja opened #228 "Razorpay integration issue both android and iOS in razorpay_flutter 1.2.7"
AndroidManifest.xml Error:
	Apps targeting Android 12 and higher are required to specify an explicit value for `android:exported` when the corresponding component has an intent filter defined. See https://developer.android.com/guide/topics/manifest/activity-element#exported for details.

[2022-01-12 20:01] hakimkhan92 commented on #222
I am facing the same issue.

I am using xcode version to 13.2.1.

[2022-01-13 04:57] mhdshuhaib1704 commented on #222
@hakimkhan92 please try after re installing your xcode

[2022-01-13 07:07] pr-1 commented on #228
Facing same issue And I checked theMerged Generated manifest file. Razorpay is missing the `android:exported`  value.

[code]

[2022-01-13 07:40] pr-1 commented on #228
@sumedht Please have a look at this and the pr i created. Let me know if it needs any change.

[2022-01-13 09:30] #228 closed

[2022-01-13 09:49] hemap25 commented on #221
You can add the payment method you want to hide by mentioning it in the hide parameter as "method": "payment_method". Please check the code below for the solution.

[code]

[2022-01-15 09:27] GauravCalidig commented on #179
https://pub.dev/packages/razorpay_web You Can use this till the official one starts supporting

[2022-01-15 09:27] GauravCalidig commented on #178
https://pub.dev/packages/razorpay_web You Can use this till the official one starts supporting

[2022-01-15 09:27] GauravCalidig commented on #161
https://pub.dev/packages/razorpay_web You Can use this till the official one starts supporting

[2022-01-15 09:27] GauravCalidig commented on #110
https://pub.dev/packages/razorpay_web You Can use this till the official one starts supporting

[2022-01-15 09:27] GauravCalidig commented on #43
https://pub.dev/packages/razorpay_web You Can use this till the official one starts supporting

[2022-01-15 11:10] IAmSarthakVerma opened #231 "Payments made with Paytm are getting failed"
## Description

The payments made with the Wallets>Paytm option are getting failed on the app. Other payment methods are working fine.
The payments are being shown as AUTHORIZED in the RAZORPAY DASHBOARD and are available for capturing.

The screenshot of the error at frontend:
![order-error-paytm](https://user-images.githubusercontent.com/20480867/149619073-fb4a8056-ac58-4e35-8ba8-47cbc5010984.pn

[2022-01-15 13:05] nikb7 commented on #161
Can you share some eta or timelines on the official support ?
Thanks

On Sat, 15 Jan 2022 at 2:57 PM, Gaurav Yadav ***@***.***>
wrote:

--
Nikhil
(Head Developer TechOn Labs)

[2022-01-15 15:16] mohitarora7272 commented on #217
I got same issue when update my android version to 12. Please add android:exported="false" under receiver tag as @athul-ain  suggested. Currently i have run my code to locally edit menifest.xml file to make it work.

[2022-01-17 17:25] nikb7 commented on #161
this package is giving an error while compiling it on android
../flutter/.pub-cache/hosted/pub.dartlang.org/razorpay_web-1.0.2/lib/src/payments_web.dart:81:20: Error: Constant evaluation error:
      return const HtmlElementView(viewType: 'rzp-html');
                   ^
`const` needs to be removed from here
Can you please update it, I tried raising a PR, but I guess access it limited to only you

[2022-01-18 03:54] GauravCalidig commented on #161
Sure will do @nikb7

[2022-01-18 05:02] abbas2501 commented on #221
I do understand that but my second query is about hiding certain wallets. What you're telling will hide/show the wallet option completely. I'm trying to show for example only paytm inside wallets. Please check out original post. Thank you!

[2022-01-18 05:31] ramprasadAnand commented on #218
Closing the issue due to no activity.

[2022-01-18 05:31] #218 closed

[2022-01-18 12:51] ValeraLetun opened #235 "JCenter deprecated"
JCenter deprecated

https://stackoverflow.com/questions/66651640/jcenter-deprecation-impact-on-gradle-and-android

Please replace

jcenter()

with this:

mavenCentral()

in file android\build.gradle

After February 1st, 2022 jcenter() will not work anymore.

[2022-01-19 07:33] gouravd commented on #192
Is anyone looking into this?

[2022-01-27 14:55] kishan-ck commented on #222
I am facing the same issue.

I am using xcode version to 13.2.1.

[2022-01-27 22:17] Manojkumar-android commented on #194
same issue

[2022-01-31 12:49] krishna-pietech commented on #227
We also stuck with this issue. @Nautiyalsachin can you help us ?

[2022-02-02 16:58] itspwk opened #237 "App crashes when try to open razorpay windows"
I have razorpay_flutter 1.2.9, When I try to open razorpay checkout app crashes with below error :

`W/System.err(18248): 	at android.app.ActivityThread$H.handleMessage(ActivityThread.java:2066)
W/System.err(18248): 	at android.os.Handler.dispatchMessage(Handler.java:106)
W/System.err(18248): 	at android.os.Looper.loop(Looper.java:223)
W/System.err(18248): 	at android.app.ActivityThread.main(Activ

[2022-02-03 04:51] sumedht commented on #237
@itspwk Have u added proguard rule in app listed [here](https://razorpay.com/docs/payments/payment-gateway/android-integration/standard/#proguard-rules)

[2022-02-03 04:52] sumedht commented on #231
@IAmSarthakVerma Issue is with only Paytm or all other payment gateways? @razorpay/techpgintegrations can u check with this?

[2022-02-03 05:28] itspwk commented on #237
Yes, I added these rules.

[2022-02-03 11:02] wa11breaker commented on #237
@sumedht
Try removing the order_id
[code]

[2022-02-04 07:25] itspwk commented on #237
Still same problem

[2022-02-04 13:03] singlakaran commented on #227
Fortunately, it's working on a real device but could not work on the emulator with flutter version 2.8.1(stable).
I am getting this error.
![image](https://user-images.githubusercontent.com/26064126/152533555-e8f07cd0-bd93-42f6-b7c3-924e46aae945.png)

[2022-02-04 15:54] aseem2625 commented on #227
@Nautiyalsachin pls help asap, same issues as above. Why is it failing in simulator?

We're stuck on release

[2022-02-05 13:12] aseem2625 commented on #227
@sayannath

<img width="1172" alt="image" src="https://user-images.githubusercontent.com/6055628/152643414-58f3aa1c-aabc-4df8-b72d-391811716214.png">

[2022-02-05 18:34] Suheb786 commented on #237
Same here i think this problem could be in this latest version

[2022-02-07 17:10] itspwk commented on #237
hey Razorpay team,

Do you have any solution for this.

[2022-02-12 10:07] aseem2625 commented on #227
[vivekshindhe](https://github.com/vivekshindhe) pl check

[2022-02-12 10:08] aseem2625 commented on #227
@sumedht
@vivekshindhe
@Nautiyalsachin

 pl check

[2022-02-14 07:10] Raj-tough commented on #227
I also have same issue like @aseem2625 facing. Please help. I have to complete this for production release.

[2022-02-14 10:34] adityar224 opened #238 "Success or Failure Screen after payment barely shows for 200 milliseconds"
## Description
The Screen after payment indicating whether it's a success or a failure does not stay for more than 200 milliseconds. Kinda looks janky and too quick.

## Flutter Version :
Flutter 2.10.0 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 5f105a6ca7 (13 days ago) • 2022-02-01 14:15:42 -0800
Engine • revision 776efd2034
Tools • Dart 2.16.0 • DevTools 2.9.2

[2022-02-14 19:08] PaRaDoX50 opened #239 "could not find module 'XXX' for target 'arm64-apple-ios-simulator'"
This error appears for other modules because we need to set `EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64` for Razorpay Module to run in M1 Macs.
Any workaround for this?

[2022-02-16 14:37] PaRaDoX50 commented on #239
bump

[2022-02-22 18:43] satyaattili opened #240 "Debug version of the app crashing on open(options) method call"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Integrated the razopayflutter plugin version 1.2.9 to the flutter app. While initiating the payment process by calling open method, android app crashing with Native exception that says Methods marked with @UiThread must be executed on the main thread

## Flutter Version :
Flutte

[2022-02-23 07:41] anjalijagtapbacancy commented on #221
Not working

[2022-02-23 07:43] anjalijagtapbacancy commented on #108
How to do this steps?

[2022-02-23 09:57] Hackoak commented on #240
Yes I also have the issue even adding proguard and release build any one having the solution

[2022-02-24 10:25] abbas2501 commented on #221
Can someone from razorpay help ? This is very urgent!

[2022-03-04 13:18] PawanFyers commented on #240
Facing the same issue in the app

At least the Razorpay team should respond.

[2022-03-05 04:45] Manikandan88564 commented on #194
I am also facing this issue.. Any Solution?

[2022-03-05 10:41] Manikandan88564 commented on #194
got output....

here is my code

@override
   void initState() {
     super.initState();
     razorpay = Razorpay();
     razorpay.on(Razorpay.EVENT_PAYMENT_SUCCESS, _handlePaymentSuccess);
     razorpay.on(Razorpay.EVENT_PAYMENT_ERROR, _handlePaymentError);
     razorpay.on(Razorpay.EVENT_EXTERNAL_WALLET, _handleExternalWallet);
   }

   @override
   void dispose() {
     super.dispose();
     ra

[2022-03-17 00:30] ccs1428 commented on #222
Save issue in 13.2.1 version, any one solved this issue?

Last 3 days on same issue.

[2022-03-17 07:42] xirainfotech commented on #172
Using latest Version  and it always return Null in subscription  and orderID

[2022-03-22 10:48] webtamizhan commented on #221
`
'method':{
        "card" : true,
        "netbanking" : true,
        "upi" : true,
        "wallet" : false,
        "paylater" : false
      }
`
Can you please check this?

[2022-03-23 10:00] anjalijagtapbacancy commented on #221
Its Worked , Thank you.

On Tue, Mar 22, 2022 at 4:18 PM Prabakaran T ***@***.***>
wrote:

--
<https://www.bacancytechnology.com/>
Anjali Jagtap
Jr. Android Developer | India
***@***.***

   - [image: Let's be friends on Facebook.]
   <https://www.facebook.com/BacancyTechnologyLimited>
   - [image: Follow me on Twitter!] <https://twitter.com/BacancyTech>
   - [image: Follow me on Instagram!]
   <h

[2022-03-24 07:40] harshuhere01 commented on #237
i'm also facing same issue, tried all above mentioned solution, but it's not working , Kindly give solution of this problem Razorpay team.

[2022-03-25 08:21] EjazAmir commented on #222
any solution?

[2022-03-25 08:41] ccs1428 commented on #222
I have tried to create new flutter project and integrate this library and other libraries , thats works for me.

[2022-03-28 06:03] codermonk1 opened #241 "how to get the payment id when payment is unsuccessful but the payment is debited.."
Need help

when payment is successful the it generates the payment id or it cancelled by user the got failed message
but when amount is debited and payment is unsuccessfully in that condition what we have to do?????

[2022-03-28 06:26] AhmadRehan71 opened #242 "UPI payment calls onSuccess even the payment is canceled with test keys."
Open razorpay and Click on UPI payments pay with UPI, cancel the payment by pressing back button while it's under process, A popup will appear click on Yes, Cancel it will close the window and will go to onSuccess,
Payment is canceled it should not go to onSuccess.

## Flutter Version :
Flutter version: 2.10.2
Dart version: 2.16.1
Library version = razorpay_flutter: ^1.2.9

Doctor summary (to see

[2022-03-28 06:57] vivekshindhe commented on #242
@AhmadRehan71 Are you using test keys? Test keys don't work for UPI intent payments.

[2022-03-28 07:00] vivekshindhe commented on #241
@codermonk1 It should refund that amount for you. You can also see this in your dashboard. If the payment gets failed, but the amount debited, it should be refunded.

[2022-03-28 07:03] AhmadRehan71 commented on #242
Yes it is with test Keys.
Thanks.

[2022-03-28 07:03] #242 closed

[2022-03-28 07:07] vivekshindhe commented on #238
@adityar224 We will consider this as an improvement. The whole reason for the janky movement is confirmation for the user, plus the same can be shown by the application after getting the response in either onPaymentSuccess or onPaymentFailure

[2022-03-28 07:07] #238 closed

[2022-03-28 08:41] rahul69x commented on #205
Thanks, it works

[2022-03-31 11:13] IAmSarthakVerma commented on #231
I raised a ticket with Razorpay regarding the same, they told me to change "**Industry Type**" to "**Retail109**" instead of just "**Retail**" inside the Paytm configuration, the issue was solved then but now a similar issue is appearing again.

**What is happening currently:**
The customer pays through Paytm, the money gets deducted and the plugin fires a "`Razorpay.EVENT_PAYMENT_ERROR`".

Inside

[2022-04-05 13:41] ajay-zartek commented on #237
Have the same issue.

[2022-04-05 18:42] Nishant3007 commented on #237
any solution u have found?

[2022-04-07 04:18] avinashk369 opened #244 "How to onboard new seller using route api"
I am working on a marketplace application and it has a common feature like seller list their products on the application, user make a purchase of product and application will split the payment to the seller and take its platform fees. i have checked all the razorpay api, be it route/razorpayx/partner. i assume that route api will be the good fit to cover the use case but route api has no api to cr

[2022-04-07 10:40] VigneshkumarM opened #245 "Crash : Fatal Exception: java.lang.RuntimeException Unable to start activity ComponentInfo{com.joveemart.demostore.apps.buyer/com.razorpay.CheckoutActivity}: java.lang.NullPointerException"
I used razorpay_flutter 1.3.0, When I try to call open() method app crashes with below error :

android.app.ActivityThread.performLaunchActivity (ActivityThread.java:3835)
android.app.ActivityThread.handleLaunchActivity (ActivityThread.java:4011)
android.app.servertransaction.LaunchActivityItem.execute (LaunchActivityItem.java:85)
android.app.servertransaction.TransactionExecutor.executeCallbacks

[2022-04-07 10:51] vivekshindhe commented on #245
Hey @VigneshkumarM. I just tested this. And seems to be working fine for me. Could you please send the payload that you are sending to the SDK?

[2022-04-08 04:46] harshuhere01 commented on #237
yes , in my case , the issue is backend developer doesn't changed RazorPay api_key , that's why when i'm trying to open razorpay it causes errors. so verify your RazoPay API_KEY in frontend side and backend side. if found different add same key.

[2022-04-12 20:31] sachi097 commented on #192
Facing the same issue. Any solution please.

[2022-04-15 08:39] AnmolkumarShah commented on #207
Even I am facing the same issue, bro please tell me whether you find the answer or not

[2022-04-17 04:25] ib-8 commented on #207
I got the error because of the wrong keys. It got solved when I used the right keys

[2022-04-18 13:51] omkarChend1kar opened #246 "Facing this issue, the same issue has been addressed for android, Proposed solution was to make the maximum app icon size to be 512 * 512 ,How it is related to this error and how do i impliment this for flutter"
E/com.razorpay.checkout(31190): Webview JS Error: Uncaught SyntaxError: Invalid or unexpected token
I/chromium(31190): [INFO:CONSOLE(1)] "Uncaught SyntaxError: Invalid or unexpected token", source: [https://api.razorpay.com/v1/checkout/public?version=1.6.19&library=checkoutjs&platform=android]() (1)

[2022-04-18 18:26] faisalmushtaq007 opened #247 "on the first try payment works fine, but then it doesnt give success or failure. It just closes after submiting payment"
on the first try payment works fine, but then it doesnt give success or failure. It just closes after submiting payment

I got this from a url that was in debug console
{
"error": {
"code": "BAD_REQUEST_ERROR",
"description": "Input fields not set properly",
"source": "business",
"step": "payment_initiation",
"reason": "input_validation_failed",
"metadata": {}
}
}
But why wasnt this shown on the f

[2022-04-18 19:22] vivekshindhe commented on #247
Can you send a sample payload of what you're sending to the package?

[2022-04-19 05:00] vivekshindhe commented on #246
This error is an internal warning that should not affect payments. Are payment blocked for you?

[2022-04-19 15:18] KrishanMac commented on #168
The orderAPI doesn't seems to be working right now , or am i the only one facing this error.

[2022-04-19 16:07] #221 closed

[2022-04-19 16:08] KrishanMac commented on #221
hykug

[2022-04-19 16:41] irfan-akhan commented on #247
I'm facing the same issue

[2022-04-19 16:43] vivekshindhe commented on #247
@irfan-akhan do you see any logs in android studio?

[2022-04-19 16:49] irfan-akhan commented on #247
This comes after the first payment is made successfully "Uncaught SyntaxError: Invalid or unexpected token".

[2022-04-19 16:50] faisalmushtaq007 commented on #247
@vivekshindhe this is the payload i send
`{key: rzp_test_myvOpPQKy6X26u, currency: INR, amount: 11500.0, order_id: order_JLHp7k9YxPH1VJ, name: Kiadah, description: Doctor Appointment, prefill: {contact: , email: }}`

[2022-04-19 17:26] Nishant3007 commented on #237
Please check with your backend dev or check at ur end if u r the one by making the live mode on razorpay u have to generate the new key make these changes and all rest things are working

[2022-04-21 03:04] RenextHu commented on #199
me too,xcode can run ios device,but as cannot run,,why??

[2022-04-21 05:13] jigarfumakiya commented on #199
Hello All.
Please update the Razorpay plugin to the latest `(razorpay_flutter: 1.3.0)`.

If you are running in a simulator, this code

[code]

If that does not work, try below.

- Do flutter clean Make sure you delete **pubspec.lock** and make sure you have razorpay-pod version as 1.1.17 or .17+
- Make sure you have platform ios version 10 or 10+

[2022-04-21 09:14] faisalmushtaq007 commented on #247
@vivekshindhe  ????

[2022-04-21 09:34] vivekshindhe commented on #246
@omkarChend1kar Closing this issue. Please feel free to comment to reopen the issue if you have any other issues.

[2022-04-21 09:34] #246 closed

[2022-04-21 12:30] faisalmushtaq007 commented on #247
@vivekshindhe thats the thing, event listeners are not being called.

[2022-04-21 12:41] vivekshindhe commented on #247
@faisalmushtaq007 can you send the entire log dump here after you click on pay?

[2022-04-21 12:48] faisalmushtaq007 commented on #247
@vivekshindhe
I/flutter (32073): 2022-04-21 18:16:41.309413 ℹ️ 🔌 Needs to reconnect : false
I/Timeline(32073): Timeline: Activity_launch_request time:286310617
W/ActivityThread(32073): handleWindowVisibility: no activity for token android.os.BinderProxy@f77ad23
D/com.razorpay.checkout(32073): No permission for reading SMS
D/com.razorpay.checkout(32073): CheckoutActivity onCreate called
D/ForceDark

[2022-04-21 12:54] vivekshindhe commented on #247
Looking into the logs. Will update asap

[2022-04-21 14:44] vivekshindhe commented on #247
@faisalmushtaq007 are you sending contact and email as empty in the payload? That is also what's shown in the logs. Just confirming

[2022-04-21 15:43] faisalmushtaq007 commented on #247
@vivekshindhe yes sending them  empty, so that the user could enter in razorpay

[2022-04-21 17:24] vivekshindhe commented on #247
@faisalmushtaq007 in that case you don't have to send anything in the prefill. That entire object won't be necessary. Could you please try with not sending the prefill object?

[2022-04-21 17:38] faisalmushtaq007 commented on #247
@vivekshindhe  i've already tried that as well, but still nothing

[2022-04-22 03:00] vivekshindhe commented on #247
@faisalmushtaq007 here is my email. vivek.shindhe@razorpay.com

Can you send a debug application where you see this happening

[2022-04-22 04:20] vivekshindhe commented on #247
@faisalmushtaq007 can you send me a debug app to check? I haven't been able to reproduce this at all. My email is vivek.shindhe@razorpay.com

[2022-04-22 05:47] faisalmushtaq007 commented on #247
@vivekshindhe please check your email

[2022-04-22 05:48] faisalmushtaq007 commented on #247
@vivekshindhe login credentials there as well

[2022-04-22 18:35] faisalmushtaq007 commented on #247
@vivekshindhe have you found the issue??

[2022-04-24 12:27] VigneshkumarM commented on #245
@vivekshindhe Below payload i sent in SDK

{"key":"RAZOR_PAY_KEY","amount":1000,"name":"demo store","order_id":"ORDER_ID","description":"Fine T-Shirt","prefill":{"contact":"1212121212","email":"customer@demostore.in"}}

[2022-04-25 05:00] vivekshindhe commented on #247
@faisalmushtaq007 i was able to make like 8 appointments right now. All successful too. Could you check in your dashboard?

[2022-04-25 05:15] vivekshindhe commented on #247
Also, is it possible that you are removing the listeners after the first successful payment and hence not getting callbacks for the subsequent payments?

[2022-04-25 05:16] vivekshindhe commented on #245
@VigneshkumarM I'm assuming you have added the correct proguard rules for release build?

[2022-04-25 05:17] faisalmushtaq007 commented on #247
@vivekshindhe  can you screen record it and send me via mail

[2022-04-25 05:18] faisalmushtaq007 commented on #247
@vivekshindhe was it taking you to the success screen everytime or appointment screen???

[2022-04-25 05:20] vivekshindhe commented on #247
@faisalmushtaq007 i was able to see the issue. If I reopen the application on the first attempt it showed the successful screen and then went to homepage. But subsequently it just came back to appointment page. That's fine. Are you doing

_razorpay.clear() after you get the first callback?

[2022-04-25 05:27] faisalmushtaq007 commented on #247
@vivekshindhe yes i do call _razorpay.clear

[2022-04-25 05:29] vivekshindhe commented on #247
Can you remove that? That's the call that removes the listener right? Maybe add it in another life cycle event? And check once

[2022-04-25 05:31] faisalmushtaq007 commented on #247
@vivekshindhe  alright let me check

[2022-04-25 05:50] faisalmushtaq007 commented on #247
@vivekshindhe That did the trick, thanks alot brother!

[2022-04-25 06:19] #247 closed

[2022-04-26 13:23] Kumarsatwik commented on #207
i didn't get it
.Could you tell me briefly how you solved?

[2022-04-26 16:46] SanketPrograms commented on #207
For the integration of razorpay we use the key, which is generated when we
create a razorpay account soo use that key it solve this issue

On Tue, Apr 26, 2022 at 6:54 PM Kumarsatwik ***@***.***>
wrote:

[2022-04-30 12:35] omkarChend1kar commented on #246
Actually I have list of items to buy, I found that the internal warning is shown for all the items, But for one particular item when I proceed to buy the razorpay gateway crashes and returns back to catalogue screen, And I am using coupon codes on all the items ,When I don't use coupon code on that particular item gateway doesn't crash.

[2022-05-01 05:29] VigneshkumarM commented on #245
Thanks @vivekshindhe. I missed that proguard file. Now its working fine.

[2022-05-01 05:29] #245 closed

[2022-05-02 08:26] hetthummar commented on #244
Hey avinashk369,
I also faced this problem but unfortunately, there is no API for creating a linked account
[https://razorpay.com/docs/payments/route/linked-account/](url)

So what we are currently doing is when the seller submits bank account detail we show them the message that please wait for 24 hours until we review your details, then we check the seller's detail through our dashboard and uplo

[2022-05-02 08:31] hetthummar commented on #136
I am also having this issue with test API.  Google pay is showing an invalid UPI error but Razorpay status in-app is a success.
Is it intentional behavior for test API?

[2022-05-03 19:26] avinashk369 commented on #244
Hey,
Thanks for the info. Actually they have separate api to create linked account while merchant onboarding.
I share my concern with razorpay tech support team and they gave me the api details
https://razorpay.com/docs/v2/beta/api/payments/route/account-apis-beta/
hope this helps you.

[2022-05-03 19:26] #244 closed

[2022-05-05 04:31] LOG-TAG commented on #197
https://www.youtube.com/watch?v=leni4BsbfHs still were getting this error after doing this also, if run via xcode it application runs, android studio it fails with above mentioned error

[2022-05-10 09:37] rashmisridar opened #248 "Razorpay flutter payment method screen icon missing"
Hi Team
Razorpay flutter payment method screen icon missing.

Flutter version:- (Channel stable, 2.10.3)
razorpay_flutter :1.2.9
![razor_pay](https://user-images.githubusercontent.com/8536749/167598293-38b6b273-3a56-4659-a59c-187411ecd9ec.jpeg)

[2022-05-13 05:57] xuala69 commented on #246
Getting this error when setting currency to USD, the payment page(razorpay window) is closed right after opening...any solution yet?

[2022-05-19 22:16] preteambuy opened #249 "No Payment Methods available"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
We did the integration with RazorPay and on checkout, there is no payment methods present. We have added PayTM as an external wallet in config and only that shows up. Any idea why credit cards or UPI payments aren't showing up?

## Flutter Version :
Run `flutter version` in your

[2022-05-20 06:32] prasanthvenkatachalam commented on #217
Thanks, Worked

[2022-05-20 06:33] prasanthvenkatachalam commented on #217
Thanks, worked

[2022-05-20 12:04] Manojkumar-android commented on #194
Hi @Manikandan88564 what's update in this code ? .
if we use'retry': {'enabled': true, 'max_count': 1}, this problem resolves ?

[2022-05-20 12:27] Manikandan88564 commented on #194
Yes @Manojkumar-android, that two resolves this problem

[2022-05-24 15:47] harshmsomani commented on #187
Were you able to solve this issue?

[2022-05-26 04:50] SmartNodeAutomation commented on #195
I am facing the same issue with the package razorpay_flutter: ^1.2.9. I don't know if it is solved or not in the current version.
This is the response I get from Razorpay after successful payment.
`payment success: paymentId: pay_JZj5UBrfUNwP7Y, orderId: null, signature: null`

[2022-05-26 07:14] hariicse opened #250 "No type or protocol named 'ExternalWalletSelectionProtocol'"
#No type or protocol named 'ExternalWalletSelectionProtocol'
 error occurs while running xcode build in ## Xcode Version 13.4 (13F17a).

#Swift version (swift-driver version: 1.45.2 Apple Swift version 5.6.1 (swiftlang-5.6.0.323.66 clang-1316.0.20.12)
Target: x86_64-apple-macosx12.0). Mac  OS version 12.4 (21F79).
Tried flutter clean
Tried pub get
pod install
pod update

[2022-05-26 07:58] hariicse commented on #250
@Nautiyalsachin please review this

[2022-05-27 05:05] hariicse commented on #250
build was successful for all generic type devices but when i want to build for ios simulator devices with ios 15.5 version it fails with the above error. Please provide plugin for latest ios(15.5).

[2022-06-19 15:28] tehsunnliu commented on #219
+1, Same exception. But the payment process completes. However, UPI option doesn't open any UPI apps (GPay, PhonePay, etc) installed

[2022-06-22 04:06] hetthummar commented on #244
Thanks, @avinashk369
it will help me a lot.

[2022-06-30 19:40] mage1k99 opened #252 "Memory leaks in version 1.3.0"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
I'm using the latest version of razorpay_flutter plugin which is 1.3.0 at this time. I'm facing memory leak issue in razorpay. there is already and issue #148 where the issue was addressed as fixed but it is not fixed. I even cleared the event listners in the dispose block but i

[2022-06-30 21:22] mage1k99 commented on #252
The memory leak only comes when you try to show dialog box instead of navigating to seperate screen to show the error.

[2022-06-30 21:22] #252 closed

[2022-07-04 09:54] JCZ2014 commented on #205
M1芯片上Xcode 14 beta 2编译还是错误

[2022-07-04 16:32] Neeraj204 opened #253 "RazorpayCheckoutVC.swift deinitialized"
All of sudden getting this error,
`Users/ramprasad.a/Documents/RamprasadA/project/razorpay-ios/RazorpayIOS/CheckoutOtpelf/Classes/RazorpayCheckoutVC.swift deinitialized`

It was working perfectly before and my apps are live on AppStore and PlayStore but now getting this error when debug on iOS device. If anyone faced this issue before please look into this.

[2022-07-05 05:26] ramprasadAnand commented on #253
@Neeraj204 this is not an error, this message logged when the checkout page is dismissed. This will not affect the payment.

[2022-07-05 10:18] Neeraj204 commented on #253
@ramprasadAnand after this message is print on console, the razorpay checkout screen closes suddenly with error “Payment Failed - Unexpected Error”

[2022-07-05 10:54] ramprasadAnand commented on #253
@Neeraj204 Can you share the payload you are passing to to SDK ?

[2022-07-05 11:07] Neeraj204 commented on #253
Sure @ramprasadAnand,

{key: rzp_test_j9********, currency: INR, theme.color: #FFFBF6, order_id: order_Jpf6RNBChuShSp, amount: 110.0, name: Tamil Pasang Cafe, send_sms_hash: true, description: Payable Amount is order_Jpf6RNBChuShSp, readonly: {email: true, contact: true}, prefill: {contact: , email: }, modal: {confirm_close: false, animation: true, handleback: false, subscription_card_change: true

[2022-07-05 11:44] 876arham commented on #192
Is this resolved,any update?

[2022-07-05 15:52] ramprasadAnand commented on #253
@Neeraj204 the shared payload is not a valid, can you try with the below payload and let us know if you are still facing the same issue ?

[code]

Please update the actual values where you have marked with starts (****)

[2022-07-05 16:14] Neeraj204 commented on #253
@ramprasadAnand I tried the above but it is giving me the same error. Please know that I am using it in flutter and there no changes made on the payload. The payload you shared is the same I have.

[2022-07-06 08:08] rajeshjoshi8792 commented on #244
Hii,

i m working on the same. i have 1 question regarding creating a linked account.

i have enabled test mode. and i m not able to find any test account details to use in test mode. so is there any test account details available in test mode or we have to use real account details?

[2022-07-14 07:12] navin-680 opened #254 "Remediation for Intent Redirection Vulnerability"
vulnerable to Intent Redirection.
androidx.fragment.app.FragmentActivity->startActivityForResult

// Intent Code used in the current package (1.3.0)
 Intent intent = new Intent(activity, CheckoutActivity.class);
        intent.putExtra("OPTIONS", options.toString());
        intent.putExtra("FRAMEWORK", "flutter");

        activity.startActivityForResult(intent, Checkout.RZP_REQUEST_CODE

But due

[2022-07-18 16:46] bhavik-multipl commented on #167
We are facing the same issue, I do not see any update on this.
Let me know if you need anything I can sent it through official email (if any critical information)

[2022-07-19 10:44] adbuth4christ commented on #246
Can you please explain in detail

[2022-07-25 13:05] shubham49 commented on #244
@avinashk369 @hetthummar do you know any way to update bank account details via API?

[2022-08-03 12:15] jagmohanJelly opened #260 "Razorpay is not initialising in release mode in android only"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
I have recently upgraded the Razorpay plugin to 1.3.2 and after upgrading Razorpay is not initializing in the release mode it is showing the grey screen at the time of initialization but in debug mode, it works fine.

Note: I have researched about it and found that Razorpay is d

[2022-08-03 12:24] vivekshindhe commented on #260
@jagmohanJelly not able to reproduce this. Are you getting any error in the logs? put
debuggable true in release block in build.gradle(:app). This should help you get it.

[2022-08-04 07:50] kailashyogeshwar85 commented on #167
Is there a resolution @sumedht we are facing this issue intermittently as well.

[2022-08-04 23:15] SiddheshKanawade opened #261 "Help Required: Unable to integrate razorpay with flutter"
## Description
I am not able to integrate flutter with razorpay. I have refereed to the official documentation but couldn't resolve the issue.
Ideally, on clicking on the button, it should initiate the razorpay instance but in my case nothing happens, rather I get some error in terminal. I have provided relevant information below. Any help is highly appreciated.

## Flutter Version :
[code]
`flutt

[2022-08-05 07:32] jagmohanJelly commented on #260
fixed by added progaurd

[2022-08-05 07:32] #260 closed

[2022-08-06 05:02] tailoristic commented on #167
Yes facing the same issue. With UPI payments.

[2022-08-10 11:25] #210 closed

[2022-08-12 16:34] mpnihad opened #262 "Hide Prefill data - not working"
We are sending prefilled data in options.
we need to hide the prefilled - contact and email data.
Please find the below code how i have integrated. Please correct me if i have done anything wrong

      var options = {
        'key': 'API Key',
        'amount': amount,
        'name': 'Name',
        'description': 'description value',
        **"hidden": {"contact": true, "email": false},**

[2022-08-12 16:38] mpnihad commented on #262
Please find the document i used to create the above Razorpay Payload
https://razorpay.com/docs/payments/payment-gateway/flutter-integration/standard/build-integration#17-add-checkout-options

below is the description shown in that page to hide the contact and email

![Screenshot 2022-08-12 at 10 07 14 PM](https://user-images.githubusercontent.com/59775230/184404072-06e04f94-5bf5-48af-89de-7f077185

[2022-08-16 13:19] akashmoro opened #263 "Getting error while paying through debit card in test env"
I am testing the debit card payment feature in the flutter app in "test env" but getting payment failed response every time. I am getting the following response from razorpay:
Note: Payment is going through successfully for UPI and Netbanking.

{"key":"NTZmNWIwNGZhODc1MmUyY2YxOTM5NmM0","events":[{"event":"ch:and_checkout:activity:init_start","timestamp":"1660630369","properties":{"local_order_id":

[2022-08-18 12:52] Nijinsha opened #265 "App crashing when opening razorpay payment screen"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
The app is crashing when you are on razorpay payment screen
## Flutter Version :
Run `flutter version` in your terminal and copy the results here.

# Received
E/AndroidRuntime(27675): FATAL EXCEPTION: OkHttp Dispatcher
E/AndroidRuntime(27675): Process: com.redacted.dev, PID: 276

[2022-08-20 12:49] TusharKhari commented on #42
As I used razor pay plugin today and it showed me some this  signature error  :
* What went wrong:
A problem occurred evaluating project ':app'.

so fixed this error by commenting "useProguard true"  in android/app/build.gradle and it worked for me

[2022-08-25 03:31] chaitanyamolli1310 opened #266 "Android 12 support"
When I try to export my app's bundle to playstore, I get the following error message:

You uploaded an APK or Android App Bundle which has an activity, activity alias, service or broadcast receiver with intent filter, but without 'android:exported' property set. This file can't be installed on Android 12 or higher. See: developer.android.com/about/versions/12/behavior-changes-12#exported

I realiz

[2022-08-27 05:43] aman246149 commented on #221
this thing works for me
[code]

[2022-08-27 16:18] parthvirani-oceanmtech commented on #249
did you found any solution, if so please guide me same because i am also facing similar issue.

[2022-08-30 13:30] ajitmp1234 opened #267 "Error running pod install"
## Description

## Flutter Version :
Version : Flutter 2.10.5 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 5464c5bac7 (4 months ago) • 2022-04-18 09:55:37 -0700
Engine • revision 57d3bac3dd
Tools • Dart 2.16.2 • DevTools 2.9.2

## Xcode Version :
Version 13.4.1 (13F100)

## Cocoapod Version
Version 1.10.1

## Steps To Reproduce
1. Adding razorpay_flutter: ^1.3.0 t

[2022-09-03 04:53] rijazrasheed commented on #167
My multiple projects are dependent on this issue. Please find a solution.
This happens when customer chooses UPI option for payment.

[2022-09-04 21:42] sagnik-sanyal commented on #266
Pls check do you have android exported flag to true in you AndroidManifest.xml file

[2022-09-06 05:25] holy-dev commented on #185
Just remove the signature from razorpay response or you can use the new custom UI package.

[2022-09-06 08:19] Manty-K opened #268 "Overridden Company name and Logo not reflected in Loading Bank Page of Net banking flow"
## Description
In Flutter SDK when selected Net Banking option, loading bank page is not showing overridden Name and Logo provided in razorpay options.
It is working in Web SDK.

## Steps To Reproduce

1. Provide a different name in ['name'] field and different logo in ['image'] field of options.
2. Proceed to make payment in App
3. Select Net banking
4. Loading Bank page shown with original compa

[2022-09-06 08:55] vivekshindhe commented on #268
@Manty-K can you please attach a screenshot of the error you are seeing?

[2022-09-06 09:50] Manty-K commented on #268
<img width="758" alt="Screen Shot 2022-09-06 at 3 10 58 PM" src="https://user-images.githubusercontent.com/62668678/188604351-a30f6340-9e58-4b70-b079-7bc74bc0d361.png">

[2022-09-07 07:52] VishalKumarRP commented on #268
@Manty-K - Can you please share the MID here ?

[2022-09-07 08:33] Manty-K commented on #268
Will prefer to send these any details required on official email.

[2022-09-07 22:01] vivekshindhe commented on #268
@Manty-K You can forward your MID, and the payload and key you use to this email-id. vivek.shindhe@razorpay.com.
Will take this forward from there.

[2022-09-16 08:44] dishank-betaflux commented on #231
@IAmSarthakVerma did you found any resolution for this? can you update the status of this ticket?

[2022-09-16 08:47] dishank-betaflux commented on #206
@paddy57 did you found any resolution for this? can you update the status of this ticket?

[2022-09-16 08:48] dishank-betaflux commented on #187
@anasnaji25 did you found any resolution for this? can you update the status of this ticket?

[2022-09-19 05:39] jerrypaulsam opened #270 "XCode 14 Doesn't support bitcode."
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
With the latest xcode 14, enabling bitcode is showing a warning and build fails.

[2022-09-19 12:59] anasnaji25 commented on #187
didn't found any solutions , so we changed the payment gateway

[2022-09-19 12:59] anasnaji25 commented on #187
didn't found any solutions , so we changed the payment gateway

[2022-09-19 12:59] #187 closed

[2022-09-20 09:57] ramprasadAnand commented on #270
@jerrypaulsam as per Apple's release notes for Xcode 14

Xcode no longer builds bitcode by default and generates a warning message if a project explicitly enables bitcode: “Building with bitcode is deprecated. Please update your project and/or target settings to disable bitcode.”

Please build the project with default settings and let us know if you still face the same issue.

[2022-09-28 07:23] IAmSarthakVerma commented on #231
So apparently, this issue was because of the Razorpay's commission on transactions. Since Paytm is considered as a 3rd Party Wallet integration, the amount equal to the commission on the transaction should be present in your Razorpay Balance beforehand, otherwise the transaction will fail in the SDK but the customer's wallet will be deducted.
According to customer support this is the "intentional"

[2022-10-06 05:21] sarankumar-ns commented on #262
I'm also facing the same problem.

[2022-10-06 05:25] sarankumar-ns commented on #161
+1

[2022-10-06 13:54] debjeetdebnath opened #271 "RazorPay Flutter web"
Is this Flutter web package is the official package from **RazorPay** ?

https://pub.dev/packages/razorpay_web

razorpay_web: ^1.3.5

[2022-10-06 15:46] vivekshindhe commented on #271
@debjeetdebnath no. That's not official

[2022-10-06 15:47] debjeetdebnath commented on #271
then what should I do for flutter web integration?

[2022-10-10 09:17] appscriplaxminarayana commented on #41
![Skype_Picture_2022_10_10T09_14_10_964Z](https://user-images.githubusercontent.com/88077481/194833629-fa80a4dd-782b-459f-b597-ea1d90059961.jpeg)
I'm Still getting this error.
razorpay_flutter: ^1.3.2

[2022-10-11 05:08] #271 closed

[2022-10-11 05:12] debjeetdebnath opened #273 "Is it okay to use razorpay_web package as it is not official"
I want to integrate Razorpay payment into my flutter web project but there is no official package for this.In pub dev there is a forked package named razorpay_web which works in my test mode but it will be okay if I used it in production, like the owner of the package can do anything with my information or not?

[2022-10-11 20:57] amandwivedi07 opened #275 "When Opening a razorpay payment screen receiving alert on the log and everything is working fine, but some time device is crashing after successful completion of payment"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
When Opening a Razorpay payment screen receiving alert on the log and everything is working fine, but some time device is crashing after the successful completion of the payment

## Flutter Version :

flutter version: 3.3.4

##
Error receiving on log....

 Activity com.razorpay.

[2022-10-18 06:36] vivekshindhe commented on #275
@amandwivedi07 The error that you posted here is likely not the reason for the crash. Do you see any other logs?

[2022-10-21 17:11] Soorya-S commented on #187
+1

[2022-10-21 17:12] Soorya-S commented on #167
+1

[2022-10-22 06:43] techtrix008 commented on #167
Switched to webhooks implementation from Razorpay in addition to the
callback API of the package and there had been no issues since last 2
years.

Logic is to implement webhooks and on receiving of webhooks response check
if Callback API was triggered and the transaction was captured from app or
On the background once url webhook api is triggered again by Razorpay you
will capture the transaction

[2022-10-22 07:06] Soorya-S commented on #167
Seems like a promising solution.

[2022-10-30 16:52] swarup13 commented on #273
As a developer, you can just check the source code of the package if there is any malicious code present. I'm using it for production, working fine.

[2022-10-30 17:03] swarup13 opened #280 "Unable to load Maven meta-data from https://jcenter.bintray.com/com/razorpay/checkout/maven-metadata.xml."
## Description
 What went wrong:
Execution failed for task ':app:checkDebugAarMetadata'.

     Required by:
         project :app > project :razorpay_flutter

Flutter (Channel stable, 3.3.6, on macOS 13.0 22A380 darwin-arm, locale en-IN)
[✓] Android toolchain - develop for Android devices (Android SDK version 33.0.0)
[!] Xcode - develop for iOS and macOS (Xcode 14.0.1)
  razorpay_flutter: ^1.3.3
!

[2022-10-30 17:15] webtamizhan commented on #280
![Screenshot 2022-10-30 at 10 45 31 PM](https://user-images.githubusercontent.com/13689740/198892027-8226b4d0-6de8-4b97-b994-3a6380b517d3.png)

Same issue

[2022-10-30 17:18] swarup13 commented on #280
jcenter.bintray.com is permanently down

[2022-10-31 03:49] vijayvaghela72 commented on #280
hello ,

i am getting same issue recently ,

![image](https://user-images.githubusercontent.com/61325761/198927248-31e51e92-a46e-4cac-a971-087537466ef6.png)

Waiting for solution ,
Thank You in advance ...! :)

[2022-10-31 03:54] vijayvaghela72 commented on #280
@swarup13 sir ,

have you find any solution for this issue ?

[2022-10-31 04:48] mrinaljain commented on #280
![Screenshot 2022-10-31 at 10 16 55 AM](https://user-images.githubusercontent.com/7473761/198933121-042ca570-e779-42f7-a927-2e4ad1e5bfdd.png)

Is there a workaround for this?
Our major release is pending due to this.

[2022-10-31 05:29] Subrataporwal commented on #280
![Screenshot 2022-10-31 at 10 58 18 AM](https://user-images.githubusercontent.com/68791598/198937749-fcfbc6b4-3d47-4339-a6dd-52c2143beaf0.png)
getting the same issue on Razorpay pub

[2022-10-31 05:39] vijayvaghela72 commented on #280
doe to this issue my work is stopped. please let me know if find any solution .

[2022-10-31 06:55] akj-anu commented on #280
razorpay_flutter: 1.3.2   <== remove the up arrow  then try it will work

[2022-10-31 07:02] AjnasAskar commented on #280
Its only a temp solution.

[2022-10-31 07:02] vijayvaghela72 commented on #280
i found this solution for now until the not solve you can use this ,

add this lines ,

in app/build.gradle

     constraints {
        implementation('com.razorpay:checkout') {
            version {
                strictly '1.5.0'

            }
        }
    }

    in src/main/AndroidMenifest.xml file

     <activity
            android:name="com.razorpay.CheckoutActivity"
            android:e

[2022-10-31 07:04] sreejithmg123 commented on #280
It's not a good practice

[2022-10-31 07:08] swarup13 commented on #280
@vivekshindhe can you please look into this issue?

[2022-10-31 07:28] vijayvaghela72 commented on #280
in app/build.gradle

 constraints {
    implementation('com.razorpay:checkout') {
        version {
            strictly '1.5.0'

        }
    }
}

best solution for now

[2022-10-31 09:49] omkartecx commented on #280
Works for ME

[2022-10-31 09:55] omkartecx commented on #280
Working fine on this
But add the constraints inside android->app->build.grade-> then inside dependencies
{`
dependencies {
    //implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk7:$kotlin_version"

    implementation 'com.android.support:multidex:2.0.1'

    implementation 'com.google.mlkit:object-detection:16.2.7'

    apply plugin: 'com.google.firebase.crashlytics'

    constraints {

[2022-10-31 10:08] Manty-K opened #281 "App not getting compiled on Flutter 3.3.6"
## Description

App is not getting compiled on Flutter v3.3.6 |  razorpay_flutter v1.3.3.
Machine : Macbook Air (M1)

## Flutter Version :
3.3.6

## Steps To Reproduce

1. Create a new flutter project.
2. Add razorpay_flutter 1.3.3 to the ***pubspec.yaml*** file
3. run the flutter project

## Actual Results

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':a

[2022-10-31 10:10] webtamizhan commented on #281
Duplicate of [#280](https://github.com/razorpay/razorpay-flutter/issues/280)

[2022-10-31 14:55] sagnik-sanyal commented on #280
guys in your android/build.gradle can you try out :-

allprojects {
      repositories {
          all { ArtifactRepository repo ->
              println repo.url.toString()
              if (repo.url.toString().startsWith("https://jcenter.bintray.com/")) {
                  project.logger.warn "Repository ${repo.url} removed."
                  remove repo
                  mavenCentral()

[2022-10-31 15:34] mohitleo03 commented on #280
I was just figuring out the solution and found this on official razorpay_flutter git directory, the temp solution is to set the razorpay_flutter version to 1.3.2 without ^ this symbol.
for more solution refer to this link - [https://github.com/razorpay/razorpay-flutter/issues/280](https://github.com/razorpay/razorpay-flutter/issues/280)

[2022-10-31 16:16] Subrataporwal commented on #280
This Solution Works for me too, Thanks @sagnik-sanyal for sharing.
![razorpay](https://user-images.githubusercontent.com/68791598/199056671-ac30b0df-a222-4919-ae09-8920e37fb095.png)

[2022-11-01 05:02] shreyaskapale commented on #235
As of today OCT 31, jcenter.bintray which was read-only until now even after official sunsetting announcement is also offline, please migrate asap.
https://stackoverflow.com/questions/74258160/is-jcenter-down-permanently-31-oct

[2022-11-01 05:30] shreyaskapale commented on #235
@ValeraLetun please close the issue migrated to mavenCentral()
ref - https://github.com/razorpay/razorpay-flutter/pull/282

[2022-11-03 09:19] ShankarKakumani commented on #273
@swarup13, I am unable to build IOS app while using 'razorpay_web'.
is it working for you ?

[2022-11-03 10:19] vivekshindhe commented on #280
Removed the jcenter inclusion in build.gradle file. Issue fixed on v1.3.4. Thank you for your patience.

[2022-11-03 10:19] #280 closed

[2022-11-03 10:19] vivekshindhe commented on #281
Issue fixed on version 1.3.4(latest). Closing the issue for now. Please comment on open a new issue in case it persists

[2022-11-03 10:19] #281 closed

[2022-11-04 15:17] NsbSoft opened #283 "Upgrade package_info_plus"
It's not a bug but it's can you please upgrade package_info_plus plugin to latest.

[2022-11-16 12:29] drvekariya6 opened #284 "when open razzorpay sdk while i doing payment and press home button on android device and come to application using app icon rasorpay sdk was getting close and give error response...but while i come back from recent activity it is working fine...."
when open razzorpay sdk while i doing payment and press home button on android device and come to application using app icon rasorpay sdk was getting close and give error response...but while i come back from recent activity it is working fine....
it is working on ios but in andoid has occurs this issue.

aslo while open sdk and press home button flutter lifecycle was not getting any response when

[2022-11-18 03:39] vivekshindhe commented on #284
@drvekariya6 Could you please create a ticket on the dashboard so that we can understand the issue a bit more and help you out in a better way? That would be the best way to resolve this issue much faster for you.

[2022-11-19 08:05] sanketArhamLabs commented on #249
did you found any solution, if so please guide me same because i am also facing similar issue.

[2022-11-19 09:06] piyush1726 commented on #249
We are also facing the same issue, actually earlier we are on native android and ios, and everything was working fine but after moving our app to flutter, facing this same issue... anyone from razorpay..??

[2022-11-19 22:18] preteambuy commented on #249
@parthvirani-oceanmtech @sanketArhamLabs @piyush1726 -Razor pay has to approve ur account to see other payment types. Please call the customer service

[2022-11-19 22:18] #249 closed

[2022-11-22 06:33] ruhbanshah opened #285 "Razorpay Freezes at start of Checkout Activity after upgrade to 1.3.4 in Flutter"
## Description
The bug is triggered when I launch the razorpay checkout activity using "razorpay.open(options)". It first leads to a grey screen with the razorpay loader but is stuck on that screen eventually showing a blank white screen.

Attaching screenshots for clarity.

## Flutter Version :
Flutter 3.3.8 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 52b3dc25f6

[2022-11-22 06:39] vivekshindhe commented on #285
@napcraft Can you please post the payload you are using? Without the key

[2022-11-22 06:40] napcraft commented on #285
@vivekshindhe

razorpay.open({
      'key': 'XXXXXXXXXXXXXX',
      'amount': amount*100,
      'name': 'Groxery',
      'order_id':gatewayID,
      'description': 'Delivering happiness',
      'timeout': 180, // in seconds
      "notes":{"uniqueID":uniqueID},
      'prefill': {
        'contact': FirebaseAuth.instance.currentUser!.phoneNumber,
        'email': FirebaseAuth.instance.currentUser!.e

[2022-11-22 08:52] vivekshindhe commented on #285
@napcraft Can you please create a ticket in the Razorpay Dashboard? That way we have all the necessary details to get this resolved for you ASAP. Unable to reproduce the issue.

[2022-11-22 09:13] napcraft commented on #285
@vivekshindhe  : Done with ticket ID: #7093415

[2022-11-24 23:29] lalit3102 opened #286 "how to open razorpay in a bottomsheet instead of full screen, possible?"

[2022-11-25 03:19] vivekshindhe commented on #286
@lalit3102 need a bit more info on this.